<div class="card">
    <img class="card-img-top" src="{{ object.image_link }}" alt="Card image cap" width="200" height="250">
    <div class="card-body">
	<section class="thumbnails" id="content" role="main">
	    <figure class="figure">
		<br>
		<figcaption>
		    <a href="{{ object.wagtail_link }}">
			<h3 class="card-title">{{ object.title }}</h3>
		    </a>
		    <p class="card-text">{{ object.creator }}</p>
		    <p class="card-text">{{ object.publisher }}</p>
		    <p class="card-text">{{ object.date }}</p>
		    <p class="card-text">{{ object.language }}</p>
		</figcaption>
	    </figure>
	</section>
    </div>
</div>
