{% if browses %}
<div id="accordion" role="tablist" aria-multiselectable="true">
    {% for item_name, item_link in browses.items %}
    <div class="card">
        <div class="card-header" role="tab" id="{{ item_name }}">
            <h3 class="mb-0">
		<a href="{{ item_link }}"
		   aria-expanded="false"
		   aria-controls="{{ subject }}">
		    <i class="fa" aria-hidden="true"></i> {{ item_name }}
		</a>
            </h3>
        </div>
	
    </div>
    {% endfor %}
</div>
{% endif %}

{% if objects %}
{% for object in objects %}
<figure class="figure">
    {% if object.image_link %}
    <a href="{{ object.wagtail_link }}">
	<img src="{{ object.image_link }}" alt="{{ object.title }}">
    </a>
    {% endif %}
    <figcaption>
	<a href="{{ object.wagtail_link }}">
	    <h3>{{ object.title }}</h3>
	</a>
	<ul>
	    <li>{{ object.creator }}</li>
	    <li>{{ object.publisher }}</li>
	    <li>{{ object.date }}</li>
	    <li>{{ object.language }}</li>
	</ul>
    </figcaption>
</figure>
{% endfor %}
{% endif %}

{% if members %}
{{ giraffe }}
{% endif %}
