<div class="col-xs-12 col-sm-12 col-md-12 agenda">
    <div class="row agenda-header">
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% if value.start_time %}
                <span class="start-time">{{value.start_time}}</span>
            {% endif %}
            {% if value.end_time %}
                <span class="end-time">{{value.end_time}}</span>
            {% endif %}
        </div>

        {% if value.session_title %}
            <div class="col-xs-9 col-sm-9 col-md-9 session-title">
                {{value.session_title}}
            </div>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-9 agenda-body">
        {% if value.title or value.room_numbers %}
            <div class="row">
                {% if value.title %}
                    <span class="session-subtitle">{{value.title}}</span>
                {% endif %}
                {% if value.room_numbers %}
                    <span class="location">{{value.room_numbers}}</span>
                {% endif %}
            </div>
        {% endif %} 
        {% if value.presenters %}
            <div class="row agenda-presenters">
                {{value.presenters}}
            </div>
        {% endif %}

        {% if value.description %}
            <div class="row">
                {{value.description}}
            </div>
        {% endif %}
    </div>
</div>
