<div class="col-xs-12 col-sm-12 col-md-12 agenda">
    <div class="row agenda-header">
        <div class="col-xs-12 col-sm-12 col-md-3">
            {% if value.start_time %}
                <span class="start-time">{{value.start_time|time:"g:i"}}</span>
            {% endif %}
            {% if value.end_time %}
                <span class="end-time">{{value.end_time|time:"g:i"}}</span>
            {% endif %}
        </div>

        {% if value.session_title %}
            <div class="col-xs-9 col-sm-9 col-md-9 session-title">
                {{value.session_title}}
            </div>
        {% endif %}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-9 agenda-body">
        {# p.conferencesubpage.body.stream_data[7]['value']['event'][0]['room_number'] #}
        {% for event in value.event %}
            {% if event.title or event.room_number %}
                <div class="row">
                    {% if event.title %}
                        <span class="session-subtitle">{{event.title}}</span>
                    {% endif %}
                    {% if event.room_number %}
                        <span class="location">{{event.room_number}}</span>
                    {% endif %}
                </div>
            {% endif %} 
            {% if event.presenters %}
                <div class="row agenda-presenters">
                    {{event.presenters}}
                </div>
            {% endif %}

            {% if event.description %}
                <div class="row">
                    {{event.description}}
                </div>
            {% endif %}
       {% endfor %}
    </div>
</div>
