{% load wagtailimages_tags %}
{% image value.image original as original %}

{% if value.alignment == 'fullwidth' %}
   {% image value.image width-800 as tmp_img %}
{% else %}
    {% image value.image width-400 as tmp_img %}
{% endif %}

<figure class="imgcaption {{ value.alignment }}">
    {% if value.lightbox %}
        <a href="{{ original.url }}" data-toggle="lightbox" aria-label="larger view of {{value.image}}">
            <img src="{{ tmp_img.url }}" alt="{% firstof value.alt_text value.image %}" class="img-responsive" />
        </a>
    {% else %}
        <img src="{{ tmp_img.url }}" alt="{% firstof value.alt_text value.image %}" class="img-responsive" />
    {% endif %}
   
    {% if value.title or value.citation or value.caption %}
        <figcaption>
            {% if value.title %}
                <span class="img-title">{{value.title}}</span><br/>
            {% endif %}
            {% if value.citation %}
                <span class="img-citation">{{value.citation}}</span><br/>
            {% endif %}
            {% if value.caption %}
                <span class="img-caption">{{value.caption}}<span></br/>
            {% endif %}
            {% if value.source %}
                <a class="img-src" href="{{value.source}}">{{value.source}}</a>
            {% endif %}
        </figcaption>
    {% endif %}
</figure>
