{% load wagtailimages_tags %}
{% image value.image original as original %}

{% if value.alignment == 'fullwidth' %}
   {% image value.image width-800 as tmp_img %}
{% else %}
    {% image value.image width-400 as tmp_img %}
{% endif %}

<figure class="imgcaption {{ value.alignment }}">
    {% if value.lightbox %}
        <a href="{{ original.url }}">
            <img src="{{ tmp_img.url }}" alt="{% firstof value.alt_text value.image %}" class="img-responsive" />
        </a>
    {% else %}
        <img src="{{ tmp_img.url }}" alt="{% firstof value.alt_text value.image %}" class="img-responsive" />
    {% endif %}
   
    {% if value.title or value.citation or value.caption %}
        <figcaption>
            {% if value.title %}
                <em>{{value.title}}</em><br/>
            {% endif %}
            {% if value.citation %}
                <strong>{{value.citation}}</strong><br/>
            {% endif %}
            {% if value.caption %}
                {{value.caption}}
            {% endif %}
        </figcaption>
    {% endif %}
</figure>
