{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load core_intranet_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
{% for breadcrumb in breadcrumbs %}
<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
{% if not forloop.last %} &gt; {% endif %}
{% endfor %}
<h1>{{name}} Error Report</h1>
<!--
<table>
    <tr>
        <td>
            {% if errarray %}
            <ul>
                {% for err in errarray %}
                <li>
                    {{ err }}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Nothing to see here !</p>
            {% endif %}
        </td>
    </tr>
</table>
-->
<table class = "table table-sm">
    {% if errarray %}
    {% for err in errarray %}
    <tr>
        <td>
            {{ err }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
{% endblock %}