{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load core_intranet_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
{% for breadcrumb in breadcrumbs %}
    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
    {% if not forloop.last %} &gt; {% endif %}
{% endfor %}
    <h1>Emil Project Homepage</h1>
    <h4><a href = "{% url 'prelistpage' %}">Mvol Directory Report</a></h3>
    <h4><a href = "{% url 'hierarch' 'mvol' %}">Mvol Directory Viewer</a></h3>
    <h4><a href = "{% url 'about' %}"> About </a></h4>
    <h3></h3>
    <h5><a href = "/departments/bridge/">Back</a>
{% endblock %}