{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load core_intranet_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block extra_css %}
{% load static %}
<link href="{% static 'workflowautomator/mystyle.css' %}" rel="stylesheet" type="text/css"  />
{% endblock %}

{% block content %}
{% for breadcrumb in breadcrumbs %}
<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
{% if not forloop.last %} &gt; {% endif %}
{% endfor %}
<h1>Mvol Directory Report</h1>

{% if allists %}
<div class = "row">
  <div class = "col-sm-4">
    <table class = "table table-hover table-sm">
      <thead>
        <tr>
          <th>
            none
          </th>
          <th>
            Count: {{ allists.none.2 }}
          </th>
        </tr>
      </thead>
      {% for sect in allists.none.0 %}
      <tr>
        <td>
         {{ sect.1 }} 
       </td>
       <td>
         {{ sect.0 }} 
       </td>
     </tr>
     {% endfor %}
     {% if allists.none.1 == True %}
     <tr>
      <td>
        <a href = "none"> more...</a>
      </td>
      <td>
      </td>
    </tr>
    {% endif %}
  </table>
</div>
<div class = "col-sm-4">
  <table class = "table table-hover table-sm">
    <thead>
      <tr>
        <th>
          ready
        </th>
        <th>
          Count: {{ allists.ready.2 }}
        </th>
      </tr>
    </thead>
    {% for sect in allists.ready.0 %}
    <tr>
      <td>
       {{ sect.1 }} 
     </td>
     <td>
       {{ sect.0 }} 
     </td>
   </tr>
   {% endfor %}
   {% if allists.ready.1 == True %}
   <tr>
    <td>
      <a href = "ready"> more...</a>
    </td>
    <td>
    </td>
  </tr>
  {% endif %}
</table>
</div>
<div class = "col-sm-4">
  <table class = "table table-hover table-sm">
    <thead>
      <tr>
        <th>
          queue
        </th>
        <th>
          Count: {{ allists.queue.2 }}
        </th>
      </tr>
    </thead>
    {% for sect in allists.queue.0 %}
    <tr>
      <td>
       {{ sect.1 }} 
     </td>
     <td>
       {{ sect.0 }} 
     </td>
   </tr>
   {% endfor %}
   {% if allists.queue.1 == True %}
   <tr>
    <td>
      <a href = "queue"> more...</a>
    </td>
    <td>
    </td>
  </tr>
  {% endif %}
</table>
</div>
</div>
<div class = "row">
  <div class = "col-sm-4">
    <table class = "table table-hover table-sm">
      <thead>
        <tr>
          <th>
            invalid
          </th>
          <th>
            Count: {{ allists.invalid.2 }}
          </th>
        </tr>
      </thead>
      {% for sect in allists.invalid.0 %}
      <tr>
        <td>
         <a href ="{% url 'errpage' sect.1 %}"> {{ sect.1}}</a>
       </td>
       <td>
         {{ sect.0 }} 
       </td>
     </tr>
     {% endfor %}
     {% if allists.invalid.1 == True %}
     <tr>
      <td>
        <a href = "invalid"> more...</a>
      </td>
      <td>
      </td>
    </tr>
    {% endif %}
  </table>
</div>
<div class = "col-sm-4">
  <table class = "table table-hover table-sm">
    <thead>
      <tr>
        <th>
          valid
        </th>
        <th>
          Count: {{ allists.valid.2 }}
        </th>
      </tr>
    </thead>
    {% for sect in allists.valid.0 %}
    <tr>
      <td>
       {{ sect.1 }} 
     </td>
     <td>
       {{ sect.0 }} 
     </td>
   </tr>
   {% endfor %}
   {% if allists.valid.1 == True %}
   <tr>
    <td>
      <a href = "valid"> more...</a>
    </td>
    <td>
    </td>
  </tr>
  {% endif %}
</table>
</div>
</div>
{% endif %} 
{% endblock %}