{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <article>

    <div class="col-xs-12 col-sm-6">
      <h2>{{ start_label }} to {{ stop_label }}</h2>
    </div>
            
    <div class="col-xs-12 col-sm-6 event-nav">
      {% if previous_link %}
        <a href=".?start={{ previous_link|urlencode }}"><span style="font-size:0.8em;" class="glyphicon glyphicon-chevron-left"></span> Previous</a>&nbsp; &nbsp; &nbsp; &nbsp; 
      {% endif %}
      <a href=".?start={{ next_link|urlencode }}">Next <span style="font-size:0.8em;" class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <!--EVENTLIST-->
    <div class="col-xs-12">
      <table class="table table-striped etable">
        <thead>
          <tr>
            <th>Time</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          {% if entries %}
            {% for d, list in entries %}
              <tr class="etable-header">
                <th colspan="3">
                  {{ list.0.sortable_date_label }}
                </th>
              </tr>
              {% for e in list %}
                <tr>
                  <td class="time">
                    {{ e.start_time }}
                    {% if e.start_time or e.end_time %} - {% endif %}
                    {{ e.end_time }}
                  </td>
                  <td>
                    <a href="{{ e.link }}">{{ e.title|safe }}</a><br>
                    {{ e.content|safe }}
                  </td>
                  <td></td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endif %}
        </tbody>
      </table>

      {% if multiday_entries %}
        <table class="table table-striped etable">
          <thead>
            <tr>
              <th>Time</th>
              <th>Event</th>
            </tr>
          </thead>
          <tbody>
            <tr class="etable-header">
              <th colspan="3">Ongoing Events</th>
            </tr>
            {% for e in multiday_entries %}
              <tr>
                <td class="time">
                  {{ e.start_date_short_form }}
                  {% if e.start_date_short_form or e.end_date_short_form %} - {% endif %}
                  {{ e.end_date_short_form }}
                </td>
                <td>
                  <a href="{{ e.link }}">{{ e.title|safe }}</a><br>
                  {{ e.content|safe }}
                </td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}

      {% if not entries and not multiday_entries %}
        <p>There are no events scheduled for this month.</p>
      {% endif %}

    </div>
  </article>
{% endblock %}
