@import "base/css/variables.scss";
@import "base/css/base.scss";



/*
 * User Defined Variables
 * --------------------------------------------------
 *
 */

$display-font: "Helvetica Neue",Helvetica,Arial,sans-serif;



.conferencepage, .conferencesubpage {
  .jumbotron {
    min-height: 250px;
    overflow: hidden;
    padding-top: 0px;
    margin-bottom: 0;
    //background-color: $accent-color;  // needs to remain in head
    background-size: cover;
    h2 {
      color: #fff;
    }
    .container {
      padding: 0px;
      margin: 0px;
      position: relative;
      width: 100%;
    }
    .img-wrapper {
      display: none;
      @include respond-to(small) {
          display: block;
          width: 250px;
          overflow: hidden;
      }
      @include respond-to(medium) {
          width: 250px;
          overflow: hidden;
      }
      img {
          width: 200px;
          height: auto;
          @include respond-to(medium) {
              width: 250px;
          }
      }
      &+.overlaywrap {
        @include respond-to(small) {
          left: 200px;
        }
        @include respond-to(medium) {
          left: 250px;
        }
      }
    }
  }

  .jumbotron .overlaywrap {
    //background-color: rgba( $base-color, .9 );  // needs to remain in head
    left: 0;
    top: 0;
    font-family: $display-font;
    padding: 0.5em 2em;
    @include respond-to(small) {
      padding-right: 6em;
    }
    p {
      padding: 0;
      margin: 0;
      &:last-child {
          padding-bottom: 15px;
      }
    }
    h2 {
      font-weight: 100;
      font-size: $font-large*0.7;
      margin: 0;
      padding: 0px;
      letter-spacing: 0.03em;
      color: #fff;
      @include respond-to(small) {
          font-size: $font-large;
      }
    }
    .banner-subtitle {
      font-family: $display-font;
      color: #eee;
      font-size: $font-medium*0.8;
      padding-bottom:5px;
      @include respond-to(small) {
          font-size: $font-medium;
      }
    }
    .banner-loc, .banner-loc a, .banner-date {
      font-family: $display-font;
      color: #e0dddb;
      font-style: italic;
      font-size: $font-small*0.8;
    }
  }
}









