.DS_Store
*.pyc
*.swp
*.env
.sass-cache

/library_website/settings/local.py
/static
/media
/cache

node_modules/
package.json
package-lock.json
base/static/bundles/*.LICENSE.txt

django-errors.log
library_website/settings/database.db

.vagrant/
/.vagrant/

src

**/*~
.vscode
