.DS_Store
*.pyc
*.swp
.sass-cache

/library_website/settings/local.py
/static
/media
/cache

node_modules/
package.json
package-lock.json

django-errors.log
library_website/settings/database.db

.vagrant/
/.vagrant/
