.DS_Store
*.pyc
*.swp
*.env
.sass-cache

/library_website/settings/local.py
/library_website/settings/secrets.py
/static
/media
/cache

node_modules/
base/static/bundles/*.LICENSE.txt

django-errors.log
library_website/settings/database.db
*bot_ips_config.py

.vagrant/
/.vagrant/

src

**/*~
.vscode

.claude/
.gemini/
CLAUDE.md
