beautifulsoup4==4.6.0
bleach==3.1.4
DateTime==4.0.1
defusedxml
-e git+https://github.com/bbusenius/Diablo-Python.git#egg=diablo_python 
Django==2.2.12
django-appconf==1.0.2
django-bleach==0.6.1
django-compressor==2.1
django-cors-headers==2.2.0
django-libsass==0.6
django-localflavor==1.2
django-macros==0.4.0
django-modelcluster==5.0.1
django-redis
-e git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git#egg=django_shibboleth_remoteuser
django-static-precompiler==1.8.2
django-taggit==1.2.0
django-treebeard==4.3
djangorestframework==3.10.3
django-webpack-loader
elasticsearch>=5.0.0,<6.0.0
feedparser==5.2.1
html5lib==1.0.1
libsass==0.10.1
lxml
networkx
openpyxl
Pillow==6.2.2
-e git+https://github.com/owncloud/pyocclient.git@aa6b4374a779bf0f9e060117b2e8d1e810342bc8#egg=pyocclient
-e git+https://github.com/uchicago-library/pyiiif.git#egg=pyiiif
pocli==0.1.10
psycopg2
Pygments==2.0.2
pytz==2019.1
python-dateutil
rcssmin==1.0.6
requests==2.21.0
rjsmin==1.0.12
simplejson==3.11.1
six==1.12.0
sqlparse==0.3.0
Unidecode==1.0.23
urllib3==1.24.3
wagtail==2.8.1
wagtailmedia==0.5.0
wagtail-cache==0.5.2
wheel==0.24.0
Willow==1.3
zope.interface==4.1.2
