beautifulsoup4==4.8.2
bleach==3.3.0
DateTime==4.0.1
defusedxml
-e git+https://github.com/bbusenius/Diablo-Python.git#egg=diablo_python 
Django==3.1.12
django-appconf==1.0.4
django-bleach==0.6.1
django-compressor==2.4
django-cors-headers==3.2.1
django-libsass==0.8
django-localflavor==1.2
django-macros==0.4.0
django-redis
-e git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git#egg=django_shibboleth_remoteuser
-e git+https://github.com/cafehaine/django-static-precompiler.git@5499f745e5823f6eb9136a7591f9c0d5e2485a18#egg=django-static-precompiler
django-taggit==1.2.0
django-treebeard==4.3.1
django-webpack-loader==0.7.0
elasticsearch>=5.0.0,<6.0.0
feedparser==5.2.1
html5lib==1.0.1
libsass==0.19.4
lxml
networkx
openpyxl
Pillow>=8.2.0,<9
-e git+https://github.com/owncloud/pyocclient.git@aa6b4374a779bf0f9e060117b2e8d1e810342bc8#egg=pyocclient
-e git+https://github.com/uchicago-library/pyiiif.git#egg=pyiiif
pocli==0.1.10
psycopg2>=2.8,<2.9
Pygments==2.7.4
pytz==2019.3
python-dateutil
rcssmin==1.0.6
requests>=requests==2.25.1,<2.26.0
rjsmin==1.1.0
simplejson==3.11.1
six==1.14.0
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.26.5
wagtail==2.12.5
wagtailmedia==0.5.0
wagtail-cache==1.0.0
wheel==0.24.0
zope.interface==4.1.2
