bleach==3.3.0
DateTime>=4,<5
defusedxml
-e git+https://github.com/bbusenius/Diablo-Python.git#egg=diablo_python
Django==3.2.16
django-appconf==1.0.4
django-bleach==0.6.1
django-compressor==2.4
django-cors-headers==3.2.1
django-libsass
django-localflavor==1.2
django-macros==0.4.0
django-redis
-e git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git#egg=django_shibboleth_remoteuser
django-static-precompiler
django-webpack-loader==1.8.0
elasticsearch>=6.4.0,<7.0.0
libsass
lxml
networkx
openpyxl
-e git+https://github.com/owncloud/pyocclient.git@aa6b4374a779bf0f9e060117b2e8d1e810342bc8#egg=pyocclient
-e git+https://github.com/uchicago-library/pyiiif.git#egg=pyiiif
pocli==0.1.10
psycopg2
Pygments==2.7.4
python-dateutil
rjsmin==1.1.0
simplejson==3.11.1
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.26.5
wagtail==4.0.2
wagtailmedia==0.11.0
wagtail-cache==2.2.0
wheel==0.24.0
zope.interface==4.1.2
