{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12 breadcrumbs">
            <small>
                <a href="/">Staffweb Home</a>
                &gt;
                <a href="/groups/">Groups</a>
                &gt;
                {{ self.title }}
            </small>
        </div>
    </div>
	<article>
		<h1>{{ self.title }}</h1>
		{{ self.intro|richtext }}
		<p><strong>Group contact:</strong> <a href="mailto:{{ self.email }}">{{ self.email }}</a></p>

        <h2>Meetings</h2>
		<p>{{ self.meeting_time }}</p>
		<p>{{ self.meeting_location }}</p>

		<h2>Current Members</h2>
		<ul>
		</ul>

        <h2>Recent Meeting Minutes</h2>
	</article>
{% endblock %}
