{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
		<h1>{{ self.title }}</h1>
        {% for block in self.intro %}
            {{ block }}
        {% endfor %}
		<p><strong>Group contact:</strong> <a href="mailto:{{ self.email }}">{{ self.email }}</a></p>

        <h2>Meetings</h2>
		<p>{{ self.meeting_frequency }}</p>
		<p>{{ self.meeting_location }}, {{ self.meeting_start_time }}-{{ self.meeting_end_time }}</p>

		<h2>Current Members</h2>
        <table class="table table-striped">
          <tbody>
            {% for group_member in group_members %}
              <tr>
                <td>
                  <a href="{{ group_member.url }}">{{ group_member.title }}</a>
                </td>
                <td>
                  {% if group_member.role %}
                    {{ group_member.role }}
                  {% endif %}
                <td/>
            </tr>
            {% endfor %}
          </tbody>
		</table>
        {% for block in self.body %}
            {{ block }}
        {% endfor %}
        <h2>Recent Meeting Minutes</h2>
	</article>
{% endblock %}
