{% extends "intranetbase/base.html" %}
{% load wagtailcore_tags %}
{% load core_group_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12 breadcrumbs">
            <small>
                    <a href="/">Staffweb Home</a>
                    &gt;
                    Groups
            </small>
        </div>
    </div>
	<article>
		<h1>{{ self.title }}</h1>

		<p>{{ self.intro }}</p>

		<ul>
			{% group_index %}
		</ul>
	</article>
{% endblock %}
