@import url(http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/);
@import url(http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/);
@import url(http://www.netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);
/*
 *  Global Items
 * --------------------------------------------------
 */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded- opentype"), url("Content/fonts/glyphicons-halflings-regular.woff") format("woff"), url("Content/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/* line 44, sw.scss */
.font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
}

/* line 47, sw.scss */
body {
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
  margin-bottom: 70px;
  /* For sticky footer: Margin bottom by footer height */
}

/* line 52, sw.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 57, sw.scss */
html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */
}

/* line 61, sw.scss */
a {
  color: #565a25;
}
/* line 63, sw.scss */
a:hover {
  color: #8a9045;
}
/* line 66, sw.scss */
p a {
  text-decoration: underline;
}
/* line 69, sw.scss */
a.list-group-item:hover {
  background-color: #adb17d;
  color: #fff;
}

/* line 75, sw.scss */
h1 {
  font-size: 1.3em;
  line-height: .8em;
  margin-bottom: 10px;
  color: #8a9045;
  font-weight: 600;
}

/* line 83, sw.scss */
h2 {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: 700;
  color: #9A5324;
}

/* line 91, sw.scss */
h3 {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 5px;
  color: #767676;
  font-weight: 100;
}
/* line 97, sw.scss */
h3.description {
  margin-top: 0px;
  padding-bottom: 10px;
}

/* line 103, sw.scss */
h4 {
  font-size: 1.1em;
  font-style: italic;
  line-height: 0.8em;
  color: #725663;
}

/* line 110, sw.scss */
h5 {
  font-weight: 100;
  line-height: 1.5em;
}

/* line 115, sw.scss */
.date {
  font-weight: 100;
  font-size: 1.1em;
  color: #767676;
}

/*
 *  Top Navigation
 * --------------------------------------------------
 */
/* line 126, sw.scss */
.navbar > .container-fluid .navbar-brand {
  max-width: 75px;
  padding: 0;
  margin-top: 5px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  /* line 126, sw.scss */
  .navbar > .container-fluid .navbar-brand {
    max-width: 100px;
    margin-left: 20px;
  }
}

/* line 142, sw.scss */
.navbar-right {
  padding: 15px 30px;
}
@media (min-width: 768px) {
  /* line 142, sw.scss */
  .navbar-right {
    margin: 20px 20px 0 0;
    padding: 0px;
  }
}

/* line 150, sw.scss */
.btn-default {
  color: #fff;
  background-color: #8a9045;
  border-color: #ccc;
}
/* line 154, sw.scss */
.btn-default:hover {
  background-color: #adb17d;
}

/* line 159, sw.scss */
.breadcrumbs {
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  /* line 159, sw.scss */
  .breadcrumbs {
    padding-bottom: 20px;
  }
}

/* line 169, sw.scss */
.navbar-default {
  border: 0px;
  background-image: linear-gradient(to bottom, #404040 0%, #3b3b3b 100%);
  color: #dadada;
}
@media (min-width: 768px) {
  /* line 173, sw.scss */
  .navbar-default .divider-vertical {
    height: 100%;
    border-right: 1px solid #282828;
  }
}
/* line 178, sw.scss */
.navbar-default .licaption {
  font-style: italic;
  font-size: 0.8em;
  color: #D6D6CE;
}
/* line 184, sw.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 187, sw.scss */
.navbar-default .navbar-toggle:hover {
  background-color: #8a9045;
}
/* line 190, sw.scss */
.navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:focus {
  background-color: #adb17d;
}

/* line 196, sw.scss */
.navbar-form, .navbar-collapse {
  border: 0px;
}

/* Navbar links to fill the entire space of the .navbar */
/* line 201, sw.scss */
.navbar {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  /* line 203, sw.scss */
  .navbar .navbar-inner {
    padding: 0;
  }
}
@media (min-width: 768px) {
  /* line 209, sw.scss */
  .navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
  }
}
/* line 215, sw.scss */
.navbar .nav li {
  color: #fff;
}
@media (min-width: 768px) {
  /* line 215, sw.scss */
  .navbar .nav li {
    display: table-cell;
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
}
/* line 224, sw.scss */
.navbar .nav li:hover, .navbar .nav li.current {
  background-color: #8a9045;
}
/* line 227, sw.scss */
.navbar .nav li a {
  color: #fff;
}
@media (min-width: 768px) {
  /* line 227, sw.scss */
  .navbar .nav li a {
    font-size: 1.1em;
    padding-bottom: 3px;
  }
}
/* line 233, sw.scss */
.navbar .nav li a:hover {
  color: #fff;
}
/* line 236, sw.scss */
.navbar .nav li a:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
/* line 241, sw.scss */
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

/* line 250, sw.scss */
#bs-example-navbar-collapse-1 {
  background-color: #404040;
  font-size: 1.1em;
}
@media (min-width: 768px) {
  /* line 250, sw.scss */
  #bs-example-navbar-collapse-1 {
    margin-top: 75px;
    margin-left: -15px;
    margin-right: -15px;
    background-image: linear-gradient(to bottom, #404040 0%, #3b3b3b 100%);
    color: #dadada;
    border-top: 1px solid #282828;
    text-align: center;
  }
}

/*
 * Sidebar and Off Canvas (Sidebar Mobile Toggle)
 * --------------------------------------------------
 */
/* line 267, sw.scss */
.swside {
  border-right: 1px solid #adb17d;
  margin-bottom: 20px;
}
/* line 271, sw.scss */
.swside h3 {
  font-style: italic;
  font-weight: 600;
}
/* line 275, sw.scss */
.swside ul {
  list-style-type: none;
  line-height: 1.7em;
  padding-left: 0;
}
/* line 277, sw.scss */
.swside ul > li {
  margin-top: 5px;
}
/* line 279, sw.scss */
.swside ul > li a {
  color: #725663;
  font-weight: 600;
  font-size: 1.1em;
}
/* line 284, sw.scss */
.swside ul > li > ul > li {
  line-height: 2em;
  margin-top: 0;
}
/* line 287, sw.scss */
.swside ul > li > ul > li a {
  color: #767676;
  font-weight: 300;
  font-size: 1em;
}
@media screen and (max-width: 767px) {
  /* line 267, sw.scss */
  .swside {
    padding-left: 25px;
  }
}

/* line 300, sw.scss */
.btn-sidebar {
  background: #adb17d;
  color: #fff;
  position: absolute;
  padding: 10px;
  left: 0;
  border-color: #8a9045;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0;
}
/* line 310, sw.scss */
.btn-sidebar a, .btn-sidebar:hover {
  color: #fff;
  background: #8a9045;
}

@media screen and (max-width: 767px) {
  /* line 316, sw.scss */
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
}

@media screen and (max-width: 767px) {
  /* line 325, sw.scss */
  .row-offcanvas-right {
    right: 0;
  }
  /* line 328, sw.scss */
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  /* line 331, sw.scss */
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
}

@media screen and (max-width: 767px) {
  /* line 337, sw.scss */
  .row-offcanvas-left {
    left: 0;
  }
  /* line 340, sw.scss */
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  /* line 343, sw.scss */
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
}

@media screen and (max-width: 767px) {
  /* line 349, sw.scss */
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

@media (max-width: 767px) {
  /* line 357, sw.scss */
  .toggle-side {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

/*
 *  Content
 * --------------------------------------------------
 */
/* line 373, sw.scss */
.sw-toc {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
/* line 377, sw.scss */
.sw-toc > .col-md-4 {
  padding-bottom: 20px;
}
/* line 380, sw.scss */
.sw-toc ul {
  list-style-type: none;
  line-height: 1.7em;
  padding-left: 0;
}
/* line 383, sw.scss */
.sw-toc .fa {
  color: #ADB17D;
}
/* line 386, sw.scss */
.sw-toc h3 {
  margin-top: 5px;
}

@media (min-width: 768px) {
  /* line 391, sw.scss */
  .swnews {
    padding-right: 60px;
  }
}

/* line 397, sw.scss */
.sticky {
  background-color: #d5d7bd;
  padding: 15px;
}

@media (min-width: 768px) {
  /* line 402, sw.scss */
  .swside-home {
    border-left: 1px solid #adb17d;
    padding-left: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  /* line 410, sw.scss */
  .list-group {
    width: 80%;
    padding-bottom: 10px;
  }
}
/* line 415, sw.scss */
.list-group .badge {
  margin-left: 5px;
}

/* line 420, sw.scss */
.btn-bugzilla {
  background-color: #800000;
  color: #fff;
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin: 10px 0 10px 0;
}
@media (min-width: 768px) {
  /* line 420, sw.scss */
  .btn-bugzilla {
    width: 50%;
  }
}
/* line 430, sw.scss */
.btn-bugzilla:hover {
  color: #fff;
  background-color: #B1746F;
}

/*
 *  Tables
 * --------------------------------------------------
 */
@media (max-width: 640px) {
  /* line 441, sw.scss */
  table, tbody {
    display: block;
    width: 100%;
  }
  /* line 445, sw.scss */
  table tr, table th, table td, tbody tr, tbody th, tbody td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  /* line 451, sw.scss */
  table tr, tbody tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }
  /* line 456, sw.scss */
  table td, tbody td {
    border: none;
    margin-bottom: 6px;
    color: #444;
  }
}

@media screen and (min-width: 640px) {
  /* line 464, sw.scss */
  .stafflist > tbody > tr > td {
    width: 25%;
  }
}

/*
 *  Dept Home Page
 * --------------------------------------------------
 */
@media (min-width: 768px) {
  /* line 474, sw.scss */
  .deptlist {
    -webkit-column-count: 2;
    -webkit-column-gap: 0;
  }
}

/* line 480, sw.scss */
.deptlist ul {
  list-style: none;
  padding-left: 20px;
}
/* line 483, sw.scss */
.deptlist ul > li {
  margin: 15px 0 0 0;
}
/* line 485, sw.scss */
.deptlist ul > li a {
  font-size: 1.3em;
  font-weight: 700;
  color: #8a9045;
  padding-bottom: 5px;
}
/* line 491, sw.scss */
.deptlist ul > li > ul > li {
  margin: 0 0;
}
/* line 493, sw.scss */
.deptlist ul > li > ul > li a {
  font-size: 1.2em;
  font-weight: 600;
  color: #767676;
  line-height: 2em;
}
/* line 500, sw.scss */
.deptlist ul > li > ul > li > ul > li a {
  font-size: 1.1em;
  font-weight: 300;
  color: #9A5324;
  line-height: 1.5em;
}
/* line 507, sw.scss */
.deptlist ul > li > ul > li > ul > li > ul > li a {
  font-size: 1.1em;
  font-weight: 300;
  color: #767676;
  line-height: 1.5em;
  font-style: italic;
}

/*
 *  Footer
 * --------------------------------------------------
 */
/* line 526, sw.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 60px;
  background-image: linear-gradient(to bottom, #404040 0%, #3b3b3b 100%);
  color: #dadada;
}
@media (max-width: 768px) {
  /* line 526, sw.scss */
  .footer {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}
/* line 537, sw.scss */
.footer a {
  color: #fff;
  font-size: 0.85em;
  padding: 7px;
}
/* line 541, sw.scss */
.footer a:hover {
  color: #8a9045;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* line 537, sw.scss */
  .footer a {
    padding: 10px;
    font-size: 1em;
  }
}
/* line 550, sw.scss */
.footer ul {
  margin: 0;
  padding-left: 0;
}
/* line 553, sw.scss */
.footer ul li {
  display: inline-block;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
@media (max-width: 768px) {
  /* line 560, sw.scss */
  .footer .divider-vertical:after {
    content: "|\00a0";
  }
}
@media (min-width: 768px) {
  /* line 558, sw.scss */
  .footer .divider-vertical {
    height: 100%;
    border-right: 1px solid #282828;
    padding: 20px;
  }
}
