{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
	    <h1>News</h1>
		{{ self.intro|richtext }}

        {% for news_page in news_pages %}
            <div class="media-body">
            <span class="date">{{ news_page.date }}</span>
            <h2 class="media-heading"><a href="{{ news_page.url }}">{{ news_page.title }}</a></h2>
            <p>{{ news_page.intro }}</p>
            </div>
        {% endfor %}

	</article>
{% endblock %}
