{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
	    <h1>News</h1>
		{{ self.intro|richtext }}

        {% for news_page in news_pages %}
            <div class="media-body">
            <h2 class="media-heading"><a href="{{ news_page.url }}">{{ news_page.title }}</a></h2>
            <p>{{ news_page.excerpt|richtext }}</p>
            <p><span class="date">Posted by <a href="{{ news_page.author_url }}">{{ news_page.author_title }}</a> on {{ news_page.story_date }}</span></p>
            </div>
        {% endfor %}

	</article>
{% endblock %}
