{% extends "base/intranet_base.html" %}
{% load news_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12 swnews">
      <article>
        <div class="media">
          {% if thumbnail %}
            <div class="push-left">
              {% image thumbnail width-200 as thmb %}
              <img src="{{ thmb.url }}" alt="{% firstof self.alt_text thumbnail.title %}" class="img-responsive media-object" />
            </div>
          {% endif %}
          <div class="media-body">
            <p><span class="date">{{ self.story_date|date:'F j, Y' }}</span></p>
            <h1>{{ self.title }}</h1>
            {% news_author self %}
            {% for block in self.body %}
              {{ block }}
            {% endfor %}

            <hr/>
            <p>Read more <a href="/">news stories</a>.</p>
          </div>
        </div>
      </article>
    </div>
  </div>
{% endblock %}
