{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
      <div class="media">
        {% if thumbnail %}
          <div class="media-left">
            {% image thumbnail width-200 class="img-responsive media-object" %}
          </div>
        {% endif %}
        <div class="media-body">
          <p><span class="date">{{ story_date }}</span></p>
          <h1>{{ self.title }}</h1>
          <p><em>By <a href="{{ author_url }}">{{ author_title }}</a></em></p>
          {% for block in self.body %}
            {{ block }}
          {% endfor %}
    
          <hr/>
          <p>Read more <a href="/news/">news stories</a>.</p>
        </div>
      </div>
	</article>
{% endblock %}
