/*------------------------------------------------------------------
[Table of contents]

Fonts
Header
Sidebars
Images

-------------------------------------------------------------------*/


@import "base/css/variables.scss";
@import "base/css/media.scss";

/*
 * Fonts
 * --------------------------------------------------
 */

body {
    font-family: $base-font;
}

h1, h2 {
    font-style: normal;
    font-size: $font-medium;
    font-weight: 400;
}

h3 {
    font-style: normal;
    font-size: $font-small;
    font-weight: 600;
}

h4 {
    font-style: italic;
    font-size: $font-small;
    font-weight: 600;
}


/*
 * Header
 * --------------------------------------------------
 */

.exhibitpage .jumbotron {
  min-height: 250px;
  padding-top: 0px;
  margin-bottom: 0;
  background-color: $darkred; //fallback if all else fails
  background-size: cover;
  h2 {
    color: #fff;
  }
  .container {
    padding: 0px;
  }
  @include respond-to(small) { 
    min-height: 200px;
    .container {
      position: relative;
      margin: 0px;
    }
  }
}

.exhibitpage .overlaywrap {
    left: 0;
    top: 0;
    font-family: $base-font;
    padding: 0.5em 2em;
    @include respond-to(small) {
            padding-right: 6em;
        }
    p {
        padding: 0;
        margin: 0;
        &:last-child {
            padding-bottom: 15px;
        }
    }
    h2.banner-title {
        font-weight: 100;
        font-size: $font-large*0.7;
        margin: 0;
        padding: 0px;
        letter-spacing: 0.03em;
        @include respond-to(small) {
            font-size: $font-large;
        }
    }
    .banner-subtitle {
        font-size: $font-medium*0.8;
        padding-bottom:5px;
        @include respond-to(small) {
            font-size: $font-medium;
        }
    }
    .banner-loc, .banner-date {
        color: #e0dddb;
        font-style: italic;
        font-size: $font-small*0.8;
    }
}

.btn.webex-next {
    margin-top: 2em;
    background: transparent;
    float: right;
}


/*
 * Sidebars
 * --------------------------------------------------
 */

.sidebar.collex {
    background-color: #eee;
    padding: 1em 0 0 0;
    @include respond-to(small) {
        background-color: #fff;
        border-right: 1px dotted #767676;
    }
    h2 {
        padding-left: 2em;
        font-weight: 600;
        @include respond-to(small) {
            padding-left: 1em;
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    & ul {    
        padding-left: 0;
        text-indent: 0;
    }
    & li {
        padding: 0.6em 1em 0.6em 2em;
        //margin: 2em 0;
        &.active {
            font-weight: 600;
        }
    }
}

.collex-loc {
    background-color: #eee;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    & ~ #push {
        background-color: #eee;
    }
    .loc-title {
        margin-bottom: 0.5em;
        font-weight: 600;
        font-size: 1em;
        a {
            font-weight: 400;    
        }
    }
    p, ul {
        font-size: 0.95em;
    }
    ul {
        list-style: none;
        padding-left: 0;
        & li {
            margin-bottom: 10px;
            .viewall {
                margin-top: 15px;
            }
        }
    }
}

.loc-child {
    &+& {
        padding-top: 10px;
        border-top: 1px dotted #767676;
        @include respond-to(medium) {
            padding-top: initial;
            border-top: none;
        }
    }
    .loc-title~.loc-title {
        margin-top: 1.2em;
    }
}


/*
 * Images
 * --------------------------------------------------
 */

.collex-gallery {
    border-top: 1px dotted #767676;
}

.collex {
    padding: 2em 1em;
    & figure {
       @include respond-to(medium) {
           display: flex;
       }
    }
}

.collex-solo {
    @extend .collex;
    @include borders;
    img {
        padding-bottom: 1em    ;
        max-height: 40em;
        width: auto;
        @include respond-to(medium) {
        float: right;
            padding-bottom: 0;
        }

    }
}

.collex-solo, .collex-duo, .collex-trio, .collex-verso {
    .img-title {
        font-size: $font-small;
        font-weight: 600;
    }
    .img-citation {
        font-size: 0.95em;
    }
    .img-caption {
        color: #000;
        font-size: 1em;
    }
}

.collex-verso {
    @extend .collex-solo;
    .modal.and.carousel {
      position: absolute; // Needed because the carousel overrides the position property
    }
}

.duo-wrapper {
    padding: 2em 1em;
    @include respond-to(small) {
        @include borders;
    }
}

.collex-duo {
    padding: 0;
    @include respond-to(medium) {
        &:not(.collex-solo):nth-of-type(odd) {
            border-right: 1px dotted $darkgray;
        }
   }
   &+& img {
       padding-left: 1em;
   }
    img {
        padding: 0 1em 1em 0;
        @include respond-to(medium) {
            max-height: 30em;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
        }
    }
    figcaption {
        text-align: center;
        @include respond-to(medium) {
            &:nth-of-type(odd) {
                padding-right: 0.5em;
            }
        }
    }
}

.collex-trio {
    padding: 1em 0 2em 0;
    @include borders;
    img {
        float: left;
        max-width: 33%;
        height: auto;
        padding: 1em;
    }
    figcaption {
        clear: both;
        text-align: center;
    }
}

#page-turn {
    position: absolute;
    width: 0;
    height: 0;
    right: 15px;
    border-top: 30px solid #fff;
    border-left: 30px solid #c0c0c0;
}

/*
 * Temporary until all web exhibits are migrated over
 * --------------------------------------------------
 */

.collex-loc {
  background-color: #eee;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
}








