{% extends "intranetbase/base.html" %}
{% load wagtailcore_tags %}
{% load core_intranet_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12 breadcrumbs">
            <small>
                <a href="/">Staffweb Home</a>
                &gt;
                Departments
            </small>
        </div>
    </div>
	<article>
		<h1>{{ self.title }}</h1>

		<p>{{ self.intro }}</p>

        <ul>
        {% for department in departments.children %}
            {% include "department/department_tree.html" %}
        {% endfor %}
        </ul>

	</article>
{% endblock %}
