{% extends "intranetbase/base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12 breadcrumbs">
            <small>
                <a href="/">Staffweb Home</a>
                &gt;
                <a href="/departments/">Departments</a>
                &gt;
                {{ self.title }}
            </small>
         </div>
    </div>

	<article>
		<h1>{{ self.title }}</h1>
		<p>{{ self.intro }}</p>

        <h2>Department Contact</h2>
        <p>{{ self.location }}</p>
        <p>{{ self.telephone }} | <a href="{{ self.email }}">mailto:{{ self.email }}</a></p>

        <h2>Staff</h2>

        {{ self.body|richtext }}
	</article>
{% endblock %}
