{% extends "base/intranet_base.html" %}
{% load static wagtailcore_tags %}
{% load core_search_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
  <div class="row-fluid">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1>Search Results</h1>
        <small>There are <span class="result-number">{{ search_results_count }}</span> Results</small>

        <div class="alert alert-info" role="alert">
            Looking for reports or other documents? Try searching by filename in the <a href="/admin/documents/" class="alert-link">Wagtail document library</a>.
        </div>

        {% if search_picks %}
            {% for pick in search_picks %}
                <h2><a href="{{ pick.page.url }}">{{ pick.page }}</a></h2>
                <p>{{ pick.description }}</p>
            {% endfor %}
        {% endif %}
    
        {% if search_results %}
            {% for result in search_results %}
                <h2><a href="{% pageurl result %}">{{ result }}</a></h2>
                <span class="page-path">{% pagepath result %}</span>
                {% if result.latest_revision_created_at %}
                    <span class="date">Last updated: {{ result.latest_revision_created_at }}</span>
                {% endif %}
                {% if result.search_description %}
                    <p>{{ result.search_description|safe }}</p>
                {% elif result.specific.intro %}
                   <p> {{ result.specific.intro|snippet }}</p>
                {% elif result.specific.body %}
                    <p>{{ result.specific.body|snippet }}</p>
                {% endif %}
            {% endfor %}

            <div class="page-turn">
            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}"><< Previous page</a> &nbsp; | &nbsp; 
            {% endif %}
    
            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">More results >></a>
            {% endif %}
            </div>

        {% elif search_query %}
            No results found
        {% endif %}
      </div>
    </div>
{% endblock %}
