{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    {{ self.body }}
    <div class="libraryh3lp" data-lh3-jid="{{self.ask_widget_name}}@chat.libraryh3lp.com">
        <iframe src="https://us.libraryh3lp.com/chat/{{self.ask_widget_name}}@chat.libraryh3lp.com?identity=Librarian&skin=13697"></iframe>
    </div>
{% endblock %}

{% block right_sidebar_classes %}ask-rightside{% endblock %}
{% block right_sidebar %}
    <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
        <h4>Other Ways to Ask</h4>
        <ul>
          {% if self.contact_link %}
            <li>{% autoescape off %}{{self.contact_link}}{% endautoescape %}</li>
          {% endif %}
          {% if self.phone_number %}
            <li><i class="fa fa-phone fa-2x"></i> {{self.phone_number}}</li>
          {% endif %}
          {% if self.secondary_phone_number %}
            <li><i class="fa fa-phone-square fa-2x"></i> {{self.secondary_phone_number}}</li>
          {% endif %}
          {% if self.schedule_appointment_page %}
            <li><a href="{{self.schedule_appointment_page.url}}"><i class="fa fa-calendar fa-2x"></i> Schedule an Appointment</a></li>
          {% endif %}
          {% if self.visit_page %}
            <li><a href="{{self.visit_page.url}}"><i class="fa fa-comments-o fa-2x"></i> Visit</a></li>
          {% endif %}
        </ul>
        {% if self.reference_resources %}
            <hr/>
            {% autoescape off %}{{self.reference_resources|richtext}}{% endautoescape %}
        {% endif %}
    </div><!--/.rightside-mod-->
{% endblock %}

{% block btm_content %}
    <div class="row">
        <table class="table table-striped ask">
            <thead>
                <tr class="etable-header">
                    <th colspan="3">Consult a Specific Library</th>
                </tr>
            </thead>
            <tbody>
            {% for p in ask_pages %}
                {{p.href}}
                <tr>
                  <td>
                    {{p.unit.location}}<br/>
                    {{p.unit.location.address_1}}, {% if p.unit.location.address_2 %}{{p.unit.location.address_2}}, {% endif %}
                    {{p.unit.location.city}},
                    {{p.unit.location.state}}
                    {{p.unit.location.postal_code}}
                  </td>
                  <td>
                    {% autoescape off %}
                    {{p.reference_resources}}
                    {% endautoescape %}
                  </td>
                  <td style="text-align:center;">
                    <strong>Ask a {% if p.friendly_name %} {{p.friendly_name}}{% endif %} Librarian</strong><br/>
                    <a class="btn btn-ask {{p.chat_status_css}}" href="{{p.url}}"></a><br/>
                    <a href="{{p.url}}">Other Ways to Ask a{% if p.friendly_name %} {{p.friendly_name}}{% endif %} Librarian</a>
                  </td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
