/*------------------------------------------------------------------

[Table of contents]

Fonts
Images, Video, and other Media
Content
Link and File Extension Icons  ** Currently deactivated **
Tables
Intranet Index Page
Dept Home Page
Group Home Page

-------------------------------------------------------------------*/

@import "loop-variables.scss";
@import "../media.scss";

/*
 * Typefaces & Links
 * --------------------------------------------------
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded- opentype'), url('Content/fonts/glyphicons-halflings-regular.woff') format('woff'), url('Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif; }

body {
  font-family: "Arial", sans-serif;
  margin-bottom: 100px;
  background: #fbfbfa;
}

a {
  color: $accentlink;
  &:hover {
    color: $darkaccent;
    text-decoration: underline;
  }
  p &, .rich-text &, &.view-more {
      color: #5B8FA8;
      text-decoration: underline;
  }
  &.list-group-item:hover {
      background-color: $accentlink-light;
      color: #fff;
  }
}

// a.link-alert {
//     color: #800000;
//     &:after {
//       content: "\f101";
//       font-family: FontAwesome;
//       margin-left: 0.5rem;
//       padding-bottom: 1rem;
//   }
// }

/*
 * Headers
 * --------------------------------------------------
 */

h1 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 10px;
  color: $accentlink;
  .swside-home & {
    color: $darkaccent
  }
}

h2 {
  font-weight: 400;
  font-size: 1.3em;
  margin: 2em 0 5px 0;
  color:#9A5324;
  .swside-home & {
    color: $darkgray;
  }
}


h3 {
  font-weight: 100;
  font-size: 1.25em;
  margin: 30px 0 15px 0;
  color: $darkaccent;
    .swside-home & {
      font-size: 1.2em;
    }
    &.description {
      margin-top: 0px;
      padding-bottom: 10px;
    }
}

h4 {
  font-weight: 400;
  font-size: 1.1em;
  color:#725663;
  margin-top: 2em;
}

h5 {
  font-weight: 600;
  font-size: 1.1em;
  color: $darkgray;
}

h6 {
  font-weight: 600;
  font-size: 1.1em;
  color: #9A5324;
}

h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
  margin-top: 0.5em;
}

/*
 * Fonts
 * --------------------------------------------------
 */

p {
  font-size: 1.1em;
  line-height: 1.7em;
  max-width: 46em;
  margin-bottom: 0.5em;
}

.template-news-page .rich-text {
  font-size: 1em;
}

.rich-text ul, .rich-text ol {
  line-height: 1.7em;
  max-width: 50em;
    li {
    margin-bottom: 0.25em;
    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.date {
  font-weight: 100;
  font-size: 1.1em;
  color: $darkgray;
}

.pullquote {
  border-left: 5px solid #c8c8c8;
  padding-left: 1em;
  margin-left: 1em;
}

.columns {
  display: flex;
  padding: 0;
  gap: 2em;
  & .column {
    flex: 1;
  }
}

/* Blockquote */

blockquote {
  margin: 30px 50px 0 50px;
  padding: 0.5em 5px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.7em;
  padding-right: 4em;
  border-left: 0px;
}

blockquote:before {
  color: #767676;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #767676;
  content: close-quote;
  font-size: 4em;
  line-height: 0.5em;
  margin-left: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.citation {
  margin-bottom: 30px;
  text-align: center;
}


/* Dictionary List */

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: 600;
  color: #725663;
}

dt:after {
  content: ":";
}

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}



/*
 * Images, Video, and other Media
 * --------------------------------------------------
 */

img {
  max-width: 250px;
  height: auto;
  @include respond-to(small) {
      max-width: 500px;
      height: auto;     
  }
}

figure.imgcaption {
      max-width: 270px;
      border: 1px solid #8A8B79;
      padding: 15px;
      float: left;
      &.fullwidth {
        max-width: 100%;
        border: 0px;
        float: none;
      }
      figcaption {
        padding-top:15px;
        color: #58593F;
      }
}

figure {
    &.pull-right {
        margin: 10px 0 10px 20px;
    }
    &.pull-left {
        margin: 10px 20px 10px 0;
    }
    &.center-block {
        margin: 10px;
    }
}

.responsive-object {
  position: relative;
}

.responsive-object iframe, .responsive-object object, .responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Image Link Streamfield

.thumbnail-mod {
  text-align: center;
  img {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-top: 0.75em;
    font-size: 1.1em;
  }
}

/*
 *  Content
 * --------------------------------------------------
 */

.sw-toc {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    .toc-icon {
      display: none;
      @include respond-to(small) {
        display: unset;
        padding-bottom: 1em;
      }
      @include respond-to(medium) {
        padding: 0;
      }
      .fa {
        color: $accentlink-light;
      }
    }
    h2 {
      margin-top: 0;
    }
    .rich-text {
      margin-bottom: 2.5em;
    }
    p {
      margin-bottom: 0.5em;
    }
    & a {
      color: $darkgray;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    ul {
        @include plainlist;
        li {
          margin-bottom: 0.5em;
        }
    }
}

.swnews {
  @include respond-to(small) {
    max-width: 70em;
    padding-right: 60px;
  }
}

.media {
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.media-body, .media-left, .media-right {
  @include respond-to(mobileonly) { // mobile only
    display: block;
  }
}

.media-body {
  h2 {
    margin-top: 5px;
    margin-bottom: 3px;
    color: #9A5324;
    & a {
      color: #9A5324;
    }
  }
  .author {
    font-size: 1em;
    font-style: italic;
  }
  .rich-text {
    font-size: 1.2em;
    line-height: 1.7em;
    max-width: 46em;
  }
  @include respond-to(mobileonly) { // mobile only
    width: initial;
  }
}

.sticky {
  background-color: lighten($accentlink-light, 20% );
  background-image: linear-gradient(to right, lighten($accentlink-light, 25% ), lighten($accentlink-light, 20% ));
  padding: 15px;
  margin-bottom: 2.5em;
  border-bottom: none;
  box-shadow: 10px 10px #eee;
}

.list-group {
    @include respond-to(small) {
        width: 80%;
        padding-bottom: 10px;
    }
    .badge {
        margin-left: 5px;
    }
}

.btn-bugzilla {
    background-color: #800000;
    background-image: linear-gradient(to bottom, #800000, #642822);
    color: #fff!important;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin: 10px 0 10px 0;
    a {
      color: #fff;
    }
    &:hover {
      color: #fff;
      background: #B1746F;
      background-image: linear-gradient(to bottom, #642822, #B1746F);
    }
    @include respond-to(small) {
        width: 50%;
    }
}

 /*
 * Forms
 * --------------------------------------------------
 */

.unit-body form {
  & label {
    display: flex;
    font-weight: 600;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  & ul {
    @include plainlist;
  }
}

 input[type=checkbox], input[type=radio] {
    margin: 4px 10px 0 0;
}



 /*
 * Directory / Staff Profile
 * --------------------------------------------------
 */

.bg-directory {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}

.bg-filter {
  padding: 0 10px 20px 10px;
  @include respond-to(small) {
      padding: 0 0 20px 0;
  }
}

.dir-header {
  @include respond-to(small) {
    padding-right: 20px;
    text-align:right;
    display: inline;
  }
}

.dir-subheader {
  text-align: left;
  padding: 0;
  font-size: 1.1em;
  color: #725663;
  font-weight: 600;
  @include respond-to(small) {
    display:inline;
    padding: 0 10px 0 0;
  }
}

.guide-link {
  line-height:2.2em;
}

select {
  font-size: 2em;
  padding-top: 10px;
}

.btn-directory {
  color: #616530;
  background-color: #fff;
  border: 1px solid #8a9045;
  padding: 5px 15px;
    &:hover, &.active {
      color: #fff;
      background-color: #ADB17D;     
    }
}

/*
 *  Tables
 * --------------------------------------------------
 */

table, tbody {
    & a {
        color: #5B8FA8;
    }
    @include respond-to(mobileonly) {
        display: block;
        width: 100%;
        & tr, & th, & td {
            display: block;
            padding: 0;
            text-align: left;
            white-space: normal;
        }
        & tr {
            border-bottom: 1px solid #eee;
            padding-bottom: 11px;
            margin-bottom: 11px;
        }
        & td {
            border: none;
            margin-bottom: 6px;
            color: #444;
        }
    }
}

.stafflist>tbody>tr>td {
    @include respond-to(xsmall) {
        width: 25%;
    }
}


/*
 *  Intranet Index Page
 * --------------------------------------------------
 */
 ul.index-list {
  font-size: 16px;
  line-height: 1.8em;
  &>li {
    a {
      font-weight: 600;
      color:$darkgray;
      text-decoration: none;
    }
    &>ul>li {
      a {
        font-weight: 400;
        color:$darkaccent;
      }
      &>ul>li {
        a {
          font-weight: 300;
          color: #5B8FA8;
        }
        &>ul>li {
          a {
            font-weight: 300;
            color:$darkergray;
            font-style: italic;
          }
        }
      }
    }
  }
 }



/*
 *  Dept Home Page
 * --------------------------------------------------
 */

.deptlist {
  ul { // Main ul
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    &>li { // first level
      margin: 15px 0 0 0;
      a {
        font-weight: 600;
        color:#9A5324;
        padding-bottom: 3px;
      }
      &>ul>li { // second level
      margin: 0 0;
      padding-left: 1em;
        a {
          color:$darkgray;
          line-height: 2em;
        }
        &>ul>li { // third level
          a {
            color: #5B8FA8;
            line-height: 1.5em;
          }
          &>ul>li { // fourth level
            a {
              color:$darkergray;
              line-height: 1.5em;
            }
            &>ul>li { // fifth level
              a {
                color:$darkaccent;
                line-height: 1.5em;
              }
            }
          }
        }
      }
    }
  }
}

 /*
 *  Group Home Page
 * --------------------------------------------------
 */

.grouplist ul {
    list-style: none;
    padding-left: 20px;
    &>li {
        margin: 15px 0 0 0;
        a {
          font-size: 1.1em;
          font-weight: 400;
          color:$darkgray;
          padding-bottom: 3px;
        }
        &>ul>li {
        margin: 0 0;
            a {
              font-size: 1em;
              font-weight: 400;
              color:#5B8FA8;
              line-height: 2em;
            }
        }
    }
}

.inactive-groups ul {
    list-style: none;
    padding-left: 20px;
    &>li {
        margin: 15px 0 0 0;
        a {
          font-size: 1em;
          font-weight: 400;
          color:$darkaccent;
          padding-bottom: 5px;
        }
        &>ul>li {
        margin: 0 0;
            a {
              font-size: 1em;
              font-weight: 400;
              color:$darkergray;
              line-height: 2em;
            }
        }
    }
}


/*
 *  Search
 * --------------------------------------------------
 */

.template-searchresults {
  h2 a {
    color: #9A5324;
  }
  .result-number {
    font-weight: 600;
    font-size: 1.1em;
  }
  .page-path {
    display: block;
    font-size: 1em;
    font-style: italic;
  }
  .date {
    display: block;
    padding-bottom: 0.5em;
    font-size: 0.9em;
  }
  .page-turn {
    font-size: 1.1em;
    padding: 2em 0 0.5em;
    color: #337ab7;
    a {
      font-size: 1.1em;
      color: #337ab7;
    }
  }
}











