/*------------------------------------------------------------------

[Table of contents]

Top Navigation
Sidebar and Off Canvas (Sidebar Mobile Toggle)
Footer

-------------------------------------------------------------------*/

@import "loop-variables.scss";
@import "../media.scss";


/*
 *  Top Navigation
 * --------------------------------------------------
 */

#wagtail-userbar {
    position: absolute;
    z-index: 1;
}

.navbar-header .navbar-toggle {
    position: relative;
    z-index: 2;
}

.navbar>.container-fluid .navbar-brand {
    max-width: 75px;
    padding: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.navbar-right {
    padding: 15px 50px 15px 15px;
    @include respond-to(small) {
        padding: 15px 30px;
        margin: 0.75em 0;
        padding: 0px;
    }
    &>.input-group {
      @include respond-to(small) { // mobile only
        width: 250px;
    }
  }
}

.btn-default {
    color: #fff;
    background-color: $accentlink;
    border-color: #ccc;
        &:hover {
            background-color: $accentlink-light;
        }
}

.breadcrumbs {
    padding: 1em 0;
    #p-6 & {
       @include visually-hidden;
    }
}



// -- Navigation links --

.navbar-default {
    border: 0px;
    background-image: linear-gradient(to right, #FFFFFF, #e2e2e2);
    @include respond-to(small) {
        background-color: #eee;
    }
    .licaption { // Link description
        font-style: italic;
        font-size: 0.8em;
        color: #D6D6CE;
    }
    & .navbar-toggle .icon-bar {
        background-color: #fff;
    }
}

.navbar-toggle {
    background: $accentlink;
    &:hover, &:visited, &:focus {
        background: $accentlink-light;
    }
}

.navbar-form, .navbar-collapse {
        border: 0px;
}

/* Navbar links to fill the entire space of the .navbar */
.navbar {
    margin-bottom: 5px;
    & .navbar-inner {
        @include respond-to(small) {
            padding: 0;
        }
    }

    & .nav {
        @include respond-to(small) {
            margin: 0;
            display: table;
            width: 100%;
            max-width: 90em;
        }
        & li {
            color: $darkergray;
            @include respond-to(small) {
                display: table-cell;
                width: auto;
                float: none;
                text-align: center;
            }
            &:hover, &.current {
                @include dark-gradient;
            }               
            a {
                color: darken($accentlink, 10%);
                @include respond-to(small) {
                    font-size: 1.1em;
                    padding: 0.55em;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}


#bs-example-navbar-collapse-1 {
    background-color: #fff;
    font-size: 1.1em;
    box-shadow: 0 1px 20px #cbcbcb;
    @include respond-to(small) {
        margin-top: 60px;
        @include fluiddiv;
        @include gradient;
        text-align: center;
    }
}

/*
 * Sidebar and Off Canvas (Sidebar Mobile Toggle)
 * --------------------------------------------------
 */

html, body {
  overflow-x: hidden; /* Off Canvas: Prevent scroll on narrow devices */
}

.swside-home {
  max-width: 25em;
  ul {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 0.35em;
    }
  }
  a {
      color: $accentlink;
      text-decoration: none;
  }
  @include respond-to(small) {
  border-left: 1px solid $accentlink-light;
  padding-left: 30px;
  padding-bottom: 1em;
  margin-bottom: 20px;
  }
}

.swside {
    border-right: 1px solid $accentlink-light;
    margin-bottom: 20px;
    max-width: 20em;
    background: #f6f5f4;
    & h3 {
      font-weight: 400;
      margin-top: 1em;
    }
    ul {
        @include plainlist;
        padding-left: 1em;
        text-indent: -1em;
        &>li {
            margin-top: 5px;
            a {
                color: #725663;
                font-family: Helvetica, Arial, sans-serif; 
                font-size: 1.1em;
            }
            &>ul>li {
                margin-top: 0;
                margin-bottom: 1em;
                a {
                    color: #5b5b5b;
                    font-family: Helvetica, Arial, sans-serif; 
                    font-size: 1em;
                }
                &:last-child {
                    padding-bottom: 0.5em;
                }
            }
        }
    }
    @include respond-to(mobileonly) {
        padding-left: 25px;
    }
}

.btn-sidebar {
    background: $accentlink;
    color: #fff;
    position: absolute;
    padding: 10px;
    left: 0;
    border-color: $accentlink;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0;
    & a, &:hover, &:visited, &:focus {
        color: #fff;
        background: $accentlink-light;
        }
}

.row-offcanvas {
    @include respond-to(mobileonly) {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    }
}

.row-offcanvas-right {
    @include respond-to(mobileonly) {
    right: 0;
        .sidebar-offcanvas {
            right: -50%; /* 6 columns */
        }
        &.active {
            right: 50%; /* 6 columns */
        }
    }
}

.row-offcanvas-left {
    @include respond-to(mobileonly) {
    left: 0;
        .sidebar-offcanvas {
            left: -50%; /* 6 columns */
        }
        &.active {
            left: 50%; /* 6 columns */
        }
    }
}

.sidebar-offcanvas {
    @include respond-to(mobileonly) {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
    }
}

.toggle-side {
    @include respond-to(mobileonly) { //Mobile
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.rightside {
    border-top: 1px solid $accentlink-light;
    margin-bottom: 20px;
    background: #f6f5f4;
    ul {
        list-style: none;
        padding-left: 0;
        padding-left: 1em;
        text-indent: -1em;
        li {
            font-size: 1.1em;
            margin-bottom: 0.5em;
            &:last-child {
                margin-bottom: 2em;
            }
        }
    }
    @include respond-to(medium) {
        margin-top: -5em;
        border-top: none;
        border-left: 1px solid $accentlink-light;
    }
}

/*
 *  Footer
 * --------------------------------------------------
 */

html { // For sticky footer
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 15px 5px 5px 5px;
  @include dark-gradient;
  @include respond-to(small) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  a {
    color: #fff;
    font-size: 0.85em;
    padding: 7px;
      &:hover {
        color: #eee;
        text-decoration: none;
      }
    @include respond-to(small) {
      padding: 10px;  
      font-size: 1em; 
    }
  }
  ul {
    margin:0;
    padding-left: 0;
    padding-top: 1.2em;
    @include respond-to(mobileonly) {
      padding-top: 0;
    }
    & li {
      display: inline-block;
      @include listinline;
        @include respond-to(mobileonly) { // Mobile
        &:after {
            content: "|\00a0";
        }
      }
    }
  }
}

.footer-brand {
  float: left;
  img {
    max-width: 100px;
    @include respond-to(small) {
      max-width: 150px;
      padding: 10px 20px 0 0;
    }
  }
}


