{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="col-xs-12 col-md-9 centermain">
                <div class="col-xs-12 col-sm-4">
                    {% image self.location_photo width-200 class="img-responsive" %}
                    {% if self.address_1 %}
                        <p>
                            <strong>{{ self.address_1 }}</strong><br/>
                            {% if self.address_2 %}
                                {{ self.address_2 }}<br/>
                            {% endif %}
                            {% if self.city and self.state and self.postal_code %}
                                {{ self.city }}, {{ self.state }} {{ self.postal_code }}<br/>
                            {% endif %}
                            {% if self.google_map_link %}
                                <a href="{{ self.google_map_link }}">Google Map</a>
                            {% endif %}
                        </p>
                    {% endif %}
                </div><!--/.col-->

                <div class="col-xs-12 col-sm-8">
                    <h2>About</h2>
                    {{ self.long_description|richtext }}
                </div><!--/.col-->
            </div> <!--/.centermain-->

            {% if has_right_sidebar %}
                {% block right_sidebar %}
                    <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
                        {% if self.has_features %}
                            <h3>Features</h3>
                            {% autoescape off %}
                                {{features_html}}
                            {% endautoescape %}
                        {% endif %}
                    </div><!--/.rightside-mod-->
                {% endblock %}
            {% endif %}
        </div><!--/.row-->
    </article>
{% endblock %}
