{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    {{ self.page_alerts }}
    <article>
            <div class="col-xs-12 col-sm-4">
                {% if self.location_photo %}
                    {% image self.location_photo width-500 class="img-responsive spaces" %}
                {% else %}
                    {% image default_image width-500 class="img-responsive spaces" %}
                {% endif %}
                {% if self.address_1 %}
                    <p>
                        <strong>{{ self.address_1 }}</strong><br/>
                        {% if self.address_2 %}
                            {{ self.address_2 }}<br/>
                        {% endif %}
                        {% if self.city and self.state and self.postal_code %}
                            {{ self.city }}, {{ self.state }} {{ self.postal_code }}<br/>
                        {% endif %}
                        {% if self.google_map_link %}
                            <a href="{{ self.google_map_link }}">Google Map</a>
                        {% endif %}
                    </p>
                {% endif %}
            </div><!--/.col-->

            <div class="col-xs-12 col-sm-8">
                <h2 class="spaces">About</h2>
                {{ self.long_description|richtext }}
            </div><!--/.col-->

        {% if has_right_sidebar %}
            {% block right_sidebar %}
                {% if self.has_features or self.reservation_url or has_floorplans %}
                <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
                    {% if self.has_features %}
                        <h3>Features</h3>
                        {% autoescape off %}
                            {{features_html}}
                        {% endautoescape %}
                    {% endif %}
                    {% if self.reservation_url %}
                        <form action="{{ self.reservation_url }}" method="get">
                            <button class="btn btn-reserve" type="submit">
                                {% if self.reservation_display_text %}
                                    {{self.reservation_display_text}}
                                {% else %}
                                    Reserve
                                {% endif %}
                            </button>
                        </form>
                    {% endif %}
                    {% if has_floorplans %}
                        <h3>Floorplans</h3>
                        <p>
                            {% for p in self.location_floor_placements.all %}
                                <a href="{{ p.floor.url }}">{{ p.floor.title }}</a><br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div><!--/.rightside-mod-->
                {% endif %}
            {% endblock %}
        {% endif %}
    </article>
{% endblock %}
