{% load static %}

<div class="block-html">
    <div style=" display: flex; flex-direction: row; align-items: flex-end; gap: 12px; margin-bottom: 6px;">
        <div style=" flex-grow: 1; margin: 0;">
            <label for="plink">Original Link</label>
            <input type="URL" id="plink" class="form-control">
        </div>  
        <input id="pbutton" type="button" onclick="proxifyForm(plink,pdisplay)" value="proxify link" class="btn btn-secondary">
    </div>
    <div style=" display: flex; flex-direction: row; align-items: flex-end; gap: 12px; margin-bottom: 6px;">
        <div style=" flex-grow: 1; margin: 0;">
            <label for="pdisplay">Proxified Link</label>
            <input type="text" id="pdisplay" class="form-control">
        </div>
        <input id="copy_button" type="button" onclick="copyLink(pdisplay)" value="copy link" class="btn btn-primary" style="background: #800000;" disabled="true">
    </div>
    <script src="https://liblet.lib.uchicago.edu/static/public/js/proxy-linker.js">
    </script>
</div>

<script src={% static "public/js/proxy-linker.js" %}></script>
