{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <article>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="btn-group spaces-toggle">
                  <a class="btn btn-list-toggle{% if space_type == 'is_study_space' %} active{% endif %}" href="?space_type=is_study_space">To Study</a>
                  <a class="btn btn-list-toggle{% if space_type == 'is_teaching_space' %} active {% endif %}" href="?space_type=is_teaching_space">To Teach</a>
                  <a class="btn btn-list-toggle{% if space_type == 'is_event_space' %} active {% endif %}" href="?space_type=is_event_space">For Events</a>
                </div>
            </div>
        
            <div class="col-xs-12 col-sm-6 coll-dropdown">
                <span class="headline">Filter by</span>
                <div class="btn-group">
                  <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default btn-textonly dropdown-toggle" type="button">
                    {% if building %}
                        {{ building }}
                    {% else %}
                        Library
                    {% endif %}
                    <span class="caret"></span>
                  </button>
                  <ul class="listings-dropdown dropdown-menu">
                    {% if building %}
                       <li>
                          <a href="?{% if feature %}feature={{ feature|urlencode }}&amp;{% endif %}space_type={{ space_type|urlencode }}">All Buildings</a><br/>
                       </li>
                    {% endif %}
                    {% for b in buildings %}
                       <li>
                          <a href="?building={{ b|urlencode }}&amp;{% if feature %}feature={{ feature|urlencode }}&amp;{% endif %}space_type={{ space_type|urlencode }}" class="dropdown-item">{{ b }}</a>
                       </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="btn-group">
                  <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default btn-textonly dropdown-toggle" type="button"{% if not floors %} disabled="disabled"{% endif %}>
                    {% if floor %}
                        {{ floor }}
                    {% else %}
                        Floor 
                    {% endif %}
                    <span class="caret"></span>
                  </button>
                  <ul class="listings-dropdown dropdown-menu">
                    {% if floor %}
                       <li>
                          <a href="?building={{ building|urlencode }}&amp;{% if feature %}feature={{ feature|urlencode }}&amp;{% endif %}space_type={{ space_type|urlencode }}">All Floors</a><br/>
                       </li>
                    {% endif %}
                    {% for f in floors %}
                      <li>
                        <a href="?building={{ building|urlencode }}&amp;{% if feature %}feature={{ feature|urlencode }}&amp;{% endif %}floor={{ f|urlencode }}&amp;space_type={{ space_type|urlencode }}" class="dropdown-item">{{ f }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="btn-group">
                  <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-default btn-textonly dropdown-toggle" type="button">
                    {% if feature %}
                        {{ feature_label }}
                    {% else %}
                        Feature
                    {% endif %}
                    <span class="caret"></span>
                  </button>
                  <ul class="listings-dropdown dropdown-menu">
                    {% if feature %}
                      <li>
                        <a href="?{% if building %}building={{ building|urlencode }}&amp;{% endif %}{% if floor %}floor={{ floor|urlencode }}&amp;{% endif %}space_type={{ space_type|urlencode }}">All Features</a>
                      </li>
                    {% endif %}
                    {% for f in features %}
                      <li>
                        <a href="?{% if building %}building={{ building|urlencode }}&amp;{% endif %}{% if floor %}floor={{ floor|urlencode }}&amp;{% endif %}feature={{ f.field|urlencode }}&amp;space_type={{ space_type|urlencode }}" class="dropdown-item">{{ f.label }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>          
            </div>
        </div>
        <table class="table table-striped spacelist">
            <tbody>
            <tr class="etable-header">
                <th colspan="4">
                    {% if space_type == 'is_study_space' %}All Study Spaces{% endif %}
                    {% if space_type == 'is_teaching_space' %}All Teaching Spaces{% endif %}
                    {% if space_type == 'is_event_space' %}All Event Spaces{% endif %}
                </th>
            </tr>
            {% for space in spaces %}
              <tr>
                <td>
                  {% if self.location_photo %}
                    {% image self.location_photo width-200 class="img-responsive" %}
                  {% else %}
                    {% image default_image width-200 class="img-responsive" %}
                  {% endif %}
                </td>
                <td>
                    <a href="{{ space.url }}">{{ space.title }}</a><br/>
                    {% if space.parent_building %}{{ space.parent_building }}<br/>{% endif %}
                    <!-- floor coming soon -->
                    {% if space.reservation_url %}<form action="{{ space.reservation_url }}" method="get"><button class="btn btn-reserve" type="submit">Reserve</button></form>{% endif %}
                </td>
                <td>
                  <p class="features-list">
                    {% if space.is_quiet_zone %}<i class="fa fa-bell-slash-o"> </i>Quiet Zone<br/>{% endif %}
                    {% if space.is_collaboration_zone %}<i class="material-icons">people</i>Collaboration Zone<br/>{% endif %}
                    {% if space.is_phone_zone %}<i class="material-icons">phone_android</i>Cell Phone Zone<br/>{% endif %}
                    {% if space.is_meal_zone %}<i class="material-icons">local_dining</i>Meal Zone<br/>{% endif %}
                    {% if space.is_open_space %}<i class="material-icons">all_inclusive</i>Open Space<br/>{% endif %}
                    {% if space.is_snacks_allowed %}<i class="material-icons">local_cafe</i>Snacks Allowed<br/>{% endif %}
                    {% if space.is_24_hours %}<i class="material-icons">access_alarm</i>All Night Study<br/>{% endif %}
                    {% if space.has_printing %}<i class="fa fa-print"> </i>Copy / Print / Scan<br/>{% endif %}
                    {% if space.has_public_computer %}<i class="fa fa-desktop"> </i>Public Computer(s)<br/>{% endif %}
                    {% if space.has_dual_monitors %}<i class="material-icons">add_to_queue</i>Dual Monitor stations<br/>{% endif %}
                    {% if space.has_book_scanner %}<i class="material-icons">import_contacts</i>Overhead Book Scanner<br/>{% endif %}
                    {% if space.has_single_tables %}<i class="material-icons">widgets</i>Individual Tables<br/>{% endif %}
                    {% if space.has_large_tables %}<i class="material-icons">wb_iridescent</i>Large Tables<br/>{% endif %}
                    {% if space.has_carrels %}<i class="material-icons">border_inner</i>Carrels<br/>{% endif %}
                    {% if space.has_standing_desk %}Standing Desks<br/>{% endif %}
                    {% if space.has_soft_seating %}<i class="material-icons">weekend</i>Comfy Seating<br/>{% endif %}
                    {% if space.is_reservable %}<i class="fa fa-calendar-plus-o"> </i>Reservable<br/>{% endif %}
                    {% if space.has_board %}<i class="material-icons">gesture</i>White Board<br/>{% endif %}
                </td>
                <td>
                    {{ space.short_description|safe }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </article>
{% endblock %}
