{% extends "base/intranet_base.html" %}

{% load static %}

{% block content %}

{% if msg and not confirm %}
<div class="alert alert-danger" role="alert">
    {{ msg }}
</div>
{% elif msg %}
<div class="alert alert-success" role="alert">
    {{ msg }}
</div>
{% endif %}

<title> Article Galaxy Configuration Management </title>

<h1> Article Galaxy Configuration Management </h1>

<div>
    <form action="/ags/" method="post" enctype="multipart/form-data" id="ags_form" onsubmit="return confirm('Are you sure you want to update the AGS spreadsheet?')">
	<input type="hidden" name="csrfmiddlewaretoken" value="6Cy5s5Ohq8RAQhZJkr1Yh2Zrb7J7z8kOktLobd2S8PZ87In8zy7LMLg9Ba1KLnH8">
	{% csrf_token %}
	<h2>Article Galaxy Spreadsheet</h2>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="uploadFile">Select an .xlsx file to upload:</label>
					<input class="" type="file" name="uploadFile" required="true" id="uploadFile" accept=".xlsx" formenctype="multipart/form-data">
					<p class="help-block">The AGS spreadsheet .xlsx file is required to have a sheet called 'data1' and columns called 'PublicationName', 'StandardNumber', 'YearStart', and 'YearEnd'.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Upload spreadsheet</button>
				</div>
			</div>
		</div>

	</form>

	<form action="/ags/delete/" method="post" enctype="multipart/form-data" id="ags_form" onsubmit="return confirm('Are you sure you want to delete the AGS spreadsheet?')">
	    <div class="form-group">
		{% csrf_token %}
		<button class="btn btn-secondary" type="submit">Delete spreadsheet</button>
		</div>
	</form>
</div>

{% if table_rows %}
<h2>
    AGS spreadsheet preview:
</h2>

<table>
    <tr>
	<th>
	    PublicationName
	</th>
	<th>
	    StandardNumber
	</th>
	<th>
	    YearStart
	</th>
	<th>
	    YearEnd
	</th>
    </tr>
    {% for row in table_rows %}
    <tr>
	{% for entry in row %}
	<td>
	    {{ entry }}
	</td>
	{% endfor %}
    </tr>
    {% endfor %}
</table>

{% elif delete %}
<h2>
    AGS spreadsheet deleted.
</h2>
{% else %}
<h2>
    No AGS spreadsheet uploaded.
</h2>
{% endif %}

{% endblock %}
