{% extends "base/intranet_base.html" %}

{% block content %}

<title> Article Galaxy Configuration Management </title>

<h1> Article Galaxy Configuration Management </h1>

<h2> Article Galaxy Index </h2>

<div>
    <form action="/ags/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<label for="uploadFile">Select an .xlsx file to upload:</label>
	<input type="file" name="uploadFile" required="true" id="uploadFile" accept=".xlsx" formenctype="multipart/form-data">
	<input type="submit" value="Upload Article Galaxy" name="submit">
    </form>
</div>

{% endblock %}
