{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}
{% load core_search_tags %}
{% load wagtailimages_tags %}

{% block content %}
  <div class="row-fluid "> <!-- Main Row -->
    <div class="col-xs-12 col-md-9 swnews" role="main">
      <h1><a href="{{ news_link }}">News</a></h1>
        {% for sticky_page in sticky_pages %}
          <div class="sticky">
            <div class="media">
              {% if sticky_page.thumbnail %}
                <div class="media-left">
                  {% image sticky_page.thumbnail fill-150x150 class="media-object" %}
                </div>
              {% endif %}
              <div class="media-body">
                <span class="date">{{ sticky_page.story_date }}</span>
                <h2 class="media-heading"><a href="{{ sticky_page.url }}">{{ sticky_page.title }}</a></h2>
                <p><em>By <a href="{{ sticky_page.author_url }}">{{ sticky_page.author_title }}</a></em></p>
                <p>{{ sticky_page.excerpt|richtext }}</p>
                {% if sticky_page.read_more %}
                  <p><a href="{{ sticky_page.url }}">Read more &gt;&gt;</a></p>
                {% endif %}
              </div>
            </div>
          </div>
          <hr/>
        {% endfor %}
        {% for news_page in news_pages %}
          <div class="media">
            {% if news_page.thumbnail %}
              <div class="media-left">
                {% image news_page.thumbnail fill-150x150 class="media-object" %}
              </div>
            {% endif %}
            <div class="media-body">
              <span class="date">{{ news_page.story_date }}</span>
              <h2><a href="{{ news_page.url }}">{{ news_page.title }}</a></h2>
              <p class="author">By <a href="{{ news_page.author_url }}">{{ news_page.author_title }}</a></p>
              {{ news_page.excerpt|richtext }}
              {% if news_page.read_more %}
                <a href="{{ news_page.url }}" class="view-more">Read more &gt;&gt;</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <p><a href="/news/">More news stories</a></p>
    </div>

  <div class="col-xs-12 col-md-3 swside-home" role="complementary"> <!-- Right Sidebar -->

    <div class="row-fluid"> <!-- Quicklinks Row -->
      <h1>Quicklinks</h1>
      <ul>
        <li><a href="https://humanresources.uchicago.edu/benefits/">Benefits</a></li>
        <li><a href="https://uchicago.app.box.com">Box</a></li>
        <li><a href="http://www.lib.uchicago.edu/cgi-bin/mail-aliases/">Email Aliases</a></li>
        <li><a href="https://www.lib.uchicago.edu/h/ole">OLE</a></li>
        <li><a href="https://outlook.office.com/owa/?realm=ad.uchicago.edu">Outlook</a></li>
        <li><a href="/staff/">Staff Directory</a></li>
        <li><a href="https://workday.uchicago.edu/">WorkDay</a></li>
      </ul>
    </div> <!-- / Quicklinks Row -->

    <hr/>

    <div class="row-fluid" style="padding: 5px 0 20px 0;"> <!-- Bugzilla Row --> <!-- Dev note: Remove styling for production? -->
      <h1>Report a Computer Problem</h1>
      <a href="http://trouble.lib.uchicago.edu" class="btn btn-bugzilla" aria-label="Bugzilla" role="button">Bugzilla</a>
    </div><!-- // Bugzilla Row -->

    <hr/>

    <div class="row-fluid"><!-- Community -->
        <h1>Our Community</h1>
        <ul>
          <li><a href="/departments/administration/directors-office/">Director's Page</a></li>
          <li><a href="/groups/staff-meeting/">All Staff Meeting</a></li>
          <li><a href="https://loop.lib.uchicago.edu/library-community/water-cooler/">Water Cooler (Archive)</a></li>
          <li><a href="/documentation/loop-box-documentation/loop-news-best-practices/">How to: Loop News post</a></li>
          <li><a href="https://loop.lib.uchicago.edu/admin/pages/587/">Write a Loop News Post</a></li>
          <li><a href="/documentation/loop-box-documentation/loop-guidelines-policies-tutorials/adding-meeting-minutes/">How to: Meeting Minutes</a></li>
        </ul>
    </div>

    <hr>
    
    <div class="row-fluid"><!-- Work/Life -->
      <h1>Community Links</h1>
      <h2>Food</h2>
      <ul>
        <li><a href="https://dining.uchicago.edu/page/locations-hours">Campus Dining: locations &amp; hours</a></li>
        <li><a href="https://twitter.com/exlibtoaster">ExLibris Toaster</a></li>
      </ul>

      <h2>Interests</h2>
        <ul>
          <li><a href="http://events.uchicago.edu/cal/main/showMain.rdo;jsessionid=C22CCF8F17687AD9F8616251F7EBF532.bw04">Campus Events</a></li>
          <li><a href="http://athletics.uchicago.edu/facilities/index">Campus Gyms</a></li>
          <li><a href="https://wellness.uchicago.edu/page/mindfulness-uchicago">Meditation on Campus</a></li>
          <li><a href="https://instagram.com/Rockefeller_Chapel/">Rockefeller Chapel Instagram</a></li>
          <li><a href="http://arts.uchicago.edu/">UChicago Arts</a></li>
          <li><a href="http://chicagopresents.uchicago.edu/">UChicago Presents</a></li>
        </ul>

      <h2>Resources</h2>
      <ul>
        <li><a href="https://loop.lib.uchicago.edu/library-social-media/">Library Social Media</a></li>
        <li><a href="https://loop.lib.uchicago.edu/campus/campus-webcams/">Campus Camera Feeds</a></li>
        <li><a href="http://www.law.uchicago.edu/students/students-with-families#facilities">Childcare Facilities</a></li>
        <li><a href="https://hppsn.wordpress.com/">Hyde Park Parents Support Network</a></li>
      </ul>
    </div> <!-- // Work/Life -->
           
 </div><!-- // Right Sidebar -->
</div> <!-- // Main row -->
{% endblock %}
