
{% extends "base/intranet_base.html" %}

{% load static %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'intranethome/css/style.css' %}" type="text/css" />

    {{ example_form.media.css }}
{% endblock %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Mail Aliases{% endblock %}

{% block content %}

    <h1>Mail Aliases Page</h1>

    {% if error %}
        <p>
            We're having a problem with our systems.  Please {% if error.link_url %} <a href="{{ error.link_url }}"> contact us</a> {% else %} contact us {% endif %} so that we can fix the problem.
        </p>
    {% else %}
        <button class="btn btn-default" onclick="expandAll()">Expand All</button>
        <button class="btn btn-default" onclick="contractAll()">Contract All</button>

        <h3>
            <a href="/mailaliases/">All</a> &nbsp;
	    {% for lower, upper in alphas %}
	        <a href="/mailaliases/{{ upper }}/">{{ lower }}</a> &nbsp;
	    {% endfor %}
            <a href="/mailaliases/number/">#</a>
        </h3>

        <br>
        {% for alias, emails in final_data.items %}
            <button class="accordion">{{alias}}</button>
            <div class="panel">
                <br>
                <table class="table">
                    {% for email in emails %}
                        {% if email.triangle_brackets %}
                            <tbody>
                                <td><a href="mailto:{{email.triangle_brackets.1}}">{{email.triangle_brackets.0}}</a></td>
                                <td>{{email.triangle_brackets.2}}</td>
                            </tbody>

                        {% elif email.parentheses %}
                            <tbody>
                                <td><a href="mailto:{{email.parentheses.1}}">{{email.parentheses.0}}</a></td>
                                <td>{{email.parentheses.2}}</td>
                            </tbody>

                        {% elif email.plain_email %}
                            <tbody>
                                <td><a href="mailto:{{email.plain_email}}">{{email.plain_email}}</a></td>
                            </tbody>

                        {% elif email.note %}
                            <tbody>
                                <td>{{email.note}}</td>
                            </tbody>

                        {% else %}
                            <tbody>
                                <td>{{email.local}}</td>
                            </tbody>
                        {% endif %}
                    {% endfor %}
                </table>
                <br>
            </div>
        {% endfor %}

        <script src="{% static 'intranethome/js/accordion.js' %}"></script>

    {% endif %}

{% endblock %}
