<style>
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>

<body>

{% extends "base/intranet_base.html" %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Mail Aliases{% endblock %}

{% block content %}

    {%for key, value in cleaned_data.items %}
    <button class="accordion">{{key}}</button>
    <div class="panel">
        {%for note_email in value %}
        <br>
          {%if note_email.note%}
            note: {{note_email.note}}

          {%elif note_email.triangle_brackets%}
            <a href="mailto:{{note_email.triangle_brackets.1}}">{{note_email.triangle_brackets.0}}</a>: {{note_email.triangle_brackets.2}}
            
          {%elif note_email.parentheses%}
            <a href="mailto:{{note_email.parentheses.1}}">{{note_email.parentheses.0}}</a>: {{note_email.parentheses.2}}

          {%elif note_email.plain_email%}
            <a href="mailto:{{note_email.plain_email}}">{{note_email.plain_email}}</a>
            
          {%else%}
            {{note_email.local}}
          {%endif %}

        {%endfor %}
    <br><br>
    </div>
    {%endfor %}

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
{% endblock %}
