{% load cache compress static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
{% compress css %}
    <link href="{% static "base/css/base.scss" %}" rel="stylesheet" type="text/x-scss"/>
    <link href="{% static "base/css/navigation.scss" %}" rel="stylesheet" type="text/x-scss"/>
    <link href="{% static "base/css/footer.scss" %}" rel="stylesheet" type="text/x-scss"/>
    <link href="{% static "base/css/vendor-overrides.scss" %}" rel="stylesheet" type="text/x-scss"/>
{% endcompress %}
