{% load cache compress static %}
<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css" integrity="sha384-dNpIIXE8U05kAbPhy3G1cz+yZmTzA6CY8Vg/u2L9xRnHjJiAK76m2BIEaSEV+/aU" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
{% compress css %}
    <link href="{% static "base/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "base/css/base.scss" %}" rel="stylesheet" type="text/x-scss"/>
    <link href="{% static "base/css/navigation.scss" %}" rel="stylesheet" type="text/x-scss"/>
{% endcompress %}
