{% load static %}
<!-- Footer -->
    <footer id="footer" role="contentinfo" class="container-fluid footer">

        <!-- Contact -->
        <div class="col-xs-12 col-sm-2 col-footer">
            <span class="footer-heading" id="contact_label">Contact</span>
            <ul aria-labelledby="contact_label">
                <li><a href="/research/help/ask-librarian/ask-contact/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Contact &gt; Contact Us">Contact Us</a></li>
                <li><a href="/about/directory/?view=department" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Contact &gt; Library Departments">Library Departments</a></li>
                <li><a href="/about/directory/?view=staff" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Contact &gt; Staff Directory">Staff Directory</a></li>
            </ul>
            <span class="footer-heading" id="policies_label">Policies</span>
            <ul aria-labelledby="policies_label">
                <li><a href="/about/thelibrary/policies/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Policies &gt; Library Policies">Library Policies</a></li>
            </ul>
        </div>
        <!-- // Contact -->


        <!-- Information -->
        <div class="col-xs-12 col-sm-2 col-footer divider-vertical">
            <span class="footer-heading" id="information_for_label">Information for</span>
            <ul aria-labelledby="information_for_label">
            {% if is_law %}
                <li><a href="http://guides.lib.uchicago.edu/lawfacultyservices" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Faculty">Law Faculty</a></li>
                <li><a href="http://guides.lib.uchicago.edu/lawstudents" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Students">Law Students</a></li>
            {% else %}
                <li><a href="/research/help/infofor/faculty/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Faculty">Faculty</a></li>
                <li><a href="/research/help/infofor/students/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Students">Students</a></li>
            {% endif %}
                <li><a href="/research/help/infofor/staff/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; University Staff">University Staff</a></li>
            {% if is_law %}
                <li><a href="/law/about/access/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Visitors">Visiting the Law Library</a></li>
            {% else %}
                <li><a href="/research/help/infofor/information-visitors/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Visitors">Visitors</a></li>
            {% endif %}
                <li><a href="/research/help/infofor/alumni/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Alumni &amp; Library Friends">Alumni &amp; Library Friends</a></li>
                <li><a href="/research/help/infofor/accessibility/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Information for &gt; Patrons with Disabilities">Patrons with Disabilities</a></li>
            </ul>
        </div>
        <!-- // Information -->

        <!-- Libraries -->
        <div class="col-xs-12 col-sm-2 col-footer col-sm-push-4 divider-vertical">
            <span class="footer-heading" id="library_list_label">Libraries</span>
            <ul aria-labelledby="library_list_label">
                <li><a href="/crerar/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; Crerar">Crerar</a></li>
                <li><a href="/law/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; D'Angelo Law">D’Angelo Law</a></li>
                <li><a href="/eck/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; Eckhart">Eckhart</a></li>
                <li><a href="/mansueto/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; Mansueto">Mansueto</a></li>
                <li><a href="/spaces/joseph-regenstein-library/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; Regenstein">Regenstein</a></li>
                <li><a href="/scrc/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; Special Collections">Special Collections</a></li>
                <li><a href="/swl/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Libraries &gt; Social Work">Social Work</a></li>
            </ul>
        </div>
        <!-- // Libraries -->

        <!-- Social -->
        <div class="col-xs-12 col-sm-2 col-footer col-sm-push-4">
            <span class="footer-heading" id="social_media_label">Library Social Media</span>
            <ul aria-labelledby="social_media_label">
            {% if is_law %}
                <li><a href="https://www.facebook.com/dangelolawlib" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> &nbsp; Law Library Facebook</a></li>
                <li><a href="https://twitter.com/dangelolawlib" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; Law Twitter</a></li>
                <li><a href="https://www.instagram.com/dangelolawlib/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Instagram"><i class="fa fa-instagram" aria-hidden="true"></i> &nbsp; Law Instagram</a></li>
                <li><a href="http://news.lib.uchicago.edu/law/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Library News"><i class="fa fa-rss-square" aria-hidden="true"></i> &nbsp; Law Library News</a></li>
            {% else %}
                <li><a href="http://www.facebook.com/uchicagolibrary" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> &nbsp; Facebook</a></li>
                <li><a href="https://twitter.com/UChicagoLibrary" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Twitter"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; Twitter</a></li>
                <li><a href="https://www.instagram.com/uchicagolibrary/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Instagram"><i class="fa fa-instagram" aria-hidden="true"></i> &nbsp; Instagram</a></li>
                <li><a href="http://news.lib.uchicago.edu/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; Library News"><i class="fa fa-rss-square" aria-hidden="true"></i> &nbsp; Library News</a></li>
            {% endif %}
                <li><a href="https://www.youtube.com/user/uchicagolibrary" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; YouTube"><i class="fa fa-youtube-square" aria-hidden="true"></i> &nbsp; YouTube</a></li>
                <li><a href="/about/news-events/social-media/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Library Social Media &gt; More Library Accounts"><i class="fa fa-clone" aria-hidden="true"></i> &nbsp; More Library Accounts...</a></li>
            </ul>
        </div>
        <!-- // Social -->

        <!-- Address - Push/Pull Col for viewport-->
        <div class="col-xs-12 col-sm-4 col-footer col-sm-pull-4">
            <div class="centerdiv">
                <a href="//www.uchicago.edu/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="The University of Chicago"><img alt="The University of Chicago" src="{% static "base/images/unvlogo-white.png" %}" width="150" /></a>
                <!-- Library Location: Address -->
                <p><span>{{page_location}}</span><br/><span>{{address}}</span></p>
                <small><a href="/about/thelibrary/policies/privacy/" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Privacy Statement">Privacy Statement</a><br/>
                <a href="https://accessibility.uchicago.edu/">University Accessibility</a><br/>
                &copy; <span>The University of Chicago</span><br/>
                <span class="staff-login"><a href="/admin" data-ga-category="footer-links" data-ga-action="click" data-ga-label="Staff Login">Staff Login</a></span>
                </small>
            </div>
        </div>
        <!-- // Address -->
    </footer>
<!-- // Footer --> 
