{% load static %}
<script src="{% static "base/js/voc-button.js" %}"></script>
<!-- Top Navigation -->
<nav aria-label="main" class="navbar navbar-default" data-ga-category="Navigation"> <!-- Navwrapper -->
    <!-- Mobile top right nav -->
    <div role="navigation" class="mobile-topnav" data-ga-subcategory="Navbar Shortcuts">
        <a href="{{hours_page_url}}" data-ga-label="Library Hours"><i title="Library Hours" class="fa fa-clock-o fa-2x"><span class="sr-only">Library Hours</span></i></a>
        <a href="{{chat_url}}" data-ga-label="Ask a Librarian"><i title="Ask a Librarian" class="fa fa-comment fa-2x"><span class="sr-only">Ask a Librarian</span></i></a>
        <a href="/about/thelibrary/supportus/" data-ga-label="Support the Library"><i title="Support the Library" class="fa fa-gift fa-2x"><span class="sr-only">Support the Library</span></i></a>
        <a href="http://www.lib.uchicago.edu/myaccount" data-ga-label="My Accounts"><i title="My Library Account" class="fa fa-user fa-2x"><span class="sr-only">My Library Account</span></i></a>
    </div>
    <!-- // Mobile top right nav -->

    <div class="container-fluid fluid-top"> <!-- Nav Wrapper / Fluid Top -->

        <!-- Mobile + Menu Toggle  -->
        <div class="navbar-header" data-ga-subcategory="Logo and Menu Toggle">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span itemscope itemtype="http://schema.org/Organization">
                <span class="hidden" itemprop="name">The University of Chicago Library</span>
                <a class="navbar-brand" itemprop="url" href="/" data-ga-label="Logo">
                    <img itemprop="logo" src="{% static "base/images/color-logo.png" %}" class="img-responsive" alt="library logo"/></a>
            </span>
        </div> <!-- // end navbar-header -->
        <!-- // Mobile + Menu Toggle  -->

        <!-- Top right nav --> <!-- Hidden XS + SM -->
        <ul class="nav navbar-nav hidden-xs hidden-sm navbar-right" id="navbar-right" data-ga-subcategory="Navbar Shortcuts">
            <li><a href="{{chat_url}}" data-ga-label="Ask a Librarian"><i id="chat-status" class="fa fa-comment fa-lg ask-icon" data-default-ask-name="uofc-ask" aria-hidden="true"></i> Ask
                {% if unfriendly_a %}
                    an
                {% else %}
                    a
                {% endif %} {{self.friendly_name}} Librarian</a></li>
            {% if settings.site_settings.EmergencyHours.enable %}
                <li>
                    <a href="{{hours_page_url}}" data-ga-label="Library Hours">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        {% if settings.site_settings.EmergencyHours.link_text %}
                            {{settings.site_settings.EmergencyHours.link_text}}
                        {% else %}
                            View Hours
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <li class="dropdown" role="heading" id="library_hours_buildings">
                    <a href="#" class="dropdown-toggle" data-ga-label="Library Hours" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Library hours by building">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span id="current-hours" data-libcalid="{{libcalid}}">
                            <span id="current-hours-target">
                                <i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i>
                                <span>Loading...</span>
                            </span>
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul id="hours-dropdown" class="dropdown-menu" aria-labelledby="library_hours_buildings">
                        {% for hours in all_building_hours %}
                            {% if hours != current_building_hours %}
                                <li><a href="#">{{hours}}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="divider" aria-role="presentation"></li>
                        <li><a href="{{hours_page_url}}">View all hours <span class="glyphicon glyphicon-chevron-right" style="font-size:0.8em;"></span></a></li>
                    </ul>
                </li>
            {% endif %}
            <li><a href="/about/thelibrary/supportus/" data-ga-label="Support the Library"><i class="fa fa-gift" aria-hidden="true"></i> Support the Library</a></li>
            <li><a href="http://www.lib.uchicago.edu/myaccount" data-ga-label="My Library Account"><i class="fa fa-user" aria-hidden="true"></i> My Library Account</a></li>
        </ul>
        <!-- // Top right nav -->

        <!-- Main Navigation (In Toggle) -->
        <div class="collapse navbar-collapse" id="global-navbar"  data-ga-category="Global Navbar"> <!-- Global Navbar -->
            <ul class="nav navbar-nav"> <!-- Dropdown Nav -->

                <!-- Search Dropdown -->
                <li class="dropdown" data-ga-subcategory="Search">
                    <a href="#" data-ga-label="Search" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
                    <ul class="dropdown-menu twocol-drop">
                        <!-- Search > Catalog column -->
                        <li class="col-sm-6 ul-left"><span class="twocol-head" role="heading" aria-level="2" id="search_catalogs">Catalogs</span>
                            <ul class="list-unstyled" aria-labelledby="search_catalogs">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/h/3" data-ga-label="Search &gt; Library Catalog">Library Catalog</a></li>
                                <li><a href="/h/borrowdirect" data-ga-label="Search &gt; BorrowDirect">BorrowDirect</a></li>
                                <li><a href="http://proxy.uchicago.edu/login?qurl={{'http://lib.uchicago.edu/h/worldcat'|urlencode:''}}"  data-ga-label="Search &gt; WorldCat">WorldCat</a></li>
                                <li><a href="/search/catalogs/other" data-ga-label="Search &gt; Other Catalogs">Other Catalogs</a> <!-- Padding for lengthening column divider --> <p class="hidden-xs" style="padding-bottom:1em"></p></li>
                            </ul>
                        </li>
                        <!-- // Search > Catalog column -->

                        <!-- Search > Other Tools column -->
                        <li class="col-sm-6"><span class="twocol-head" role="heading" aria-level="2" id="search_other_tools">Other Search Tools</span>
                            <ul class="list-unstyled" aria-labelledby="search_other_tools">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="http://proxy.uchicago.edu/login?qurl={{'http://lib.uchicago.edu/h/articlesplus'|urlencode:''}}" data-ga-label="Search &gt; Articles Plus">Articles Plus</a></li>
                                <li><a href="/h/atoz" data-ga-label="Search &gt; Database Finder">Database Finder</a></li>
                                <li><a href="https://guides.lib.uchicago.edu/az.php?t=41934" data-ga-label="Search &gt; Database Trials">Database Trials</a></li>
                                <li><a href="/ejournals" data-ga-label="Search &gt; Ejournals">Ejournals</a></li>
                                <li><a href="https://knowledge.uchicago.edu/" data-ga-label="KnowledgeUChicago">Knowledge&#64;UChicago</a></li>
                                <li><a href="https://guides.lib.uchicago.edu/off-campus" data-ga-label="Search &gt; Proxy & Off-Campus Access">Proxy &amp; Off-Campus Access</a></li>
                                <li id="web-search"><a href="/#tab-3" data-ga-label="Search &gt; Website Search">Website Search</a></li>
                            </ul>
                        </li>
                        <!-- //Search > Other Tools column -->
                    </ul>
                </li>
                <!-- // Search Dropdown -->

                <!-- Borrow/Request Dropdown -->
                <li class="dropdown" data-ga-subcategory="Borrow & Request">
                    <a href="#" data-ga-label="Borrow &amp; Request" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Borrow<span class="hidden-sm"> &amp; Request</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu twocol-drop">
                        <!-- Borrow/Request > Borrow column -->
                        <li class="col-sm-6 ul-left"><span class="twocol-head" role="heading" aria-level="2" id="request_borrow">Borrow</span>
                            <ul class="list-unstyled" aria-labelledby="request_borrow">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/borrow/borrowing/due-dates-and-loan-periods/" data-ga-label="Due Dates &amp; Loan Periods">Due Dates &amp; Loan Periods</a></li>
                                <li><a href="/borrow/borrowing/renewing-and-returning-items/" data-ga-label="Renewing &amp; Returning Items">Renewing &amp; Returning Items</a></li>
                                <li><a href="/borrow/borrowing/fines-and-lost-items/" data-ga-label="Fines &amp; Lost Items">Fines &amp; Lost Items</a></li>
                                <li><a href="/borrow/borrowing/course-reserves" data-ga-label="Course Reserves">Course Reserves</a></li>
                                <li><a href="/borrow/borrowing/checkout" data-ga-label="Checkout UChicago">Checkout UChicago</a></li>
                                <li><a href="http://www.lib.uchicago.edu/myaccount" data-ga-label="My Library Account">My Library Account</a></li>
                                <li><a href="https://www.lib.uchicago.edu/borrow/borrowing/who-can-borrow/" data-ga-label="Who Can Borrow">Who Can Borrow</a> <!-- Padding for lengthening column divider --> <p class="hidden-xs" style="padding-bottom:8em"></p></li>
                            </ul>
                        </li>
                        <!-- // Borrow/Request > Borrow column -->

                        <!-- Borrow/Request > Request column -->
                        <li class="col-sm-6"><span class="twocol-head" role="heading" aria-level="2" id="request_request">Request</span>
                            <ul class="list-unstyled" aria-labelledby="request_request">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/borrow/requesting/interlibrary-loan/" data-ga-label="Interlibrary Loan">Interlibrary Loan</a></li>
                                <li><a href="/borrow/borrowing/paging/" data-ga-label="Paging &amp; Pickup">Paging &amp; Pickup</a></li>
                                <li><a href="/borrow/requesting/scan-deliver/" data-ga-label="Scan &amp; Deliver">Scan &amp; Deliver</a></li>
                                <li><a href="/borrow/requesting/suggest-purchase/" data-ga-label="Suggest a Purchase">Suggest a Purchase</a></li>
                                <li><a href="https://www.lib.uchicago.edu/about/directory/departments/pres/digitization-services-for-general-collections/" data-ga-label="Digitization Services">Digitization Services</a></li>
                            </ul>
                        </li>
                        <!-- // Borrow/Request > Request column -->
                    </ul>
                </li>
                <!-- // Borrow/Request Dropdown -->

                <!-- Research Dropdown -->
                <li class="dropdown"  data-ga-subcategory="Research & Teaching">
                    <a href="#" data-ga-label="Research &amp; Teaching" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Research <span class="hidden-sm">&amp; Teaching</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu twocol-drop">
                        <div class="col-sm-5 ul-left">
                            <!-- Research > Help Tools column -->
                            <li class=""><span class="twocol-head" role="heading" aria-level="2" id="research_tools">Research Help &amp; Tools</span>
                                <ul class="list-unstyled" aria-labelledby="research_tools">
                                    <li role="separator" class="divider visible-xs" role="presentation"></li>
                                    <li><a href="/research/help/ask-librarian/" data-ga-label="Research &amp; Teaching &gt; Ask a Librarian">Ask a Librarian</a></li>
                                    <li><a href="/about/directory/?view=staff&subject=All+Subject+Specialists" data-ga-label="Research &amp; Teaching &gt; Subject Specialists">Subject Specialists</a></li>
                                    <li><a href="http://guides.lib.uchicago.edu/citation_management" data-ga-label="Research &amp; Teaching &gt; Citation Management">Citation Management</a></li>
                                    <li><a href="http://guides.lib.uchicago.edu/subjectguides/helpguides" data-ga-label="Research &amp; Teaching &gt; Help Guides">Help Guides</a></li>
                                    <li><a href="http://guides.lib.uchicago.edu/subjectguides" data-ga-label="Research &amp; Teaching &gt; Subject Guides">Subject Guides</a> <!-- Padding for lengthening column divider --> <p class="hidden-xs" style="padding-bottom:8em"></p></li>
                                </ul>
                            </li>
                            <!-- // Research > Help Tools column -->

                            <!-- Research > Programs sub-column -->
                            <li class=""><span class="twocol-head" role="heading" aria-level="2" id="research_programs">Programs</span>
                                <ul class="list-unstyled" aria-labelledby="research_programs">
                                    <li role="separator" class="divider visible-xs" role="presentation"></li>
                                    <li><a href="/research/kim-park-program-for-the-study-of-the-book/" data-ga-label="About &gt; Programs">Kim-Park Program for the Study of the Book</a></li>
                                </ul>
                            </li>
                            <!-- // Research > Programs sub-column -->
                        </div>
                        <div class="col-sm-7">
                            <!-- Research > Support sub-column -->
                            <li class=""><span class="twocol-head" role="heading" aria-level="2" id="research_support">Teaching Support</span>
                                <ul class="list-unstyled" aria-labelledby="research_support">
                                    <li role="separator" class="divider visible-xs" role="presentation"></li>
                                    <li><a href="/research/teaching/course-reserves-setup/" data-ga-label="Research &amp; Teaching &gt; Course Reserves Setup">Course Reserves Setup</a></li>
                                    <li><a href="/research/teaching/research-instruction-courses/" data-ga-label="Research &amp; Teaching &gt; Instruction for Courses">Instruction for Courses</a></li>
                                    <li><a href="/research/teaching/" data-ga-label="Research &amp; Teaching &gt; Teaching &amp; Learning Services">Teaching &amp; Learning Services</a></li>
                                    <li role="separator" class="divider hidden-xs" role="presentation"></li>
                                </ul>
                            </li>
                            <!-- // Research > Support sub-column -->

                            <!-- Research > Digital Scholarship sub-column -->
                            <li class=""><span class="twocol-head" role="heading" aria-level="2" id="research_digital">Digital Scholarship</span>
                                <ul class="list-unstyled" aria-labelledby="research_support">
                                    <li role="separator" class="divider visible-xs" role="presentation"></li>
                                    <li><a href="/research/scholar/" data-ga-label="Research &amp; Teaching &gt; Digital Scholarship">Center for Digital Scholarship</a></li>
                                    <li><a href="/research/scholar/phd" data-ga-label="Research &amp; Teaching &gt; Dissertation Office">Dissertation Office</a></li>
                                    <li><a href="https://knowledge.uchicago.edu/" data-ga-label="KnowledgeUChicago">Knowledge&#64;UChicago</a></li>
                                    <li><a href="https://www.lib.uchicago.edu/copyrightinfo/" data-ga-label="Research &amp; Teaching &gt; Copyright Info">Copyright Info</a></li>
                                </ul>
                            </li>
                            <!-- // Research > Digital Scholarship sub-column -->
                        </div>
                    </ul>
                </li>
                <!-- // Research Dropdown -->

                <!-- Collection/Exhibits Dropdown -->
                <li class="dropdown" data-ga-subcategory="Collections & Exhibits">
                    <a href="#" data-ga-label="Collections &amp; Exhibits" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collections <span class="hidden-sm hidden-md">&amp; Exhibits</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu twocol-drop">

                        <li class="col-sm-6 ul-left"><span class="visually-hidden" role="heading" aria-level="2" id="collex_materials">Collection Materials</span> <!-- Formatted like this for ADA purposes since Collection and Exhibit division is for visual reasons only. -->
                            <ul class="list-unstyled" aria-labelledby="collex_materials">
                                
                                <!-- Collection/Exhibits > Collections sub-column -->
                                <li class="twocol-head" role="heading" aria-level="3">Collections</li>
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/collex/" data-ga-label="Collections &amp; Exhibits &gt; Notable Collections">Notable Collections</a></li>
                                <li><a href="/collex/?digital=on&view=collections" data-ga-label="Collections &amp; Exhibits &gt; Digital Collections">Digital Collections</a></li>
                                <li><a href="/collex/?view=subjects" data-ga-label="Collections &amp; Exhibits &gt; Collecting Areas by Subject">Collecting Areas by Subject</a></li>
                                <li><a href="/collex/collections/other-local-collections/" data-ga-label="Collections &amp; Exhibits &gt; Other Local Collections">Other Local Collections</a></li>
                                <!-- // Collection/Exhibits > Collections sub-column -->
                                
                                <!-- Collection/Exhibits > Exhibits sub-column -->
                                <li role="separator" class="divider hidden-xs" role="presentation"></li>
                                <li class="twocol-head" role="heading" aria-level="3">Exhibits</li>
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/collex/?view=exhibits" data-ga-label="Collections &amp; Exhibits &gt; All Exhibits">All Exhibits</a></li>
                                <li><a href="/collex/?digital=on&view=exhibits" data-ga-label="Collections &amp; Exhibits &gt; Web Exhibits">Web Exhibits</a></li>
                                <!-- // Collection/Exhibits > Exhibits sub-column -->
                            </ul>
                        </li>
                        <!-- // Collection/Exhibits > Exhibits sub-column -->

                        <!-- Collection/Exhibits > Research Centers column -->
                        <li class="col-sm-6"><span class="twocol-head" role="heading" aria-level="2" id="collex_centers">Research Centers</span>
                            <ul class="list-unstyled" aria-labelledby="collex_centers">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/about/directory/departments/eastasia/" data-ga-label="Collections &amp; Exhibits &gt; East Asian Collections">East Asian Collection</a></li>
                                <li><a href="/about/directory/departments/map-collection/" data-ga-label="Collections &amp; Exhibits &gt; Map Collection">Map Collection</a></li>
                                <li><a href="/about/directory/departments/southasia/" data-ga-label="Collections &amp; Exhibits &gt; Southern Asia Collection">Southern Asia Collection</a></li>
                                <li><a href="/scrc/" data-ga-label="Collections &amp; Exhibits &gt; Special Collections">Special Collections</a></li>
                            </ul>
                        </li>
                        <!-- // Collection/Exhibits > Research Centers column -->
                    </ul>
                </li>
                <!-- // Collection/Exhibits Dropdown -->

                <!-- Visit/Study Dropdown -->
                <li class="dropdown" data-ga-subcategory="Visit & Study">
                    <a href="#" data-ga-label="Visit &amp; Study" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visit<span class="hidden-sm"> &amp; Study</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu twocol-drop">

                        <!-- Visit/Study > Visiting the Library column -->
                        <li class="col-sm-6 ul-left"><span class="twocol-head" role="heading" aria-level="2" id="visiting_the_library">Visiting the Library</span>
                            <ul class="list-unstyled" aria-labelledby="visiting_the_library">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/borrow/access-privileges/visitors/" data-ga-label="Visit &amp; Study &gt; Visitor Information">Visitor Information</a></li>
                                <li><a href="/scrc/visiting/reading-room-access/" data-ga-label="Visit &amp; Study &gt; Visiting Special Collections">Visiting Special Collections</a></li>
                            </ul>
                        </li>
                        <!-- // Visit/Study > Visiting the Library column -->

                        <!-- Visit/Study > Using Our Spaces column -->
                        <li class="col-sm-6"><span class="twocol-head" role="heading" aria-level="2" id="using_our_spaces">Using Our Spaces</span>
                            <ul class="list-unstyled" aria-labelledby="using_our_spaces">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="https://rooms.lib.uchicago.edu/r/search/seats#s-lc-public-pt" data-ga-label="Using Our Spaces &gt; Book a Room">Book a Room</a></li>
                                <li><a href="/spaces/" data-ga-label="Using Our Spaces &gt; Places to Study">Places to Study</a></li>
                                <!-- <li><a href="/research/help/infofor/bookstacks/" data-ga-label="On-Site Services &gt; Bookstacks Access">Bookstacks Access</a></li> -->
                                <li><a href="https://printing.uchicago.edu/" data-ga-label="Using Our Spaces &gt; Copy, Print &amp Scan">Copy, Print &amp Scan</a></li>
                                <li><a href="/thelibrary/computers-and-wireless/" data-ga-label="Using Our Spaces &gt; Computers &amp Wireless">Computers &amp Wireless</a></li>
                                <li><a href="/spaces/joseph-regenstein-library/regenstein-lockers/" data-ga-label="Using Our Spaces &gt; Lockers">Lockers</a></li>
                                <li><a href="/thelibrary/techbar/" data-ga-label="Using Our Spaces &gt; TechBar">TechBar</a></li>
                                <!-- Padding for lengthening column divider --> <p class="hidden-xs" style="padding-bottom:8em"></p>
                            </ul>
                        </li>
                        <!-- // Visit/Study > Using Our Spaces column -->

                    </ul>
                </li>
                <!-- // Research Dropdown -->

                <!-- Libraries  Dropdown  -->
                <li class="dropdown"  data-ga-subcategory="Libraries">
                    <a href="#" data-ga-label="Libraries" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Libraries <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right onecol-drop">
                        <li class="twocol-head" role="heading" aria-level="2">Our Locations</li>
                        <li role="separator" class="divider visible-xs" role="presentation"></li>
                        <li><a href="/crerar/" data-ga-label="Libraries &gt; Crerar">Crerar</a></li>
                        <li><a href="/law/" data-ga-label="Libraries &gt; D'Angelo Law">D'Angelo Law</a></li>
                        <li><a href="/eck/" data-ga-label="Libraries &gt; Eckhart">Eckhart</a></li>
                        <li><a href="/mansueto/" data-ga-label="Libraries &gt; Mansueto">Mansueto</a></li>
                        <li><a href="/spaces/joseph-regenstein-library/" data-ga-label="Libraries &gt; Regenstein">Regenstein</a></li>
                        <li><a href="/swl/" data-ga-label="Libraries &gt; Social Work">Social Work</a></li>
                        <li><a href="/scrc/" data-ga-label="Libraries &gt; Special Collections">Special Collections</a></li>
                        <li><a href="/libraries/libraries-hours/" data-ga-label="Libraries &gt; Hours" aria-label="View all Library hours">Hours</a></li>
                    </ul>
                </li>
                <!-- // Libraries Dropdown -->



                <!-- About Mega Dropdown -->
                <li class="dropdown" data-ga-subcategory="About">
                    <a href="#" data-ga-label="About" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right twocol-drop">

                        <!-- About > Library column -->
                        <li class="col-sm-6 ul-left"><span class="twocol-head" role="heading" aria-level="2" id="about_library">The Library</span>
                            <ul class="list-unstyled" aria-labelledby="about_library">
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/about/thelibrary/" data-ga-label="About &gt; Facts">About the Library</a></li>
                                <li><a href="/about/thelibrary/mission/" data-ga-label="About &gt; Mission &amp; Strategic Plan">Mission &amp; Strategic Plan</a></li>
                                <li><a href="/about/thelibrary/library-diversity-equity-and-inclusion-vision-statement/" data-ga-label="About &gt; DEI">DEI Vision Statement</a></li>
                                <li><a href="/about/directory/" data-ga-label="About &gt; Departments &amp; Staff">Departments &amp; Staff</a></li>
                                <li><a href="/about/thelibrary/employment/" data-ga-label="About &gt; Employment">Employment</a></li>
                                <li><a href="/about/thelibrary/policies/" data-ga-label="About &gt; Library Policies">Library Policies</a></li>
                                <li><a href="/about/thelibrary/committees/" data-ga-label="About &gt; Library Boards &amp; Committees">Library Boards &amp; Committees</a></li>
                                <li><a href="/about/thelibrary/supportus/" data-ga-label="About &gt; Support the Library">Support the Library</a></li>
                            </ul>
                        </li>
                        <!-- // About > Library column -->

                        <!-- About > News & Programs column -->
                        <li class="col-sm-6"><span class="twocol-head" role="heading" aria-level="2" id="about_news">News &amp; Events</span>
                            <ul class="list-unstyled" aria-labelledby="about_news">
                                
                                <!-- About > News sub-column -->
                                <li role="separator" class="divider visible-xs" role="presentation"></li>
                                <li><a href="/about/news/" data-ga-label="About &gt; News">News</a></li>
                                <li><a href="/about/news-events/events/" data-ga-label="About &gt; Workshops &amp; Events">Workshops &amp; Events</a></li>
                                <li><a href="/about/thelibrary/conferences/" data-ga-label="About &gt; Conferences">Conferences</a></li>
                                <li><a href="/about/news-events/libra" data-ga-label="About &gt; Libra (newsletter)">Libra Newsletter</a></li>
                                <li><a href="/about/news-events/social-media/" data-ga-label="About &gt; Social Media Directory">Social Media Directory</a></li>
                                <!-- // About > News sub-column -->
                            </ul>
                        </li>                        
                        <!-- // About > News column -->
                    </ul>
                </li>
                <!-- // About Dropdown -->

            </ul> <!-- // Dropdown Nav -->
        </div> <!-- // Global Navbar -->
    </div> <!-- // Nav Wrapper / Fluid Top  -->
</nav><!-- // Top Navigation -->

