{% extends "base/public_base.html" %}
{% load render_bundle from webpack_loader %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load show_exhibit_listing_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{# Styles #}
{% block styles %}
    {% compress css %}
        <link href="{% static "base/css/lib_news.scss" %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
{% endblock %}

{# News Navbar #}
{% block above_main_content %}
    {% include 'lib_news/lib_news_top_nav.html' %}
{% endblock %}

{% block under_h1 %}
    <div class="row visible-xs visible-sm toggle-side"> <!-- Off-Canvas Toggle Button -->
        <p>
            <button type="button" class="btn btn-sidebar law btn-xs" data-toggle="offcanvas" aria-label="Toggle secondary menu">
                <i class="fa fa-caret-square-o-right fa-lg" title="Toggle secondary menu"></i>
            </button>
        </p>
    </div>
{% endblock %}

{# Content #}
{% block content %}
    {# Feature Story #}
    {% if self.is_unrouted %}
        {% if feature %}
            <section class="featured-news">
                <article>
                    <span class="title-object">
                        <a href="{{feature.url}}">
                            <h2>{{ feature.title }}</h2>
                        </a>
                        {% if feature.short_description %} 
                            <p>
                                {{ feature.short_description|richtext }}
                            </p>
                        {% endif %}
                        <a href="{{feature.url}}" class="read-more">Read More</a>
                    </span>
                    {% if feature.thumbnail %}
                        <span class="img-object">
                            <a href="{{feature.url}}">
                                {% image feature.thumbnail width-1000 class="article-img" %}
                            </a>
                        </span>
                    {% endif %}
                </article>
            </section>
        {% endif %}
    {% endif %}

    {# News Feed #}
    {% if self.category %}
        <h1>{{ self.category }}</h1>
        <br/>
    {% elif self.search_query %}
        <h1>Search results for: {{ self.search_query }}</h1>
        <br/>
    {% endif %}
    {# Fallback image for stories without a thumbnail #}
    {% image fallback_image fill-500x425-c50 as fallback_img %}
    {# Empty div used by React #}
    <div id="news-feed" data-default-visible="{{default_visible}}" data-increment-visible="{{increment_by}}" data-api-url="{{ news_feed_api }}" data-category="{{ self.category }}" data-fallback-img='{{ fallback_img.url }}' data-first-feature-id={{feature_id}}></div>
    {% render_bundle 'NewsFeed' %}
{% endblock %}

{# Right sidebar #}
{% block right_sidebar %}
    {% if display_current_web_exhibits %}
        {% show_exhibits current_exhibits 'Current Exhibits' %}
    {% endif %}
{% endblock %}
