{% load wagtailcore_tags %}
<nav class="navbar navbar-news sidebar-offcanvas" aria-label="Secondary menu">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-label="Browse by Category for Library news stories">
                Browse by Category <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for cat in categories %}
                    <li><a href="{{ category_url_base }}{{ cat|slugify }}/">{{cat}}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% for p in nav %}
            <li>{{p}}</li>
        {% endfor %}
    </ul>
    {% include 'lib_news/lib_news_search_form.html' %}
</nav>
