{% extends "base/public_base.html" %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load public_tags %}
{% load lib_news_tags %}
{% load show_exhibit_listing_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block js %}{% endblock %}

{% block content %}
  {% include 'lib_news/lib_news_top_nav.html' %}
  {% include 'lib_news/lib_news_search_form.html' %}
  {% get_author self.by_staff self.by_unit self.by_text_block self.page_maintainer %}
  {{ self.body }}
  {% if categories %}
    {% for cat in tagged %}
        <a href="{{ category_url_base }}{{ cat|slugify }}" class="badge">{{cat}}</a>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block right_sidebar %}
  {% if self.related_exhibits %}
    {% get_related_exhibits self.related_exhibits %}
  {% endif %}
  {% if display_current_web_exhibits %}
    {% show_exhibits current_exhibits 'Current Exhibits' %}
  {% endif %}
{% endblock %}
