{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <article>
  {% if view == 'collections' %}
    {% include 'lib_collections/header_collections.html' %}
    <div class="row">
      <table class="table table-striped coll-list">
        <tbody>
          <tr class="table-header">
            <th colspan="4">All Collections</th>
          </tr>
          {% for collection_page in collections %}
            <tr>
              <td>{% if collection_page.thumbnail %}<img class="img-responsive" src=""/>{% endif %}</td>
              <td><strong><a href="{{ collection_page.url_path }}">{{ collection_page.title }}</a></strong><br/>{{ collection_page.short_abstract }}</td>
              <td><strong>Formats</strong><br/>
                {% for collection_placement in collection_page.collection_placements.all %}
                  {% if collection_placement.format == 'Digital' %}
                    <a href=".?view=collections&amp;digital=on{% if subject %}&amp;subject={{ subject|urlencode }}{% endif %}">Digital</a><br/>
                  {% else %}
                    <a href=".?view=collections&amp;format={{ collection_placement.format|urlencode }}{% if subject %}&amp;subject={{ subject|urlencode }}{% endif %}">{{ collection_placement.format }}</a><br/>
                  {% endif %}
                {% endfor %}
              </td>
              <td><strong>Subjects</strong><br/>
                {% for collection_subject_placement in collection_page.collection_subject_placements.all %}
                  <a href=".?view=collections&amp;subject={{ collection_subject_placement.subject|urlencode }}">{{ collection_subject_placement.subject }}</a><br/>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  {% if view == 'exhibits' %}
    {% include 'lib_collections/header_exhibits.html' %}
  {% endif %}
  {% if view == 'subjects' %}
    {% include 'lib_collections/header_subject.html' %}
      <div class="row">
        <table class="table table-striped coll-list">
          <tbody>
            <tr class="table-header">
              <th colspan="4">All Subjects</th>
            </tr>
            {% for s in subjects %}
              {% if s.see_also %}
                <tr class="seealso">
                  <td><strong>{{ s.name }}</strong></td>
                  <td>See: <a href=".?view=subjects#{{ s.see_also|urlencode }}">{{ s.see_also }}</a></td>
                </tr>
              {% else %}
                <tr id="{{ s.name }}">
                  <td><strong>{{ s.name }}</strong></td>
                  <td>Subject specialists, exhibits, collections, subject guides</td>
                </tr>
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </article>
{% endblock %}

