{% extends "base/public_base.html" %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

 <!--  dev-note: h1 is within public_base from name of page - need to verify it pulls in the object name -->

{% block styles %}
  {% compress css %}
      <link href="{% static "/base/css/collex-digital.scss" %}" rel="stylesheet" type="text/x-scss"/>
  {% endcompress %}
{% endblock %}

{% block content %}
<!--   to-do: [ phase 2 ] add if statement for non-Universal viewer objects (eg: DMA) -->

	      <!-- dev-note: all items that need model information are in caps -->


      
      <div class="col-xs-12 col-md-9 centermain"> <!-- Center Content -->

          <!-- @todo Figure out responsive iFrame. Oddness happening with UV iFrame when rendered in browser.
               Ideal code:
               <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="{{ iiif_url }}" allowfullscreen></iframe>
               </div> -->

          <iframe src="{{ iiif_url }}" width="750" height="600" allowfullscreen frameborder="0"></iframe>
	  <!-- <iframe src="https://liblet.lib.uchicago.edu/viewer?manifest=https://iiif-manifest-dev.lib.uchicago.edu/ark:61001/b2nd42r7xp0q" width="750" height="600" allowfullscreen frameborder="0"></iframe> -->

	  <script type="text/javascript">
	    const toggle = (elementID) => {
		const contentId = document.getElementById(elementID);
		if (contentId.style.display == "block") {
		    contentId.style.display = "none";
		}
		else {
		    contentId.style.display = "block";
		}
	    }
	    const updateCitation = (elemValue) => {
		const c = "{{ chicago|safe }}";1
		const a = "{{ apa|safe }}";
		const m = "{{ mla|safe }}";
		if (elemValue == "chicago") {
		    document.getElementById("citationDisplay").innerHTML = c;
		} else if (elemValue == "apa") {
		    document.getElementById("citationDisplay").innerHTML = a;
		} else if (elemValue == "mla") {
		    document.getElementById("citationDisplay").innerHTML = m;
		} else {
		    () => {};
		}
	    }
	  </script>

      <div class="col-xs-12 coll-dropdown">

        <div class="btn-group">
        	<div class="dropdown">
				<button class="btn btn-textonly dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Cite this<span class="caret"></span>
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  	<div class="row" id="hiddenCitation">
					  	<div class="col-sm-4">
							<form>
								<div class="form-check">
								    <input class="form-check-input" type="radio" id="chicago" name="styleButton" value="chicago" onchange="updateCitation(this.value)">
								     <label class="form-check-label" for="chistyle">Chicago Style</label>
								</div>
								<div class="form-check">
								     <input class="form-check-input" type="radio" id="apa" name="styleButton" value="apa" onchange="updateCitation(this.value)">
								     <label class="form-check-label" for="apastyle">APA</label>
								</div>
								<div class="form-check">
								    <input class="form-check-input" type="radio" id="mla" name="styleButton" value="mla" onchange="updateCitation(this.value)">
								    <label class="form-check-label" for="mlastyle">MLA</label>
								</div>
							</form>
						</div>
			<!--  dev-note: UnsUre if we want these hardwired into the html or to do a for loop and put the logic elsewhere -->

					    <div class="col-sm-8">
					     	<div id="citationDisplay">
								{{ mla|safe }}
							</div>
							<div>
								<span class="save-to-link">
						            <a href="{{ bibtex_link }}">Save to BibTeX</a>
								     | <a href="#">Save to Endnote</a>
								 </span>
							</div>
					    </div>
			    
					</div> <!-- // END citation-drop -->
				</div> <!-- // END dropdown-menu -->
			</div>  <!-- // END dropdown -->
		</div>  <!-- // END button group -->

        <div class="btn-group">
            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-textonly dropdown-toggle" type="button">
                <i class="fa fa-share-alt" aria-hidden="true"></i> Share this <span class="caret"></span>
            </button>
            <ul class="dropdown-menu listings-dropdown">
              <li>
		  <a href="https://www.facebook.com/sharer/sharer.php?u={{self.url|urlencode}}" class="btn-floating" type="button" role="button" aria-label="share story on Facebook">Facebook <i aria-hidden="true" class="fa fa-facebook-f"></i></a>
	      </li>
              <li>
		  <!-- TODO: this is missing data beyond the share URL -->
		  <a href="https://twitter.com/intent/tweet?url={{self.url|urlencode}}&text={{self.excerpt|striptags|urlencode|truncatechars:254}}" class="btn-floating" type="button" role="button" aria-label="Share story on Twitter">Twitter <i aria-hidden="true" class="fa fa-twitter"></i></a>
	      </li>
	      <li>
		  <!-- TODO: this link doesn't work yet -->
		  <a href="" class="btn-floating" type="button" role="button" aria-label="Share story on Instagram">Instagram <i aria-hidden="true" class="fa fa-instagram"></i></a>
	      </li>
	      <li>
		  <!-- TODO: neither does this -->
		  <a href="https://pinterest.com/pin/create/button/?url={{self.url|urlencode}}&description={{self.excerpt|striptags|urlencode}}" class="btn-floating" type="button" role="button" aria-label="Share story on Pinterest">Pinterest <i aria-hidden="true" class="fa fa-pinterest"></i></a>
	      </li>
	      <li>
		  <!-- TODO: not sure whether this works yet -->
		  <a href="https://www.reddit.com/submit?url={{self.url|urlencode}}&title={{self.title|urlencode}}" class="btn-floating" type="button" role="button" aria-label="Share story on Reddit">Reddit <i aria-hidden="true" class="fa fa-reddit-alien"></i></a>
	      </li>
            </ul>
		</div>
    </div>
  
		  
		  <span itemscope itemtype="http://schema.org/CreativeWork"> <!-- schema.org wrapper -->  
                      <dl>
			  {% for key, value in marklogic.items %}
			  <dt>
			      {{ key }}
			  </dt>
			  <!-- TODO: add SCHEMA.ORG property as itemprop in dd tag -->
			  <!-- TODO: add handling for if an item has multiple value fields -->
			  <!-- to-do: need to add better CSS handling for multiple value fields (multiple lines) -->
			  <dd>
			      {{ value }}
			  </dd>
			  {% endfor %}
                      </dl>
		  </span> <!-- / schema.org wrapper -->
    	      </div> <!-- // Center Content -->

{% endblock %}
      
{% block right_sidebar %}
{% include "includes/sidebar.html" %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

