
{% block body %}

{% if is_browse %}
    <div class="home-module">
        <h2 class="browse">Browse Collection</h2>
        {% if collection_list_html %}
            {% autoescape off %}
                {{collection_list_html}}
            {% endautoescape %}
        {% endif %}
    </div>
{% endif %}

{% if members or manifests or collections %}
    <section class="view-row" role="navigation" aria-label="Primary">
        {% if thumbnail_view %}
             <a class="grid" href="{{thumbnail_view}}">Thumbnail View</a>
        {% endif %}

        <span class="page-links">
            {% if prev_page %}
                <a class="previous" href="{{ prev_page }}">Previous Page</a> 
            {% endif %}

            {% if next_page %}
                <a class="next" href="{{ next_page }}">Next Page</a>
            {% endif %}
        </span>
    </section>
    
{% endif %}

    <section class="view-row" role="navigation" aria-label="Secondary">
        {% if prev_page %}
            <a class="previous" href="{{ prev_page }}">Previous Page</a> 
        {% endif %}

        {% if list_view %}
             <a class="list" href="{{list_view}}">List View</a>
        {% endif %}

        {% if next_page %}
            <a class="next" href="{{next_page}}">Next Page</a>
        {% endif %}
    </section>

{% endblock %}
