{% extends "base/public_base.html" %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

<!--  dev-note: h1 is within public_base from name of page - need to verify it pulls in the object name -->



{% block styles %}
{% compress css %}
<link href="{% static "/base/css/collex-digital.scss" %}" rel="stylesheet" type="text/x-scss"/>
{% endcompress %}
{% endblock %}


{% block content %}



<iframe src="https://www.lib.uchicago.edu/viewer?manifest=https://iiif-collection.lib.uchicago.edu/object/ark:/61001/b2q573m8n49s.json" width="750" height="600" allowfullscreen frameborder="0"></iframe>


<span itemscope itemtype="http://schema.org/CreativeWork"> <!-- schema.org wrapper -->
    <dl>
        {% for key, value in marklogic.items %}
        <dt>
            {{ key }}
        </dt>
        <!-- TODO: add SCHEMA.ORG property as itemprop in dd tag -->
        <!-- TODO: add handling for if an item has multiple value fields -->
        <!-- to-do: need to add better CSS handling for multiple value fields (multiple lines) -->
        <dd>
            {{ value }}
        </dd>
        {% endfor %}
    </dl>
</span> <!-- / schema.org wrapper -->

{% endblock %}
{% block right_sidebar %}
{% include "includes/sidebar.html" %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

