{% extends "base/public_base.html" %}
{% load compress static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block styles %}
    {% compress css %}
	<link href="{% static "/base/css/collex-digital.scss" %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
{% endblock %}

{% block content %}
    <article>
	<div class="row">
	    <div class="col-xs-12">

		<figure class="imgcaption coll-thumb">
		    {% if self.thumbnail %}
			{% image self.thumbnail width-200 class="img-responsive" %}
			{% if self.thumbnail_caption %}
			    <figcaption>{{ self.thumbnail_caption }}</figcaption>
			{% endif %}
		    {% else %}
			{% if default_image %}
			    {% image default_image width-200 %}
			{% endif %}
		    {% endif %}
		</figure>

		{% for block in self.full_description %}
		    {{ block }}
		{% endfor %}

	    </div>
	</div><!--/.row-->
    </article>

{% if objects %}
    <div class="home-module">
      <h2 class="browse"> Collection Highlights </h2>
      <span class="browse-links">
	{% for type, link in all_browse_types.items %}
	<a href="{{ link }}">
	  Browse by {{ type }}
	</a>
	{% endfor %}
      </span>
    </div>

    <section class="browse-list" id="content" role="main">
      {% include "includes/general_listing.html" %}
    </section>
{% else %}
    <!-- don't display collection highlights if the collection has no -->
    <!-- highlighted records URL -->
{% endif %}
    
{% endblock %}

{% block right_sidebar %}
    {% include "includes/sidebar.html" %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

