{% extends "base/public_base.html" %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}


{% block styles %}
{% compress css %}
<link href="{% static "/base/css/collex-digital.scss" %}" rel="stylesheet" type="text/x-scss"/>
{% endcompress %}
{% endblock %}


{% block content %}

{% if panopto_id %}
<iframe src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id={{ panopto_id }}&autoplay=false&offerviewer=true&showtitle=true&showbrand=false&start=0&interactivity=all" height="100" width="720" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
{% else %}
{% endif %}

<style>
 div.centermain > dl {
     display: grid;
     grid-template-columns: min-content auto;
 }     
 div.centermain > dl > dd {
     border-bottom: 1px dotted rgb(107, 107, 107);
     padding: 12.5px 0; 
 }     
 div.centermain > dl > dt {
     border-bottom: 1px dotted rgb(107, 107, 107);
     padding: 12.5px 1em 12.5px 0; 
 }     
</style>


<dl>
     {% for field, value in object_metadata.items %}
     <dt>{{ field }}</dt>
     <dd>{{ value }}</dd>
     {% endfor %}
</dl>


{% endblock %}
{% block right_sidebar %}
{% include "includes/sidebar.html" %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

