{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <article>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        {% if self.thumbnail %}
          {% image self.thumbnail width-200 class="img-responsive" %}
          {% if self.thumbnail_caption %}
            {{ self.thumbnail_caption }}
          {% endif %}
        {% else %}
          {% if default_image %}
            {% image default_image width-200 %}
          {% endif %}
        {% endif %}
      </div>

      <div class="col-xs-12 col-sm-9">
        {% for block in self.full_description %}
          {{ block }}
        {% endfor %}

        {% if self.primary_online_access_link_url and self.primary_online_access_link_label %}
          <a role="button" class="btn btn-morecoll" href="{{ self.primary_online_access_link_url }}">{{ self.primary_online_access_link_label }} <i aria-hidden="true" class="fa fa-angle-double-right"></i></a>
        {% endif %}

        {% if self.collection_location or self.supplementary_access_links %}
          <h3>Location &amp; Access</h3>
          {% if self.collection_location %}
            <p>
              <strong><a href="{{ self.collection_location.url }}">{{ self.collection_location.title }}</a></strong>
              {% if self.access_instructions %}
                <br/>{{ self.access_instructions }}
              {% endif %}
            </p>
          {% endif %}
  
          {% if self.supplementary_access_links %}
            <p style="font-size: 1.1em;">
              {% for l in self.supplementary_access_links.all %}
                <strong><a href="{{ l.supplementary_access_link_url }}">{{ l.supplementary_access_link_label }}</a></strong><br/>
              {% endfor %}
            </p>
          {% endif %}
        {% endif %}

      </div>
    </div><!--/.row-->
  </article>
{% endblock %}

{% block right_sidebar %}
  {% if staff_title %}
    <div class="rightside-mod">
      <h3>Contact</h3>
      <p>
        {% if staff_url %}
          <a href="{{ staff_url }}">{{ staff_title }}</a>
        {% else %}
          {{ staff_title }}
        {% endif %}
       
        {% if staff_vcard_title %} 
          <em>{{ staff_vcard_title }}</em><br/>
        {% endif %}

        {% if staff_vcard_email %}
          <a href="mailto:{{ staff_vcard_email }}">{{ staff_vcard_email }}</a><br/>
        {% endif %}

        {% if staff_vcard_phone_number %}
          {{ staff_vcard_phone_number }}<br/>
        {% endif %}
    
        {% if staff_vcard_faculty_exchange %}
          {{ staff_vcard_faculty_exchange }}
        {% endif %}
      </p>
    </div>
  {% endif %}

  {% if self.related_collection_placement.all or self.exhibit_page_related_collection.all or self.collection_subject_placements.all or self.collection_placements.all %}
    <div class="rightside-mod">
      <h3>Explore Related Content</h3>
      {% if self.related_collection_placement.all %}
        <strong>Related Collections</strong>
        <ul>
          {% for c in self.related_collection_placement.all %}
            <li><a href="{{ c.related_collection.url }}">{{ c.related_collection.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
  
      {% if self.exhibit_page_related_collection.all %}
        <strong>Related Exhibits</strong>
        <ul>
        {% for e in self.exhibit_page_related_collection.all %}
          <li><a href="{{ e.parent.url }}">{{ e.parent.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}
  
      {% if self.collection_subject_placements.all %}
        <strong>Collections by Subject</strong>
        <ul>
          {% for s in self.collection_subject_placements.all %}
            <li><a href="/collex/?view=collections&subject={{ s.subject.name|urlencode }}">{{ s.subject.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
  
      {% if self.collection_placements.all %}
        <strong>Collections by Format</strong>
        <ul>
          {% for f in self.collection_placements.all %}
            <li><a href="/collex/?view=collections&format={{ f.format.text|urlencode }}">{{ f.format.text }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

