{% extends "base/public_base.html" %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block styles %}
  {% compress css %}
      <link href="{% static "/base/css/collex-digital.scss" %}" rel="stylesheet" type="text/x-scss"/>
  {% endcompress %}
{% endblock %}

<!--  dev-note: h1 is within public_base from name of page - need to verify it pulls in the object name -->

{% block content %}
<!--   to-do: [ phase 2 ] add if statement for non-Universal viewer objects (eg: DMA) -->

<div class="results">
    {% if browse_title %}
	<h2>{{ browse_title }}</h2>
    {% else %}
    {% endif %}
</div>

{{ lookup }}

{% if browses %}

<div id="accordion" role="tablist" aria-multiselectable="true">
    {% for browse, link in browses.items %}
    <div class="card">
        <div class="card-header" role="tab" id="{{ browse }}">
            <h3 class="mb-0">
		<a href="{{ link }}"
		   aria-expanded="false"
		   aria-controls="{{ subject }}">
		    <i class="fa" aria-hidden="true"></i> {{ browse }}
		</a>
            </h3>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

<!-- we aren't currently using this part, but we might later -->
{% if browse_is_ready %}
    <section class="browse-list">
        <!-- <nav aria-label="Page navigation example">
             <ul class="pagination">
             <li class="page-item disabled">
             <a class="page-link" href="#" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
             </a>
             </li>
             <li class="page-item active"><a class="page-link" href="#">A-C</a></li>
             <li class="page-item"><a class="page-link" href="#">D-F</a></li>
             <li class="page-item"><a class="page-link" href="#">G-K</a></li>
             <li class="page-item"><a class="page-link" href="#">L-N</a></li>
             <li class="page-item"><a class="page-link" href="#">O-Z</a></li>
             <li class="page-item">
             <a class="page-link" href="#" aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
             </a>
             </li>
             </ul>
             </nav> -->

        <ul>
            <li>
                <a href="#">Abaza</a>
            </li>
            <li>
                <a href="#">Ainu (Japan)</a>
            </li>
        </ul>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">A-C</a></li>
                <li class="page-item"><a class="page-link" href="#">D-F</a></li>
                <li class="page-item"><a class="page-link" href="#">G-K</a></li>
                <li class="page-item"><a class="page-link" href="#">L-N</a></li>
                <li class="page-item"><a class="page-link" href="#">O-Z</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </section>
{% elif internal_error %}
    <h4>
	<p>We are experiencing an error with this browse listing.</p>
	<p>Please <a href="https://www.lib.uchicago.edu/research/help/ask-librarian/ask-contact/">contact us</a> to let us know this happened.</p>
    </h4>
{% endif %}

{% endblock %}


{% block right_sidebar %}
{% include "includes/sidebar.html" %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

