{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load lib_collections_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <article>
  <div class="row">
  {% if view == 'collections' %}
    {% include 'lib_collections/header_collections.html' %}
    <div class="col-xs-12">
      <table class="table table-striped coll-list">
        <tbody>
          <tr class="etable-header">
            {% if search %}
              <th colspan="4">Search Results for "{{ search }}"</th>
            {% else %}
              <th colspan="4">All Collections</th>
            {% endif %}
          </tr>
          {% for collection_page in collections %}
            <tr>
              <td>
                {% if collection_page.thumbnail %}
                  {% image collection_page.thumbnail fill-100x100 %}
                {% else %}
                  {% if default_image %}
                    {% image default_image fill-100x100 %}
                  {% endif %}
                {% endif %}
              </td>
              <td><strong><a href="{{ collection_page.url }}">{{ collection_page.title }}</a></strong><br/>{{ collection_page.short_abstract }}</td>
              <td><strong>Formats</strong><br/>{% collections_formats collection_page %}</td>
              <td>
                <strong>Subjects</strong><br/>
                {% for collection_subject_placement in collection_page.collection_subject_placements.all %}
                  <a href=".?view=collections&amp;subject={{ collection_subject_placement.subject|urlencode }}">{{ collection_subject_placement.subject }}</a><br/>
                {% endfor %}
              </td>
            </tr>
          {% endfor %}
          {% if search and not collections %}
            <tr>
              <td colspan="4">There were no results for your search.</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  {% endif %}
  {% if view == 'exhibits' %}
    {% include 'lib_collections/header_exhibits.html' %}
    <div class="col-xs-12">
      <table class="table table-striped coll-list">
        <tbody>
          {% if exhibits_current %}
            <tr class="etable-header">
              <th colspan="4">Current Exhibits</th>
            </tr>
          {% endif %}
          {% for exhibit in exhibits_current %}
            <tr>
              <td>
                {% if exhibit.thumbnail %}
                  {% image exhibit.thumbnail fill-100x100 %}
                {% else %}
                  {% if default_image %}
                    {% image default_image fill-100x100 %}
                  {% endif %}
                {% endif %}
              </td>
              <td>
                <a href="{{ exhibit.url }}"><strong>{{ exhibit.title }}</strong></a>
                <br/>
                {{ exhibit.short_abstract }}
              </td>
              <td>
                {% if exhibit.exhibit_location %}
                  <strong>Locations</strong><br/>
                  <a href="{{ exhibit.exhibit_location.url }}">{{ exhibit.exhibit_location.title }}</a><br/>
                {% endif %}
                {% if exhibit.exhibit_open_date and exhibit.exhibit_close_date %}
                  <em>{{ exhibit.exhibit_open_date|date:"N j" }} &#8212; {{ exhibit.exhibit_close_date }}</em><br/>
                {% endif %}
                {% if exhibit.web_exhibit_url %}
                  <a href="{{ exhibit.web_exhibit_url }}">View web exhibit &gt;&gt;</a><br/>
                {% endif %}
              </td>
              <td>
                {% if exhibit.exhibit_subject_placements.all %}
                  <strong>Subjects</strong>
                  <br/>
                  {% for subject_placement in exhibit.exhibit_subject_placements.all %}
                    <a href="{{ subject_placement.subject.url }}">{{ subject_placement.subject.name }}</a><br/>
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          {% if exhibits %}
            <tr class="etable-header">
              <th colspan="4">All Exhibits</th>
            </tr>
          {% endif %}
          {% for exhibit in exhibits %}
            <tr>
              <td>
                {% if exhibit.thumbnail %}
                  {% image exhibit.thumbnail fill-100x100 %}
                {% else %}
                  {% if default_image %}
                    {% image default_image fill-100x100 %}
                  {% endif %}
                {% endif %}
              </td>
              <td>
                <a href="{{ exhibit.url }}"><strong>{{ exhibit.title }}</strong></a>
                <br/>
                {{ exhibit.short_abstract }}
              </td>
              <td>
                <strong>Locations</strong>
                <br/>
                <a href="{{ exhibit.exhibit_location.url }}">{{ exhibit.exhibit_location.title }}</a><br/>
                {% if exhibit.exhibit_open_date and exhibit.exhibit_close_date %}
                  <em>{{ exhibit.exhibit_open_date|date:"N j" }} &#8212; {{ exhibit.exhibit_close_date }}</em><br/>
                {% endif %}
                {% if exhibit.web_exhibit_url %}
                  <a href="{{ exhibit.web_exhibit_url }}">View web exhibit &gt;&gt;</a>
                {% endif %}
              </td>
              <td>
                {% if exhibit.exhibit_subject_placements.all %}
                  <strong>Subjects</strong>
                  <br/>
                  {% for subject_placement in exhibit.exhibit_subject_placements.all %}
                    <a href="{{ subject_placement.subject.url }}">{{ subject_placement.subject.name }}</a></br/>
                  {% endfor %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  {% endif %}
  {% if view == 'subjects' %}
    {% include 'lib_collections/header_subject.html' %}
      <div class="col-xs-12">
        <table class="table table-striped coll-list">
          <tbody>
            <tr class="etable-header">
              <th colspan="4">All Subjects</th>
            </tr>
            {% for s in subjects %}
              {% if s.see_also %}
                <tr class="seealso">
                  <td><strong>{{ s.name }}</strong></td>
                  <td>See: <a href=".?view=subjects#{{ s.see_also|urlencode }}">{{ s.see_also }}</a></td>
                  <td></td>
                </tr>
              {% else %}
                <tr id="{{ s.name }}">
                  <td><strong>{{ s.name }}</strong></td>
                  <td>
                    {% if s.has_subject_specialists %}
                      <a href="/about/directory/?view=staff&amp;subject={{ s.name|urlencode }}"><i class="material-icons">supervisor_account</i>
                      Subject Specialists</a><br/>
                    {% endif %}
                    {% if s.has_exhibits %}
                      <a href=".?view=exhibits&amp;subject={{ s.name|urlencode }}"><i class="material-icons">insert_photo</i>
                      Exhibits</a><br/>
                    {% endif %}
                    {% if s.has_collections %}
                      <a href=".?view=collections&amp;subject={{ s.name|urlencode }}"><i class="material-icons">filter</i>
                      Collections</a><br/>
                    {% endif %}
                    {% if s.libguide_url %}
                      <a href="{{ s.libguide_url }}"><i class="material-icons">recent_actors</i>
                      Subject Guide</a><br/>
                    {% endif %}
                  </td>
                  <td>
                    {% if s.parents %}
                      <em>Part of:</em><br/>
                      {% for p in s.parents %}
                        <a href="#{{ p|urlencode }}">{{ p }}</a><br/>
                      {% endfor %}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  </div>
  </article>
{% endblock %}

