{% extends "base/public_base.html" %}
{% load compress static %}
{% load compile_static %}
{% load wagtailcore_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailimages_tags %}
{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}


{% block styles %}
{% compress css %}
<link href="{% static "/base/css/collex-digital.scss" %}" rel="stylesheet" type="text/x-scss"/>
{% endcompress %}
{% endblock %}


{% block content %}


<!-- <iframe src="https://uchicago.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=f8bed2c9-bfb2-41e8-968b-acd2013ac871&autoplay=false&offerviewer=true&showtitle=true&showbrand=false&start=0&interactivity=all" height="100" width="720" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"> -->


{% endblock %}
{% block right_sidebar %}
{% include "includes/sidebar.html" %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}

