{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
  <article>
    <div class="row">
      <div class="col-xs-12">
        <p>{{ self.acknowledgements }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        {% if self.thumbnail %}
          <figure class="imgcaption">
            {% image self.thumbnail width-200 class="img-responsive" %}
            {% if self.thumbnail_caption %}
              <figcaption>
                <p>{{ self.thumbnail_caption }}</p>
              </figcaption>
            {% endif %}
          </figure>
        {% else %}
          <figure>
            {% image default_image width-200 class="img-responsive" %}
          </figure>
        {% endif %}
      </div>

      <div class="col-xs-12 col-sm-9">
        {% if self.acknowledgments %}
          <p>{{ self.acknowledgments }}</p>
        {% endif %}

        {% for block in self.full_description %}
          {{ block }}
        {% endfor %}
  
        {% if self.web_exhibit_url %} 
          <a role="button" class="btn btn-morecoll" href="{{ self.web_exhibit_url }}">View Web Exhibit</a>
        {% endif %}
       
        {% if self.publication_description or self.exhibit_text_document or self.exhibit_text_link_external or self.exhibit_text_link_page or self.exhibit_checklist_document or self.exhibit_checklist_link_external or self.exhibit_checklist_link_page %}
          <h2>Exhibit Publications &amp; Documents</h2>
  
          {% if self.publication_description %}
            <p>
              {% if self.publication_url %}
                <a href="{{ self.publication_url }}">Publication</a><br>
              {% endif %}
              <em>{{ self.publication_description }}</em>{% if self.publication_price %}, {{ self.publication_price }}{% endif %}</em><br/>
              {% if self.ordering_information %}
                <a href="/scrc/exhibits/ordering-special-collections-publications/">Ordering Information</a><br/>
              {% endif %}
            </p>
          {% endif %}
  
          {% if self.exhibit_text_document %}
            <p><a href="{{ self.exhibit_text_document.file.url }}">Exhibit Text</a></p>
          {% endif %}
          {% if self.exhibit_text_link_external %}
            <p><a href="{{ self.exhibit_text_link_external }}">Exhibit Text</a></p>
          {% endif %}
          {% if self.exhibit_text_link_page %}
            <p><a href="{{ self.exhibit_text_link_page.url }}">Exhibit Text</a></p>
          {% endif %}
  
          {% if self.exhibit_checklist_document %}
            <p><a href="{{ self.exhibit_checklist_document.file.url }}">Exhibit Checklist</a></p>
          {% endif %}
          {% if self.exhibit_checklist_link_external %}
            <p><a href="{{ self.exhibit_checklist_link_external }}">Exhibit Checklist</a></p>
          {% endif %}
          {% if self.exhibit_checklist_link_page %}
            <p><a href="{{ self.exhibit_checklist_link_page.url }}">Exhibit Checklist</a></p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </article>
{% endblock %}

{% block right_sidebar %}
  <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
    <h3>Exhibit Details</h3>
    <p>
      {% if self.exhibit_open_date or self.exhibit_close_date %}
        <strong>
          {% if self.exhibit_open_date %}{{ self.exhibit_open_date }}{% endif %}
          {% if self.exhibit_open_date and self.exhibit_close_date %}&ndash;{% endif %}
          {% if self.exhibit_close_date %}{{ self.exhibit_close_date }}{% endif %}
        </strong><br>
      {% endif %}
  
      {% if self.exhibit_daily_hours %}
        {{ self.exhibit_daily_hours }}<br/>
      {% endif %}
  
      {% if self.exhibit_location %}
        <a href="{{ self.exhibit_location.url }}">{{ self.exhibit_location.title }}</a><br/>
      {% endif %}
  
      {% if self.exhibit_cost %}
        {{ self.exhibit_cost }}<br/>
      {% endif %}
  
      {% if self.space_type %}
        Space Type: {{ self.space_type }}<br/>
      {% endif %}
    </p>
  </div>

  {% if self.staff_contact %}
    <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
      <h3>Contact</h3>
      <p>
        <a href="{{ staff_url }}">{{ self.staff_contact.title }}</a><br>
        <em>{{ self.staff_contact.vcards.first.title }}</em><br>
        <a href="mailto:{{ self.staff_contact.vcards.first.email|urlencode }}">{{ self.staff_contact.vcards.first.email }}</a><br>
        {{ self.staff_contact.vcards.first.phone_number }}<br>
        {{ self.staff_contact.vcards.first.faculty_exchange }}
      </p>
    </div>
  {% endif %}

  {% if self.exhibit_page_related_collection_placement.all or self.exhibit_subject_placements.all %}
    <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
      <h3>Explore Related Content</h3>
      {% if self.exhibit_page_related_collection_placement.all %}
        <strong>Related Collections</strong>
        <ul>
          {% for c in self.exhibit_page_related_collection_placement.all %}
            <li><a href="{{ c.related_collection.url }}">{{ c.related_collection.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    
      {% if self.exhibit_subject_placements.all %}
        <strong>Exhibits by Subject</strong>
        <ul>
          {% for s in self.exhibit_subject_placements.all %}
            <li><a href="/collex/?view=exhibits&amp;subject={{ s.subject.name|urlencode }}">{{ s.subject.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block right_sidebar_classes %}coll-rightside{% endblock %}
