<div class="col-sm-6">
  <div class="btn-group spaces-toggle">
    <a class="btn btn-list-toggle" href="?view=collections">Collections</a>
    <a class="btn btn-list-toggle" href="?view=exhibits">Exhibits</a>
    <a class="btn btn-list-toggle active" href="?view=subjects">Subjects</a>
  </div>
</div>
      
<div class="col-sm-6">
  <form>
    <input type="search" required="" onkeyup="buttonUp();" class="searchbox-input" name="search" placeholder="Search subjects"{% if search %} value="{{ search|urlencode }}"{% endif %}/>
    <input name="view" type="hidden" value="subjects"/>
    <input type="submit" style="background-color: transparent;" class="searchbox-submit"/>
    <span class="searchbox-icon"><i aria-hidden="true" class="fa fa-search"></i></span>
  </form>
</div>

<div class="col-xs-12 col-sm-7 coll-dropdown">
  <span class="headline">Browse by</span>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-textonly dropdown-toggle" type="button">
      {% if subject %}{{ subject }}{% else %}Subject Area{% endif %} <span class="caret"></span>
    </button>
    <ul id="listings-dropdown" class="dropdown-menu">
      {% for subject in subjects_pulldown %}
        <li>
          <a href=".?view=subjects&amp;subject={{ subject|urlencode }}" class="dropdown-item">{{ subject }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


