<div class="col-sm-6">
  <div class="btn-group spaces-toggle">
    <a class="btn btn-list-toggle" href="?view=collections">Collections</a>
    <a class="btn btn-list-toggle active" href="?view=exhibits">Exhibits</a>
    <a class="btn btn-list-toggle" href="?view=subjects">Subjects</a>
  </div>
</div>
      
<div class="col-sm-6">
  <form class="searchbox">
    <input type="search" required="" onkeyup="buttonUp();" class="searchbox-input" name="search" placeholder="Search exhibits"{% if search %} value="{{ search }}"{% endif %}/>
    <input name="view" type="hidden" value="exhibits"/>
    <span class="searchbox-icon"><i title="search" class="fa fa-search"></i>
      <input type="submit" style="background-color: transparent; color: transparent;" class="searchbox-submit">
    </span>
  </form>
</div>

<div class="col-xs-12 col-sm-7 coll-dropdown">
  <span class="headline">Browse by</span>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-textonly dropdown-toggle" type="button">
      Subject{% if subject %}: {{ subject }}{% endif %} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu listings-dropdown">
      {% if subject %}
        <li>
          <a href=".?view=exhibits{% if digital %}&amp;digital={{ digital|urlencode }}{% endif %}{% if location %}&amp;location={{ location|urlencode }}{% endif %}" class="dropdown-item">All Subjects</a>
        </li>
      {% endif %}
      {% for subject in subjects_pulldown %}
        <li>
          <a href=".?view=exhibits&amp;subject={{ subject|urlencode }}{% if digital %}&amp;digital={{ digital|urlencode }}{% endif %}{% if location %}&amp;location={{ location|urlencode }}{% endif %}" class="dropdown-item">{{ subject }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="btn-group">
    <button id="exhibit-location" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-textonly dropdown-toggle" type="button">
      Location{% if location %}: {{ location }}{% endif %} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu listings-dropdown">
      {% if location %}
        <li>
          <a href=".?view=exhibits" class="dropdown-item">All Locations</a>
        </li>
      {% endif %}
      {% for l in locations %}
        <li>
          <a href=".?view=exhibits&amp;location={{ l|urlencode }}{% if subject %}&amp;subject={{ subject|urlencode }}{% endif %}" class="dropdown-item">{{ l }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-5">
  <span class="headline">Limit to</span> &nbsp;
  <form action="." method="get" style="display: inline;">
    <input name="digital" type="checkbox" id="checkboxdigital"{% if digital == 'on' %} checked="checked"{% endif %}> web exhibits &nbsp;
    <input name="view" type="hidden" value="exhibits"/>
    {% if location %}<input name="location" type="hidden" value="{{ location|urlencode }}"/>{% endif %}
    {% if search %}<input name="search" type="hidden" value="{{ search|urlencode }}"/>{% endif %}
    {% if subject %}<input name="subject" type="hidden" value="{{ subject|urlencode }}"/>{% endif %}
    <input type="submit"/>
  </form>
</div>
