<div class="row">
  <div class="col-xs-6">
    <h1><span class="hidden-xs">Our </span>Collections &amp; Exhibits</h1>
  </div>

  <div style="padding-top:10px;" class="col-xs-6">
    <form class="searchbox">
      <input type="search" required="" onkeyup="buttonUp();" class="searchbox-input" name="search" placeholder="Search collection descriptions"{% if search %} value="{{ search|urlencode }}"{% endif %}/>
      <input name="view" type="hidden" value="collections"/>
      <input type="submit" style="background-color: transparent;" class="searchbox-submit"/>
      <span class="searchbox-icon"><i aria-hidden="true" class="fa fa-search"></i></span>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-5">
    <div class="btn-group spaces-toggle">
      <a class="btn btn-directory active" href="?view=collections">Collections</a>
      <a class="btn btn-directory" href="?view=exhibits">Exhibits</a>
      <a class="btn btn-directory" href="?view=subjects">Subjects</a>
    </div>
  </div>

  <div class="col-xs-7 col-sm-4 nopadding">
    <span style="color:#800000;font-weight:600;" class="hidden-xs hidden-sm">Filter by</span>
    <div class="btn-group">
      <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-primary btn-textonly dropdown-toggle" type="button">
        {% if subject %}{{ subject }}{% else %}Subject{% endif %} <span class="caret"></span>
      </button>
      <div class="dropdown-menu listings-dropdown">
        {% if subject %}<a href=".?view=collections{% if digital %}&amp;digital=on{% endif %}{% if format %}&amp;format={{ format|urlencode }}{% endif %}" class="dropdown-item">All subjects</a><br/>{% endif %}
        {% for subject in subjects_pulldown %}
          <a href=".?view=collections{% if digital %}&amp;digital=on{% endif %}{% if format %}&amp;format={{ format|urlencode }}{% endif %}&amp;subject={{ subject|urlencode }}" class="dropdown-item">{{ subject }}</a><br/>
        {% endfor %}
      </div>
    </div>

    <div class="btn-group">
      <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-primary btn-textonly dropdown-toggle" type="button">
        {% if format %}{{ format }}{% else %}Format{% endif %} <span class="caret"></span>
      </button>
      <div class="dropdown-menu listings-dropdown">
        {% if format %}<a href=".?view=collections{% if digital %}&amp;digital=on{% endif %}{% if subject %}&amp;subject={{ subject|urlencode }}{% endif %}" class="dropdown-item">All formats</a><br/>{% endif %}
        {% for format in formats_pulldown %}
          <a href=".?view=collections{% if digital %}&amp;digital=on{% endif %}&amp;format={{ format|urlencode }}{% if subject %}&amp;subject={{ subject|urlencode }}{% endif %}" class="dropdown-item">{{ format }}</a><br/>
        {% endfor %}
      </div>
    </div>
  </div>

  <div style="padding-top:7px" class="col-xs-5 col-sm-3">
    <span style="color:#800000;font-weight:600;" class="hidden-xs hidden-sm">Limit to</span> &nbsp;
    <form action="." method="get">
      <input name="digital" type="checkbox" id="checkboxdigital"{% if digital == 'on' %} checked="checked"{% endif %}> digital <span class="hidden-xs hidden-sm">materials</span> <span class="hidden-md hidden-lg">only</span>&nbsp;
      <input name="view" type="hidden" value="collections"/>
      {% if format %}<input name="format" type="hidden" value="{{ format|urlencode }}"/>{% endif %}
      {% if search %}<input name="search" type="hidden" value="{{ search|urlencode }}"/>{% endif %}
      {% if subject %}<input name="subject" type="hidden" value="{{ subject|urlencode }}"/>{% endif %}
      <input type="submit"/>
    </form>
    
  </div>
</div>
