/*------------------------------------------------------------------
[Table of contents]

Accessibility
Fonts and Headers
Media Queries
Global Elements
Alerts

-------------------------------------------------------------------*/

/*
 * Accessibility
 * --------------------------------------------------
 */

#skip  {
  background: #f5f5f5;
  color: #222;
  a { 
    position:absolute;
    padding: 1em 0 1em 3em;
    line-height: 2em;
    left:-10000px; 
    top:auto; 
    width:1px; 
    height:1px; 
    overflow:hidden;
    color: #222;
    &:focus { 
      position:static; 
      width:auto; 
      height:auto; 
    } 
  }
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */

$font-large: 2.5em;
$font-medium: 1.5em;
$font-small: 1.1em;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/static/base/css/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
  text-rendering: optimizeLegibility; // Support for Safari and Chrome.
  -moz-osx-font-smoothing: grayscale; // Support for Firefox.
  font-feature-settings: 'liga'; // Support for IE.
}

h1 {
  font-size: 1.4em;
  color: #800000;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 1px solid $lightgray;
  margin: 0 0 0.2em 0;
}

h2{
  font-size: 1.2em;
  color: #800000;
  font-weight: 600;
  line-height: 1.4em;
  .contentalert {
    line-height: 1.3em;
    color: #FF3399;
  }
  &+h3 {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.1em;
  color: #9A5324;
  font-weight: 600;
  line-height: 1.4em;
  &+h4 {
    margin-top: 0;
  }
}

h4 {
  font-weight: 600;
  font-size:1.1em;
  color: #6d2f6a;
  font-style: italic;
  line-height: 1.4em;
  .newsblock & {
    margin-bottom: 3px;
  }
  &+h5 {
    margin-top: 0;
  }
}

h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
  font-style: italic;
  line-height: 1.4em;
  &+h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: 1em;
  font-weight: 600;
  color: #525252;
  margin: 15px 0 5px 0;
}


p {
  margin-bottom: 1em;
  line-height: 1.5em;
    small {
      color: #767676;
  }
}


/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */

@mixin respond-to($breakpoint) {
  // Extra small devices (phones, 544px and up)
  @if $breakpoint == "xsmall" {
    @media (min-width: 34em) {
      @content;
    }
  }

  // Small devices (landscape phones, 768px and up)
  @else if $breakpoint == "small" {
    @media (min-width: 48em) {
      @content;
    }
  }
  // Medium devices (crappy laptops, tablets, 992px and up)
  @else if $breakpoint == "medium" {
    @media (min-width: 62em) {
      @content;
    }
  }
  // Large devices (desktops, 1200px and up)
  @else if $breakpoint == "large" {
    @media (min-width: 75em) {
      @content;
    }
  }

  //Extra large devices (large desktops, 1900px and up)
  @else if $breakpoint == "xlarge" {
    @media (min-width: 118em) {
      @content;
    }
  }
  
  // Short-cut to target extra small devices *only* (phones, 544px and up)
  @else if $breakpoint == "smallonly" {
    @media (max-width: 34em) {
      @content;
    }
  }
}


@media print {
    @page {
        size: 330mm 427mm;
        margin: 1cm;
    }
    a[href]:after {
        content: none !important;
    }
    .container {
        width: 1170px;
    }
    .navbar, #footer {
        display: none;
    }
    div.breadcrumbs, div#sidebar, div.jumbotron {
        display: none;
    }
    body {
        overflow: visible !important; 
    }
    div.container, div.container-fluid {
        margin: none;
        padding: none;
    }
    div.row, div.row-fluid {
        margin: none;
        padding: none;
    }
    h2, h3, h4, h5, h6 {
       page-break-after: avoid;
    }
    /*img {
       max-width: 100% !important;
    }*/
    ul, img {
       page-break-inside: avoid;
    }
}


/*
 * Global Elements
 * --------------------------------------------------
 */

body {
  margin-bottom: 0;
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
    .font-secondary {
      font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif;
  }
}

html, body {
  overflow-x: hidden; /* Off Canvas: Prevent scroll on narrow devices */
}

.valid {
  color: #089e00; }

.error {
  color: red; }

.warning {
  color: #fff664; }

.information {
  color: #000db5; }

/* Links */
a {
  text-decoration: none;
  outline: 0;
    &:hover, &:focus {
      color: #5B8FA8;
    }
  &.social {
    color: #767676;
  }
}

.is-vishidden, .visually-hidden { // For ADA helper text
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Alerts
 * --------------------------------------------------
 */

.alert {
  text-align: center;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid gray;
  background: #f9f9f9;
  & p {
    margin-bottom: 0;
    display: inline;
  }
  .rich-text {
    display: inline;
  }
}

.alert-error {
  color: red;
  border-color: red;
  background: #ffbebe;
}

.alert-high {
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 0em;
    border-radius: 0;
    color: #fff;
    background-color: #642822;
    a {
      color: #f9f9f9;
      text-decoration: underline;
    }
}

.alert-low {
    text-align: center;
    font-size: 1.1em;
    padding: 1em;
    margin-bottom: 0em;
    border: 0;
    color: #31708f;
    background-color: #d9edf7;
    border-bottom: 2px solid #31708f;
    a {
      color: #31708f;
      text-decoration: underline;
    }
}

.alert-info {
  @extend .alert-low;
  font-size: 0.9em;
  padding: 0.5em;
  border-bottom: none;
  border-radius: 0;
  & .close {
    opacity: .4;
  }
  @include respond-to(small) {
    padding: 0.5em 3em;
  }
}



