/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *      @include respond-to(medium) { ... }
 *      @include respond-to(large) { ... }
 */

@mixin respond-to($breakpoint) {
  // Extra small devices (phones, 544px and up)
  @if $breakpoint == "xsmall" {
    @media (min-width: 34em) {
      @content;
    }
  }

  // Small devices (landscape phones, 768px and up)
  @else if $breakpoint == "small" {
    @media (min-width: 48em) {
      @content;
    }
  }
  // Medium devices (crappy laptops, tablets, 992px and up)
  @else if $breakpoint == "medium" {
    @media (min-width: 62em) {
      @content;
    }
  }
  // Large devices (desktops, 1200px and up)
  @else if $breakpoint == "large" {
    @media (min-width: 75em) {
      @content;
    }
  }

  //Extra large devices (large desktops, 1900px and up)
  @else if $breakpoint == "xlarge" {
    @media (min-width: 118em) {
      @content;
    }
  }
  
  // Short-cut to target extra small devices *only* (phones, 544px and up)
  @else if $breakpoint == "smallonly" {
    @media (max-width: 34em) {
      @content;
    }
  }
}


/*
 * Print Styles
 * --------------------------------------------------
 */

@media print {
    background-color: #fff;
    .navbar, .footer, .breadcrumbs, div#sidebar, iframe {
        display: none;
    }
    img {
        max-width: 100%;
    }
    @page {
        size: 330mm 427mm;
        margin: 2cm;
    }
    .container-fluid:before {
        content: "University of Chicago Library";
        margin-bottom: 10px;
        border: 1px solid #bbb;
        padding: 3px 5px;
    }
    h2, h3 {
        page-break-after: avoid;
    }
    ul, img {
        page-break-inside: avoid;
    }
    .rich-text a {
        color: #000;
        word-wrap: break-word;
        &:after {
            content: " (" attr(href) ")";
            font-size: 80%;
        }
    }
}
