/*
 * Media Queries
 * --------------------------------------------------
 *
 * Use as: @include respond-to(small) { ... }
 *		@include respond-to(medium) { ... }
 *		@include respond-to(large) { ... }
 */

@mixin respond-to($breakpoint) {
  // Extra small devices (phones, 544px and up)
  @if $breakpoint == "xsmall" {
    @media (min-width: 34em) {
      @content;
    }
  }

  // Small devices (landscape phones, 768px and up)
  @else if $breakpoint == "small" {
    @media (min-width: 48em) {
      @content;
    }
  }
  // Medium devices (crappy laptops, tablets, 992px and up)
  @else if $breakpoint == "medium" {
    @media (min-width: 62em) {
      @content;
    }
  }
  // Large devices (desktops, 1200px and up)
  @else if $breakpoint == "large" {
    @media (min-width: 75em) {
      @content;
    }
  }

  //Extra large devices (large desktops, 1900px and up)
  @else if $breakpoint == "xlarge" {
    @media (min-width: 118em) {
      @content;
    }
  }
  
  // Short-cut to target extra small devices *only* (phones, 544px and up)
  @else if $breakpoint == "smallonly" {
    @media (max-width: 34em) {
      @content;
    }
  }
}

/*
 * Print Styles
 * --------------------------------------------------
 *
 *
 */


@media print {
    @page {
        size: 330mm 427mm;
        margin: 1cm;
    }
    a[href]:after {
        content: none !important;
    }
    .container {
        width: 1170px;
    }
    .navbar, #footer {
        display: none;
    }
    nav:after {
      display: block;
      content: "The University of Chicago Library ( lib.uchicago.edu )";
      font-size: 1.5em;
      font-style: italic;
      margin-bottom: 10px;
    }
    div.breadcrumbs, div#sidebar, div.jumbotron, .btn.btn-sidebar {
        display: none;
    }
    body {
        overflow: visible !important; 
    }
    div.container, div.container-fluid {
        margin: none;
        padding: none;
    }
    div.row, div.row-fluid {
        margin: none;
        padding: none;
    }
    h2, h3, h4, h5, h6, ul, img {
       page-break-after: avoid;
    }
    .rightside {
      border-top: 1px solid #bbb;
      margin-top: 30px;
      display: block;
    }
}

