//Remove?
footer {
  padding: 30px 0;
}

/*
 * Fancy Splash Image (Jumbotron)
 * --------------------------------------------------
 */

.jumbotron {
    max-height: 50px;
    padding-top: 0px;
    margin-bottom: 0;
    &.lawheader {
        background-image: url("../images/law-banner2.jpg"); //Dependent on location
        background-size: cover;
    }
    &.crerarheader {
        background-image: url("../images/crerarbanner.jpg"); //Dependent on location
        background-size: cover;
    }
    //Departments
    &.eastasiaheader {
        background-image: url("../images/ea-bannertemp.jpg"); //Dependent on location
        background-size: cover;
    }
    .container {
        padding: 0px;
    }
    @media (min-width: 768px) { 
        min-height: 75px;
        .container {
            position: relative;
            margin: 0px;
        }
    }
}

.fancyheader {
    background-color: #767676;
    padding: .5em 0 .3em 4em;
    margin-right: -15px;
    margin-left: -15px;
    h2 {
        color: #fff;
        margin: 0px;
    }
}

.overlaywrap {
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    h2 {
        color: #E7E5E2;
        text-align: right;
        font-weight: 400;
        font-size: 1.2em;
        margin-top: 0;
        padding: 10px;
    }
    &.crerar {
        background-color: rgba(21, 95, 131,0.8); //Dependent on location
    }
    &.law, &.eastasia {
        background-color: rgba(109, 50, 39,0.8); //Dependent on location
    }
    @media (min-width: 768px) {
        position: absolute;
        min-width: 50%;
        padding-right: 3em;
        padding-left: 2em;
        h2 {
            font-size: 1.6em;
            margin-top: 10px;
            padding: 0;
        }
    }
}
