$primecolor: #767676;
$seccolor: #D6D6CE;
$accent: #8A8B79;

@mixin gradient {
	background-image: linear-gradient(to bottom, white 0%, $seccolor 100%);
    color: #dadada;
}

/*
 * Global
 * --------------------------------------------------
 */

body {
	font-family: 'ProximaNova-Regular', "Arial", sans-serif;
	margin-bottom: 0;
}

html, body {
  overflow-x: hidden; /* Off Canvas: Prevent scroll on narrow devices */
}

footer {
  padding: 30px 0;
}

/*
 * Top Right Navigation
 * --------------------------------------------------
 */

#navbar-right {
	li>a {
		color: #642822;
	}
}
.navbar-right {
	@media (min-width: 768px){
		padding-right: 1.5em;
	}
}

.mob-fa {
	text-align: center;
	background-color: #eeeeee;
	padding: 5px 0 5px 0;
		a {
		color: #767676;
	}
}

/*
 * Main Navigation
 * --------------------------------------------------
 */

.fluid-top {
	@media (min-width: 768px) {
		padding: 0px;
	}
}

.navbar {
	margin-bottom:0px;
	border-radius: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0px;
}


#global-navbar {
	font-size: 1.1em;
	//background-color: white;
	@media (min-width: 768px)  {
		border-top: 1px solid  $seccolor;
		border-bottom: 1px solid  $seccolor;
		margin-top: 75px;
	}
}

.navbar-brand {
	max-width: 175px;
	padding: 5px 15px 15px 15px;
	@media (min-width: 768px) {
		padding-left: 2.5em;
		max-width: 250px;
		padding-top: 15px;
	}
}

.navbar-default {
    border: 0px;
    @include gradient;
    .navbar-nav {
	    >li>a {
		    color: #800000;
			    &:hover {
				    color: #555;
				}
		}
		.active>a, &.navbar-nav>.active>a:focus, &.navbar-nav>.active>a:hover {
		    color: #555;
		    background-color: $seccolor;
		}
		.open .dropdown-menu {
		    background-color: $seccolor;
		}
	}
}


/*
 * Navigation Dropdowns
 * --------------------------------------------------
 */

.dropdown-menu {
	&>li>a {
	    color: #767676;
	    font-size: 1.1em;
		&:hover {
		    color: #262626;
		    text-decoration: none;
		    background-color: #f5f5f5;
		}
	}
	.divider {
	    background-color: #767676;
	}
}

.twocol-drop {
	background-color: #767676;
	@media (min-width: 768px) {
    	min-width: 500px;
    	background-color: #e7e7e7;
		padding: 10px 0 10px 0;
	}

	>li>ul>li {
		margin-bottom: 10px;
		// &:hover { Hover rectangle not well positioned. - fix for production
		//     color: #262626;
		//     background-color: #f5f5f5;
		// }
		a {
			color: #767676;
		    font-size: 1.1em;
			text-decoration: none;
		}
	}
}

.twocol-head {
	font-size: .8em;
	line-height: 2.4em;
	color: #000;
	text-transform: uppercase;
}

.tworow .navbar-collapse {
	@media (min-width: 768px) {
	    clear: left;		
	}
}

.ul-left {
	padding-bottom: 1.5em;
	@media (min-width: 768px) {
    	padding-bottom: 0px;
		border-right: 1px solid black;
	}
}

.open>.dropdown-menu {
	@media (min-width: 768px) {
		background-color: #e7e7e7;
	}
}


/*
 * Fancy Splash Image (Jumbotron)
 * --------------------------------------------------
 */

.jumbotron {
	@media (min-width: 768px) {	
		min-height: 200px;
		background-image: url("../images/crerar-header.jpg");
		background-size: cover;
	    padding-top: 0px;
	    margin-bottom: 0;
		    .container {
			    position: relative;
			    margin: 0px;
			}
	}
}

.fancyheader {
	background-color: #767676;
	padding: .5em 0 .3em 4em;
	margin-right: -15px;
    margin-left: -15px;
     &.crerar {
     	background-color: #155F83;
     }
	    h2 {
			color: #fff;
			margin: 0px;
		}
}

.overlaywrap {
	@media (min-width: 768px) {
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		left: 0;
		top: 0;
		width: 150%;
		padding-right: 3em;
		padding-left: 2em;
		&.crerar {
			background-color: rgba(21, 95, 131,0.8);
		}
			h2 {
			    color: #fff;
			    font-size: 1.7em;
			    margin-top: 10px;
			}
	}
}


/*
 * Off Canvas (Sidebar Mobile Toggle)
 * --------------------------------------------------
 */

.sidebar {
	background: $seccolor;
	padding-bottom: 40px;
	ul {
		list-style-type: none;
		padding-left: 0;
		li {
			margin-bottom: 10px;
		}
	}
	@media screen and (max-width: 767px) {
		padding-left: 25px;
	}
		& a {
		color: #767676;
		font-size: 1.1em;
		}
		h2 {
			color: #5D5D5D;			
		}
}

.btn-sidebar {
	background: #ddd;
	color: #767676;
	position: absolute;
	padding: 10px;
	left: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-left: 0;
	& a {
		color: #767676;
		}
}

.row-offcanvas {
	@media screen and (max-width: 767px) {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
	}
}

.row-offcanvas-right {
  	@media screen and (max-width: 767px) {
    right: 0;
	    .sidebar-offcanvas {
		    right: -50%; /* 6 columns */
		}
		&.active {
		    right: 50%; /* 6 columns */
		}
	}
}

.row-offcanvas-left {
	@media screen and (max-width: 767px) {
    left: 0;
	    .sidebar-offcanvas {
		    left: -50%; /* 6 columns */
		}
		&.active {
		    left: 50%; /* 6 columns */
		}
	}
}

.sidebar-offcanvas {
	@media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
	}
}

.toggle-side {
	@media screen and (max-width: 767px) {
		padding-bottom: 5px;
	}
}



/*
 * Content
 * --------------------------------------------------
 */

.body-container {
	//max-width: 970px;
	padding-top: 10px;
		h1 {
		color: #434343;			
			}
	@media (min-width: 768px) {
		padding: 40px 0 20px 60px;
	}
}













