/* ------------------------------------------------------------------

> Styles that are only valid on public site <
> Do not use for third party platforms <

[Table of contents]

Global Elements {Public Site}
Fonts and Headers
Forms
Tables: Base
Index List Page

------------------------------------------------------------------- */

@import 'variables.scss';
@import 'media.scss';

/*
 * Global Elements {Public Site}
 * --------------------------------------------------
 */

html,
body {
  // The html and body elements cannot have any padding or margin.
  // overflow-y: scroll; /* has to be scroll, not auto
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-x: hidden; /* Off Canvas: Prevent scroll on narrow devices */
}

body {
  color: #000;
  margin-bottom: 0;
  font-family: $base-font;
}

.valid {
  color: $ncs-ivy;
}

.error {
  color: red;
}

.warning {
  color: $ncs-goldenrod;
}

.information {
  color: $ncs-lake;
}

/* Links */
a {
  color: $ncs-links;
  outline: 0;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $ncs-links-hover;
  }
  &.social {
    color: #767676;
  }
}

/*
 * Fonts and Headers
 * --------------------------------------------------
 */

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
a:empty,
p:empty,
ul:empty {
  display: none; // ADA: Hides empty header tags
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $ncs-maroon;
  font-style: normal;
}

/* this might not be a good idea but it enforces consistency 
*  some wagtail posts have a bold styling applied to a heading. */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
h2 > b,
h3 > b,
h4 > b {
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  color: $ncs-darker-greystone;
  padding-bottom: 5px;
  border-bottom: 1px solid $lightgray;
  margin: 0 0 0.2em;

  @include respond-to(medium) {
    padding-left: 0;
  }
}

h2 {
  font-size: 3rem;
  line-height: 1.4em;
  .contentalert {
    line-height: 1.3em;
    color: #f39;
  }
  & + h3 {
    margin-top: 0;
  }
}

h3 {
  font-family: $accent-font;
  font-size: 2.2rem;
  font-style: normal;
  line-height: 1.4em;
  & + h4 {
    margin-top: 0;
  }
}

h4 {
  font-size: 1.7rem;
  line-height: 1.4em;
  .newsblock & {
    margin-bottom: 3px;
  }
  & + h5 {
    margin-top: 0;
  }
}

h5 {
  font-size: 1em;
  font-weight: 600;
  color: #800000;
  font-style: italic;
  line-height: 1.4em;
  & + h6 {
    margin-top: 0;
  }
}

h6 {
  font-size: 1em;
  font-weight: 600;
  color: #525252;
  margin: 15px 0 5px;
}

p {
  font-size: 1.5rem;
  margin-bottom: 1em;
  line-height: 1.5em;
  small {
    color: #767676;
  }
}

/*
 * Forms
 * --------------------------------------------------
 */

form ol,
form ul {
  list-style: none;
  margin-left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  display: block;
  padding-bottom: 0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px;
}

input,
textarea {
  border: 1px solid gray;
}

input[type='text'],
input[type='search'],
input[type='url'],
input[type='number'],
textarea {
  appearance: none;
}

button,
input[type='submit'] {
  padding: 0.5em;
  color: #fff;
  background: #800000;
  border: none;
  cursor: pointer;
}

input[type='checkbox'],
input[type='radio'] {
  width: auto;
  margin-right: 0.3em;
}

input[type='search'] {
  appearance: none;
  border-radius: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  appearance: none;
}

.field-container {
  margin-bottom: 1em;
}

.inline-form fieldset,
.inline-form .inline-container {
  position: relative;
}
.inline-form input[type='submit'],
.inline-form button,
.inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: $darkgray;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto;
}
.inline-form input[type='submit']:hover,
.inline-form input[type='submit']:focus,
.inline-form button:hover,
.inline-form button:focus,
.inline-form .btn:hover,
.inline-form .btn:focus {
  background: gray;
  color: white;
}

/* Validation */
.has-error {
  border-color: red;
}

.is-valid {
  border-color: #089e00;
}

form#knowledgetracker {
  // Desk Tracker
  & input#submit {
    padding: 0.5em 1.5em;
  }
  & input[type='reset'] {
    // Hide "clear form" button
    display: none;
  }
}

.extract {
  // copyright info box
  background-color: $hovercalm;
  margin: 20px 50px;
  padding: 5px 30px;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  box-shadow: 5px 5px 5px #888;
}

/*
 * Tables: Base
 * --------------------------------------------------
 */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;

  & > thead > tr > th,
  & > tbody > tr > th,
  & > tfoot > tr > th,
  & > thead > tr > td,
  & > tbody > tr > td,
  & > tfoot > tr > td {
    padding: 8px;
    line-height: 1.4286;
    vertical-align: top;
    border-top: 1px solid #ddd;
  }

  & > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }

  & > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  @include respond-to(smallonly) {
    margin-top: 15px;
  }
}

table.table-striped,
.table-striped > tbody {
  @include respond-to(smallonly) {
    // mobile friendly magic
    display: block;
    width: 100%;
    & thead,
    & tr,
    & th,
    & td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    & tr {
      border-bottom: 1px solid #eee;
    }
    & td {
      border: none;
      margin-bottom: 6px;
      color: #444;
    }
  }
}

thead th {
  white-space: nowrap;
}

/*
 *  Index List Page
 * --------------------------------------------------
 */

ul.index-list {
  list-style: none;
  padding-left: 0;
  & > li {
    margin: 1em 0;
    a {
      font-weight: 600;
    }
    & > ul.index-list {
      // 2nd Level & beyond
      padding-inline-start: 15px;
      border-left: 1px solid $ncs-light-greystone;
      & > li {
        a {
          font-weight: 400;
        }

        // &>ul.index-list>li { // 3rd Level
        //   a {
        //     // font-weight: 300;
        //   }
        //   &>ul.index-list>li { // 4th Level
        //     a {
        //       // font-weight: 300;
        //       // font-style: italic;
        //     }
        //   }
        // }
      }
    }
  }
}
