/*
 * Print Styling
 * --------------------------------------------------
 */
@media print {
  background-color: #fff;
  /* line 8, libglobal.scss */
  .navbar, .footer, .breadcrumbs, .sidebar, iframe {
    display: none;
  }

  /* line 11, libglobal.scss */
  img {
    max-width: 100%;
  }

  @page {
    margin: 0.5cm;
}

  /* line 17, libglobal.scss */
  .container-fluid:before {
    content: "University of Chicago Library";
    margin-bottom: 10px;
    border: 1px solid #bbb;
    padding: 3px 5px;
  }

  /* line 24, libglobal.scss */
  .rich-text a {
    color: #000;
    word-wrap: break-word;
  }
  /* line 27, libglobal.scss */
  .rich-text a:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }
}

