#global-navbar {
    background-color: transparent;
}

.navbar-default{
    background-image: url("../images/seamless_paper.png");
    background-repeat: repeat;
}

.footer {
    background-image: url("../images/seamless_paper.png");
    background-repeat: repeat;
}