/* ------------------------------------------------------------------
[Table of contents]

Off Canvas (Sidebar Mobile Toggle)
Left Sidebar
Right Sidebar
Right Sidebar: Widget Items

------------------------------------------------------------------- */

// Widget styling for items in the sidebar are in uclib.scss
// Collections & Exhibits sidebars are in collex.scss

@import 'variables.scss';
@import 'media.scss';

/*
 * Off Canvas (Sidebar Mobile Toggle)
 * --------------------------------------------------
 */
@media screen and (max-width: 986px) {
  // Keep as @media (instead of @include) for stability
  .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
    .sidebar-offcanvas {
      right: -50%; /* 6 columns */
    }
    &.active {
      right: 50%; /* 6 columns */
    }
  }

  .row-offcanvas-left {
    left: 0;
    min-height: 900px; // fix to sidebar overlapping footer in mobile.
    .sidebar-offcanvas {
      left: -50%; /* 6 columns */
      z-index: 1;
    }
    &.active {
      left: 50%; /* 6 columns */
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

  .toggle-side {
    position: absolute;
    padding-bottom: 0;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

/*
 * Left Sidebar
 * --------------------------------------------------
 */

.sidebar {
  background: $ncs-lighter-greystone;
  padding: 1em 1em 1em 2em;

  @include respond-to(medium) {
    padding-left: 1em;
    padding-top: 35px;
  }
  a {
    // ADA
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  // Library specific colors
  // &.crerar>ul>li>a {
  //   color: $crerarblue;
  // }
  // &.eckhart>ul>li>a {
  //   color: $eckhartpurple;
  // }
  // &.mansueto>ul>li>a {
  //   color: $mansuetogreen;
  // }
  // &.reg>ul>li>a {
  //   color: $reggreen;
  // }
  // &.ssa>ul>li>a {
  //   color: $ssaorange;
  // }
  // END Library specific colors

  > ul {
    list-style-type: none;
    padding-left: 1em;
    text-indent: -1em;
    > li {
      // Direct child page
      margin: 1em 0;
      font-weight: 600;
      a {
        color: $maroon;
      }
      & ul {
        // Grandchild page
        list-style-type: none;
        padding-left: 1em;
        text-indent: -1em;
        li {
          font-weight: 200;
          margin-top: 0.5em;
          &:first-child {
            margin-top: 0.2em;
          }
          a {
            color: $mid-dark;
          }
        }
      }
    }
  }
  h2,
  h2 a,
  h3 {
    margin-bottom: 3px;
    font-size: 1em;
    color: $ncs-maroon;
    border-color: $ncs-maroon;
    font-weight: 600;
  }
} // END Sidebar nesting

.btn-sidebar {
  // Toggle button for mobile view

  background: $ncs-light-greystone;
  color: $ncs-darker-greystone;
  box-shadow: none;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  margin-top: 0;
  padding: 6px 12px;
}

/*
 * Right Sidebar
 * --------------------------------------------------
 */

// .btn-morelink and .distinct-rightside in  "_variables.scss"

.rightside {
  border-top: 1px dotted $darkgray;
  border-left: 0;
  margin: 10px 0;
  padding: 20px 15px 0;
  color: black;
  a {
    color: $ncs-links-rightsidebar;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $ncs-links-rightsidebar-hover;
      text-decoration: underline;
    }
  }
  h2,
  h3 {
    font-weight: 600;
    font-size: $font-small;
    font-family: $base-font;
    margin: 5px 0 10px;
    padding-bottom: 5px;
    color: $ncs-maroon;
    font-style: normal;
    border-bottom: 2px solid $ncs-maroon;
    &:first-child {
      margin-top: 5px;
    }
  }

  @include respond-to(small) {
    display: flex;
    flex-wrap: wrap;
  }

  @include respond-to(medium) {
    border-left: 1px dotted $darkgray;
    border-top: 0;
    margin: 0;
    padding: 0 15px;
  }

  @include respond-to(large) {
    max-width: 30em;
  }
  .btn-morelink {
    margin: 0.5em 0 0;
  }
  hr {
    margin: 0.5em 0;
  }
}

.call-out {
  color: #fff;
  padding: 15px !important;
  margin-bottom: 15px;
  background-color: $maroon;
  & h2,
  & h3 {
    color: #fff;
    border: none;
  }
  & a {
    color: #fff;
    &:focus,
    &:hover {
      color: white;
    }
  }
}

/*
 * Right Sidebar: Widget Items
 * --------------------------------------------------
 */

.home-modwrapper {
  padding-top: 20px;
  margin: 10px 0;
  & h2 {
    display: inline;
    font-size: 1.2em;
    color: $maroon;
  }
  & h3 {
    font-family: $base-font;
    font-size: 1em;
    font-weight: 600;
    margin: 0 0 5px;
  }

  @include respond-to(small) {
    padding-top: 0;
  }
  & ul:last-child {
    margin-bottom: 0;
  }
}

.home-module {
  border-bottom: 1px solid $ncs-darker-greystone;
  padding: 0 0 0.5em;
  margin-bottom: 15px;
  a {
    color: $mid-dark;
    display: inline;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #2a5db0;
      text-decoration: underline;
    }
  }
}

.home-modwrapper ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.rightside-mod {
  // Wrapper for individual modules
  padding: 0 0 2em;
  & h4 {
    color: #000;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0.25em;
  }
  ul:not(.features-list) {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
  li {
    margin-bottom: 0.5em;
  }
  .collectionpage & {
    padding-bottom: 1em;
  }

  @include respond-to(small) {
    padding: 0 1em 2em;
  }

  @include respond-to(medium) {
    padding: 0 0 2em;
  }
  .simple-side-header {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

a.viewall {
  display: block;
  &::after {
    content: '\0020\f101';
    font-family: FontAwesome, sans-serif;
  }
}

#widget-social-media ul {
  text-indent: 0;
  padding-left: 0;
}

.flex-sidebar {
  // right sidebar that has push/pull div properties
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .rightside;

  border-top: none;
  margin-top: 0;
  padding-top: 0;

  @include respond-to(small) {
    display: block;
    flex-wrap: nowrap;
  }
}

// Collections & Exhibits

.rightside.coll-rightside {
  // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
  @extend .distinct-rightside;

  border: none;
  h2 {
    color: $reggreen;
    font-weight: 600;
  }
  ul {
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 10px;
  }
}
