@charset "UTF-8";
/*
 *  Global Items
 * --------------------------------------------------
 */
@import url(http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/);
@import url(http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/);
@import url(http://www.netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded- opentype"), url("Content/fonts/glyphicons-halflings-regular.woff") format("woff"), url("Content/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("Content/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }

.font-secondary {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', "Times New Roman", serif; }

body {
  font-family: 'ProximaNova-Regular', "Arial", sans-serif;
  margin-bottom: 100px; }

html {
  position: relative;
  min-height: 100%; }

html, body {
  overflow-x: hidden;
  /* Off Canvas: Prevent scroll on narrow devices */ }

a {
  color: #565A25; }
  a:hover {
    color: #8A9045; }
  p a, .rich-text a {
    color: #5B8FA8;
    text-decoration: underline; }
  a.list-group-item:hover {
    background-color: #ADB17D;
    color: #fff; }

h1 {
  font-size: 1.3em;
  line-height: .8em;
  margin-bottom: 10px;
  color: #8A9045;
  font-weight: 600; }
  .swside-home h1 {
    color: #565A25; }

h2 {
  font-size: 1.2em;
  margin: 2em 0 5px 0;
  font-weight: 700;
  color: #9A5324; }

h3 {
  font-size: 1.1em;
  margin: 30px 0 5px 0;
  color: #565A25;
  font-weight: 600; }
  h3.description {
    margin-top: 0px;
    padding-bottom: 10px; }

h4 {
  font-size: 1.1em;
  font-style: italic;
  color: #725663;
  font-weight: 600;
  margin-top: 2em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  color: #767676; }

h6 {
  font-size: 1.1em;
  font-weight: 100;
  color: #9A5324; }

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
  margin-top: 0; }

.rich-text {
  margin-bottom: 20px; }

.media-heading {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 1.1em;
  color: #9A5324; }
  .media-heading a {
    color: #9A5324; }

.date {
  font-weight: 100;
  font-size: 1.1em;
  color: #767676; }

/*
 *  Top Navigation
 * --------------------------------------------------
 */
#wagtail-userbar {
  position: absolute;
  z-index: 1; }

.navbar-header .navbar-toggle {
  position: relative;
  z-index: 2; }

.navbar > .container-fluid .navbar-brand {
  max-width: 75px;
  padding: 0;
  margin-top: 5px;
  margin-left: 10px; }
  @media (min-width: 768px) {
    .navbar > .container-fluid .navbar-brand {
      max-width: 100px;
      margin-left: 20px; } }

.navbar-right {
  padding: 15px 50px 15px 15px; }
  @media (min-width: 768px) {
    .navbar-right {
      padding: 15px 30px;
      margin: 20px 0 0 0;
      padding: 0px; } }
  @media (max-width: 768px) {
    .navbar-right > .input-group {
      width: 250px; } }

.btn-default {
  color: #fff;
  background-color: #8A9045;
  border-color: #ccc; }
  .btn-default:hover {
    background-color: #ADB17D; }

.breadcrumbs {
  padding-bottom: 5px; }
  @media (min-width: 768px) {
    .breadcrumbs {
      padding-bottom: 20px; } }

.navbar-default {
  border: 0px;
  background-image: linear-gradient(to bottom, #404040 0%, #3b3b3b 100%);
  color: #dadada; }
  @media (min-width: 768px) {
    .navbar-default .divider-vertical {
      height: 100%;
      border-right: 1px solid #282828; } }
  .navbar-default .licaption {
    font-style: italic;
    font-size: 0.8em;
    color: #D6D6CE; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }
  .navbar-default .navbar-toggle:hover {
    background-color: #8A9045; }
  .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:focus {
    background-color: #ADB17D; }

.navbar-form, .navbar-collapse {
  border: 0px; }

/* Navbar links to fill the entire space of the .navbar */
.navbar {
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    .navbar .navbar-inner {
      padding: 0; } }
  @media (min-width: 768px) {
    .navbar .nav {
      margin: 0;
      display: table;
      width: 100%; } }
  .navbar .nav li {
    color: #fff; }
    @media (min-width: 768px) {
      .navbar .nav li {
        display: table-cell;
        width: auto;
        float: none;
        text-align: center;
        padding-bottom: 10px; } }
    .navbar .nav li:hover, .navbar .nav li.current {
      background-color: #8A9045; }
    .navbar .nav li a {
      color: #fff; }
      @media (min-width: 768px) {
        .navbar .nav li a {
          font-size: 1.1em;
          padding-bottom: 3px; } }
      .navbar .nav li a:hover {
        color: #fff; }
      .navbar .nav li a:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px; }
    .navbar .nav li:last-child a {
      border-right: 0;
      border-radius: 0 3px 3px 0; }

.navbar-default .navbar-nav > li > a:focus {
  color: #fff; }

#bs-example-navbar-collapse-1 {
  background-color: #404040;
  font-size: 1.1em; }
  @media (min-width: 768px) {
    #bs-example-navbar-collapse-1 {
      margin-top: 75px;
      margin-left: -15px;
      margin-right: -15px;
      background-image: linear-gradient(to bottom, #404040 0%, #3b3b3b 100%);
      color: #dadada;
      border-top: 1px solid #282828;
      text-align: center; } }

/*
 * Sidebar and Off Canvas (Sidebar Mobile Toggle)
 * --------------------------------------------------
 */
.swside {
  border-right: 1px solid #ADB17D;
  margin-bottom: 20px; }
  .swside h3 {
    font-weight: 400;
    margin-top: 1em; }
  .swside ul {
    list-style-type: none;
    line-height: 1.7em;
    padding-left: 0;
    padding-left: 2em;
    text-indent: -2em; }
    .swside ul > li {
      margin-top: 5px; }
      .swside ul > li a {
        color: #725663;
        font-weight: 600;
        font-size: 1em; }
      .swside ul > li > ul > li {
        line-height: 2em;
        margin-top: 0;
        margin-left: 10px; }
        .swside ul > li > ul > li a {
          color: #5b5b5b;
          font-weight: 300;
          font-size: 1em; }
  @media screen and (max-width: 767px) {
    .swside {
      padding-left: 25px; } }

.btn-sidebar {
  background: #ADB17D;
  color: #fff;
  position: absolute;
  padding: 10px;
  left: 0;
  border-color: #8A9045;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0; }
  .btn-sidebar a, .btn-sidebar:hover {
    color: #fff;
    background: #8A9045; }

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; } }

@media screen and (max-width: 767px) {
  .row-offcanvas-right {
    right: 0; }
    .row-offcanvas-right .sidebar-offcanvas {
      right: -50%;
      /* 6 columns */ }
    .row-offcanvas-right.active {
      right: 50%;
      /* 6 columns */ } }

@media screen and (max-width: 767px) {
  .row-offcanvas-left {
    left: 0; }
    .row-offcanvas-left .sidebar-offcanvas {
      left: -50%;
      /* 6 columns */ }
    .row-offcanvas-left.active {
      left: 50%;
      /* 6 columns */ } }

@media screen and (max-width: 767px) {
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ } }

@media (max-width: 767px) {
  .toggle-side {
    padding-bottom: 20px;
    margin-bottom: 20px; } }

/*
 * Images, Video, and other Media
 * --------------------------------------------------
 */
img {
  max-width: 250px;
  height: auto; }
  @media (min-width: 768px) {
    img {
      max-width: 500px;
      height: auto; } }

figure.imgcaption {
  max-width: 270px;
  border: 1px solid #8A8B79;
  padding: 15px;
  float: left; }
  figure.imgcaption.fullwidth {
    max-width: 100%;
    border: 0px;
    float: none; }
  figure.imgcaption figcaption {
    padding-top: 15px;
    color: #58593F; }

figure.pull-right {
  margin: 10px 0 10px 20px; }

figure.pull-left {
  margin: 10px 20px 10px 0; }

figure.center-block {
  margin: 10px; }

.responsive-object {
  position: relative; }

.responsive-object iframe, .responsive-object object, .responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*
 *  Content
 * --------------------------------------------------
 */
.badge .g-search {
  background-color: #725663; }

.badge .dept-search {
  background-color: #8A9045; }

.badge .f-search {
  background-color: #777; }

.badge .doc-search {
  background-color: #9A5324; }

.badge .staff-search {
  background-color: #0F425C; }

.badge .tech-search {
  background-color: #CC8214; }

.badge .hr-search {
  background-color: #8F3931; }

.sw-toc {
  text-align: center;
  display: flex;
  flex-wrap: wrap; }
  .sw-toc a {
    color: #767676;
    text-decoration: none; }
  .sw-toc > .col-md-4 {
    padding-bottom: 20px; }
  .sw-toc ul {
    list-style-type: none;
    line-height: 1.7em;
    padding-left: 0; }
  .sw-toc .fa {
    color: #ADB17D; }
  .sw-toc h3 {
    margin-top: 5px; }

@media (min-width: 768px) {
  .swnews {
    padding-right: 60px; } }

@media (max-width: 768px) {
  .media-body, .media-left, .media-right {
    display: block; } }

@media (max-width: 768px) {
  .media-body {
    width: initial; } }

.sticky {
  background-color: #d5d7bd;
  padding: 15px; }

.swside-home a {
  color: #8A9045;
  text-decoration: none; }

@media (min-width: 768px) {
  .swside-home {
    border-left: 1px solid #ADB17D;
    padding-left: 30px;
    margin-bottom: 20px; } }

@media (min-width: 768px) {
  .list-group {
    width: 80%;
    padding-bottom: 10px; } }

.list-group .badge {
  margin-left: 5px; }

.btn-bugzilla {
  background-color: #800000;
  color: #fff !important;
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin: 10px 0 10px 0; }
  @media (min-width: 768px) {
    .btn-bugzilla {
      width: 50%; } }
  .btn-bugzilla a {
    color: #fff; }
  .btn-bugzilla:hover {
    color: #fff;
    background-color: #B1746F; }

/* Blockquote */
blockquote {
  margin: 30px 50px 0 50px;
  padding: 0.5em 5px;
  quotes: "“" "”" "‘" "’";
  line-height: 1.7em;
  padding-right: 4em;
  border-left: 0px; }

blockquote:before {
  color: #767676;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em; }

blockquote:after {
  color: #767676;
  content: close-quote;
  font-size: 4em;
  line-height: 0.5em;
  margin-left: 0.1em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.citation {
  margin-bottom: 30px;
  text-align: center; }

/*
 * Link and File Extension Icons
 * --------------------------------------------------


// a[href^="http://"] {
//  content: "\f08e";
//     @include linkicons;
// }

a[href^="mailto:"] {
    content: "\f1d9";
    @include linkicons;    
}

a[href$=".pdf"]:after {
    content: "\f1c1";
    @include linkicons;
}

a[href$=".pptx"]:after, a[href$=".ppt"]:after {
    content: "\f1c4";
    @include linkicons;
}

a[href$=".xlsx"]:after {
    content: "\f1c3";
    @include linkicons;
}

a[href$=".docx"]:after, a[href$=".doc"]:after {
    content: "\f1c2";
    @include linkicons;
}

 */
/*
 * Forms
 * --------------------------------------------------
 */
.unit-body form label {
  display: flex;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 10px; }

.unit-body form ul {
  list-style-type: none;
  line-height: 1.7em;
  padding-left: 0; }

input[type=checkbox], input[type=radio] {
  margin: 4px 10px 0 0; }

/*
 * Directory / Staff Profile
 * --------------------------------------------------
 */
.bg-directory {
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px; }

.bg-filter {
  padding: 0 10px 20px 10px; }
  @media (min-width: 768px) {
    .bg-filter {
      padding: 0 0 20px 0; } }

@media (min-width: 768px) {
  .dir-header {
    padding-right: 20px;
    text-align: right;
    display: inline; } }

.dir-subheader {
  text-align: left;
  padding: 0;
  font-size: 1.1em;
  color: #725663;
  font-weight: 600; }
  @media (min-width: 768px) {
    .dir-subheader {
      display: inline;
      padding: 0 10px 0 0; } }

.guide-link {
  line-height: 2.2em; }

select {
  font-size: 2em;
  padding-top: 10px; }

.btn-directory {
  color: #616530;
  background-color: #fff;
  border: 1px solid #8a9045;
  padding: 5px 15px; }
  .btn-directory:hover, .btn-directory.active {
    color: #fff;
    background-color: #ADB17D; }

/*
 *  Tables
 * --------------------------------------------------
 */
table a, tbody a {
  color: #5B8FA8; }

@media (max-width: 640px) {
  table, tbody {
    display: block;
    width: 100%; }
    table tr, table th, table td, tbody tr, tbody th, tbody td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal; }
    table tr, tbody tr {
      border-bottom: 1px solid #eee;
      padding-bottom: 11px;
      margin-bottom: 11px; }
    table td, tbody td {
      border: none;
      margin-bottom: 6px;
      color: #444; } }

@media screen and (min-width: 640px) {
  .stafflist > tbody > tr > td {
    width: 25%; } }

/*
 *  Dictionary List
 * --------------------------------------------------
 */
dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: 600;
  color: #725663; }

dt:after {
  content: ":"; }

dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0; }

/*
 *  Intranet Index Page
 * --------------------------------------------------
 */
.index-list ul {
  line-height: 1.8em; }
  .index-list ul a {
    color: #767676;
    text-decoration: none; }
  .index-list ul > li a {
    font-weight: 600;
    color: #565A25; }
  .index-list ul > li > ul > li a {
    font-weight: 400;
    color: #767676; }
  .index-list ul > li > ul > li > ul > li a {
    font-weight: 300;
    color: #5B8FA8; }
  .index-list ul > li > ul > li > ul > li > ul > li a {
    font-weight: 300;
    color: #434343;
    font-style: italic; }

/*
 *  Dept Home Page
 * --------------------------------------------------
 */
.deptlist ul {
  list-style: none;
  padding-left: 20px; }
  .deptlist ul > li {
    margin: 15px 0 0 0; }
    .deptlist ul > li a {
      font-size: 1.1em;
      font-weight: 600;
      color: #9A5324;
      padding-bottom: 3px; }
    .deptlist ul > li > ul > li {
      margin: 0 0; }
      .deptlist ul > li > ul > li a {
        font-size: 1.1em;
        font-weight: 400;
        color: #767676;
        line-height: 2em; }
      .deptlist ul > li > ul > li > ul > li a {
        font-size: 1.1em;
        font-weight: 300;
        color: #5B8FA8;
        line-height: 1.5em; }
      .deptlist ul > li > ul > li > ul > li > ul > li a {
        font-size: 1.1em;
        font-weight: 300;
        color: #434343;
        line-height: 1.5em;
        font-style: italic; }

/*
 *  Group Home Page
 * --------------------------------------------------
 */
.grouplist ul {
  list-style: none;
  padding-left: 20px; }
  .grouplist ul > li {
    margin: 15px 0 0 0; }
    .grouplist ul > li a {
      font-size: 1.1em;
      font-weight: 400;
      color: #767676;
      padding-bottom: 3px; }
    .grouplist ul > li > ul > li {
      margin: 0 0; }
      .grouplist ul > li > ul > li a {
        font-size: 1em;
        font-weight: 400;
        color: #5B8FA8;
        line-height: 2em; }

.inactive-groups ul {
  list-style: none;
  padding-left: 20px; }
  .inactive-groups ul > li {
    margin: 15px 0 0 0; }
    .inactive-groups ul > li a {
      font-size: 1em;
      font-weight: 400;
      color: #565A25;
      padding-bottom: 5px; }
    .inactive-groups ul > li > ul > li {
      margin: 0 0; }
      .inactive-groups ul > li > ul > li a {
        font-size: 1em;
        font-weight: 400;
        color: #434343;
        line-height: 2em; }

/*
 *  Footer
 * --------------------------------------------------
 */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 5px;
  background-image: linear-gradient(to bottom, #404040 0%, #3b3b3b 100%);
  color: #dadada; }
  @media (min-width: 768px) {
    .footer {
      padding-top: 0px;
      padding-bottom: 0px; } }
  .footer a {
    color: #fff;
    font-size: 0.85em;
    padding: 7px; }
    .footer a:hover {
      color: #8A9045;
      text-decoration: none; }
    @media (min-width: 768px) {
      .footer a {
        padding: 10px;
        font-size: 1em; } }
  .footer ul {
    margin: 0;
    padding-left: 0;
    padding-top: 5px; }
    @media (min-width: 768px) {
      .footer ul {
        padding-top: 0; } }
    .footer ul li {
      display: inline-block;
      padding-left: 0;
      margin-left: -5px;
      list-style: none; }
      @media (max-width: 768px) {
        .footer ul li:after {
          content: "|\00a0"; } }
      @media (min-width: 768px) {
        .footer ul li {
          height: 100%;
          border-right: 1px solid #282828;
          padding: 20px 10px; }
          .footer ul li:first-child {
            border-left: 1px solid #282828; } }

.footer-brand {
  float: left; }
  .footer-brand img {
    max-width: 100px; }
    @media (min-width: 768px) {
      .footer-brand img {
        max-width: 150px;
        padding: 10px 20px 0 0; } }

/*
 * Print Styling
 * --------------------------------------------------
 */
@media print {
  @page {
    size: 330mm 427mm;
    margin: 1cm; }
  a[href]:after {
    content: none !important; }
  background-color: #fff;
  .navbar, .footer, .breadcrumbs, .sidebar, iframe {
    display: none; }
  img {
    max-width: 100%; }
  @page {
    margin: 0.5cm; }
  .container-fluid:before {
    content: "University of Chicago Library";
    margin-bottom: 10px;
    border: 1px solid #bbb;
    padding: 3px 5px; }
  .rich-text a {
    color: #000;
    word-wrap: break-word; } }
