
/* GUIDELINES
  body:before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 15px;
    width: 1px;
    opacity: .5;
    background: rgb(0,255,0);
    z-index: 999999999999999999999999;
    height: 100vh;
  }
  body:after{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 30px;
    width: 1px;
    opacity: .5;
    background: rgb(0,0,255);
    z-index: 999999999999999999999999;
    height: 100vh;
  }
*/
