// Search box on sub-pages, such as directory and collections.

@import 'variables.scss';
@import 'base.scss';

.searchbox {
  position: relative;
  min-width: 30px;
  margin-top: 10px;
  width: 0%;
  height: 30px;
  float: right;
  overflow: hidden;
  transition: width 0.3s;

  @include respond-to(small) {
    overflow: none;
    width: 70%;
    float: right;
  }
}

.searchbox-input {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #dcddd8;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0 55px 0 20px;
  font-size: 1em;
  color: $maroon;
}

.searchbox-icon,
.searchbox-submit {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 0;
  font-family: verdana, sans-serif;
  font-size: 1em;
  right: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: $maroon;
}

.searchbox-open {
  width: 100%;
}

.byline {
  position: absolute;
  top: 150px;
  left: 30%;
  text-align: center;
  font-size: 18px;
}
.byline a {
  text-decoration: none;
  color: $maroon;
}
