/*------------------------------------------------------------------
[Table of contents]

Search Type Tabs
Search Field Row
Other Search Row

-------------------------------------------------------------------*/

@import "variables";
@import "base";

/*
 * Search Type Tabs
 * --------------------------------------------------
 */

h1.searchbox-header {
  font-size: 1.1em;
  color: #5e5e5e;
  margin: 10px 0 10px 5px;
  font-weight: 600;
  border: none;
}

.transformer-tabs {
  .main-search & {
    background-color: #fff;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #D6D6CE;
    @include respond-to(smallonly) {
      color: #fff;
      display: flex;
    }
  }
  li {
    display: inline-block;
    padding: 0;
    vertical-align: bottom;
    a.active {
      color: lighten(#642822, 20%);
      border-bottom-color: #642822;
      @include respond-to(smallonly) {
        color: #642822;
        display: flex;
        padding-top: 0;
      }
    }
  }
  a {
    display: inline-block;
    color: #525252;
    text-decoration: none;
    padding: 0.3em 1.5em;
    &.active {
      border-bottom: 3px solid transparent;
      position: relative;
      bottom: -3px;
    }
    &:hover {
      color: #C16622;
      border-bottom: 3px solid #C16622;
      position: relative;
      bottom: -3px;
    }
  }
}

.tabs {
  > div {
    display: none;
    padding: 1em;
  }
  &.main-search {
    background-color: rgba(210,205,204, 0.5);
    margin-bottom: 10px;

  }
  > .active {
    display: block;
  }
}

.searchbody {
  background-color: transparent;
  padding: 15px 40px 20px 30px;
  border-top: 4px solid $darkred;
  @include respond-to(small) {
    border-top: none;
  }
}

/*
 * Search Field Row
 * --------------------------------------------------
 */

.search-btn-wrapper {
  @include respond-to(medium) {
    padding-right: 0;
  }
}

.btn-searchtype {
  @include respond-to(small) {
    min-width: 100px;
  }
  &>button {
    color: #fff;
    line-height: 1.2em;
    padding: 8px 25px 8px 10px;
  }
  &>.btn-default {
    margin-bottom: 0;
  }
}

.btn-searchtype>.dropdown-menu { //ALTS to work with javascript translation
  background-color: #B1746F;
  color: #000;
  margin-top: -1px;
  border: none;
  border-top-left-radius: 0;
  & > ul {
    background-color: transparent;
    & > li > a:hover, & > li > a:focus {
        color: #800000;
        background-color: rgba(210, 205, 204, 0.95); //#f7f1f0
        text-decoration: none;
    }
  }
}

.btn-search {
  background-color: #642822;
  color: #fff;
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  line-height: 0.45em;
  margin-top: 0;
  @include respond-to(medium) {
    padding: 15px;
  }
}

.btn-search:hover, .btn-search:focus, .btn-search:active, .btn-searchtype>button:hover, .btn-searchtype>button:focus, .btn-searchtype>button:active, .btn-searchtype>button.btn.dropdown-toggle.btn-default {
    color: #000;
    background-color: #B1746F;
  }

.dropdown-menu-right {
  margin: 0px;
  border: 0px;
  background-color: #F2F2F2;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option { // Makes select text readable
  overflow: initial;
}

/*
 * Other Search Row
 * --------------------------------------------------
 */

 .eoptions {
  padding: 0 0 0 5px;
  font-size: 0.9em;
  margin-bottom: 0;
  p {
    margin-bottom: 0;
  }
  @include respond-to(smallonly) {
    padding: 5px 0 0 5px;
  }
}

.advanced {
  @extend .eoptions;
  text-decoration: underline;
  @include respond-to(small) {
    text-align: right;
  }
}

 .searchoptions {
  color: #525252;
  padding: 10px 0 0 5px;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 0.9em;
  font-style: italic;
  p {
    margin-bottom: 0;
  }
}


