@import "variables.scss";
@import "base.scss";

/*
 * Content
 * --------------------------------------------------
 */

 .breadcrumbs {
  padding-top: 5px;
  padding-left: 40px;
  font-size: 85%;
 }

 .main-container {
  @include respond-to(small) {
    //padding-top: 30px;
  }
 }

 .body-container {
  padding: 30px 10px;
}

.nopadding {  // For use when do not want to wrap in row 
   padding-right: 0;
   padding-left: 0;
   margin-right: 0;
   margin-left: 0;
}

.centermain {
  @include respond-to(large) {
    padding: 0 30px;
  }
  @include respond-to(large) {
    padding: 0 45px;
    max-width: 1400px;
  }
}



/*
 * Text
 * --------------------------------------------------
 */

#footnotes {
  font-family: 'ProximaNova-Light';
  font-size: 0.8em;
}

/* Blockquote */

blockquote {
  margin: 0 50px;
  padding: 0.5em 5px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 1.7em;
  padding-right: 4em;
  border-left: 0px;
    &:before {
      color: #767676;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.1em;
      vertical-align: -0.4em;
    }
    &:after{
      color: #767676;
      content: close-quote;
      font-size: 4em;
      line-height: 0.5em;
      margin-left: 0.1em;
      vertical-align: -0.4em;
    }
    & p {
      display: inline;
    }
}


.citation {
  text-align: center;
  color: #767676;
  font-size: .9em;
}

.intro {
  font-size: 1.0625em;
  font-family: 'ProximaNova-Light'; }

.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em; }

/* Inline Quote */
p q {
quotes: "\201C""\201D""\2018""\2019";
  &:before {
    content: open-quote;
    font-size: 1.2em;
  }
  &:after{
    content: close-quote;
    font-size: 1.2em;
  }
}


/*
 * Homepage Mods
 * --------------------------------------------------
 */

.home-modwrapper {
  & h6 {
      margin: 0 0 5px 0;
    }
  & ul {
    //padding-left: 15px;
  }
  & img {
    margin-top: -15px;
  }
}

.home-module {
  border-bottom: 1px solid #767676;
  padding: 0px 0px 10px 15px;
  margin-bottom: 15px;
}

.home-rightside ul, .home-modwrapper ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.h-inline {
  display: inline;
}

/*
 * Feature Image & News
 * --------------------------------------------------
 */

 .newsblock {
  padding: 0 0 0 5px;
  p {
    clear:both;
    padding: 0 15px 0 0;
  }
 }

figure.embed {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-bottom: 15px;
  font-size: 0.9em;
  background: white;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .newsblock & {
    clear:both;

  }
    img {
      width: 100%;
      display: block;
      @include respond-to(small) {
          max-width: 250px;
          .newsblock & {
            max-width: 300px;
          }
      }
    }
    figcaption {
      width: 100%;
      padding: 0.5em;
      background: rgba(50,50,50,0.7);
      color: #fff;
      position: absolute;
      bottom: 0px;
      &.exhibitdate {
        position: absolute !important;
        bottom: 30px;
      }
      &.exhibit {
        background: rgb(37,25,15);
      }
      &.spaces {
        background: rgb(120,127,49);
      }
      &.resources {
        background: rgb(133,64,25);
      }
      &.preservation {
        background: rgb(17,51,75);
      }
      .newsblock & {
        position: inherit;
        font-size: 1.1em;
        font-weight: 600;
      }
}
  @include respond-to(small) {
    //float: left;
    margin-right: 15px;
    margin-left: 0px;
  } 
}

/* Blocks */
.news-tagbox {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(21, 67, 95, 0.8);
  padding: 0.25em; }

  .news-thumb img {
    display: block;
  }

/* Hero Block ----- PRE-LOADED // Possible Change */
.block-hero {
  margin-bottom: 0.5em; }
  .block-hero .b-thumb img {
    display: block; }
  @media all and (min-width: 50em) {
    .block-hero {
      position: relative; }
      .block-hero .b-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 1.5em; } }



/*
 * Right Sidebar
 * --------------------------------------------------
 */

.home-rightside {
  border-top: 1px dotted $darkgray;
  border-left: 0;
  margin: 10px 0;
  padding-bottom: 40px;
  li {
  color: $darkgray;
  //font-size: 1.1em;
  //margin-bottom: 5px;
  }
  a {
    color: $darkgray;
  }
  @include respond-to(medium) {
    border-left: 1px dotted $darkgray;
    border-top: 0;
    margin: 0;
    max-width: 350px;
  }
  @include respond-to(large) {
    max-width: 30em;
  }
}

.studymod {
  padding-bottom: 10px;
  a {
    color: #337ab7;    
  }
  a:hover {
    text-decoration: none;
  }
  .material-icons {
    vertical-align: middle;
    font-size: 2.1em;
  }
}

/* Calendar */
.cal-date {
  border: 2px solid #725663;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  padding: 0 10px;
  margin-right: 10px;
  & p {
    font-family: Helvetica, sans-serif; 
    font-size: 1.7em;
    text-align: center;
    color: #725663;
    margin-bottom: 0;
    & span {
      font-size: 0.5em;
      font-weight: bold;
      color: #767676;
      text-transform: uppercase;   
      display: block;
      border-top: 3px solid #725663;
    }
  }
}

.cal-event {
  clear:both;
}

/* Event List */
a#event-header {
    color: #616530; 
    font-weight: 400;
    font-size: 1.1em;
  }

.event-date {
  color: #767676;
  font-weight: 600;
}

/* Social Icon Font */
.icon-twitter:before, .icon-stumbleupon:before, .icon-pinterest:before, .icon-linkedin:before, .icon-google-plus:before, .icon-search:before, .icon-play:before, .icon-menu:before, .icon-arrow-left:before, .icon-arrow-right:before, .icon-bubble:before, .icon-facebook:before, .icon-feed:before, .icon-youtube:before, .icon-tag:before, .icon-tumblr:before, .icon-instagram, .icon-podcast, .icon-apple, .icon-android, .icon-arrow:after, .icon-envelope:before {
  color: #8F3931;
   }


/*
 * Agenda
 * --------------------------------------------------
 */

.agenda {
  padding: 0;
}

.agenda-header {
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
}

.end-time {
 padding-right: 10px;
 &:before {
   content: "\2013\0020";
 }
}

.agenda-body {
  padding: 0;
  &>.row {
    padding-top: 10px;
  }
}

.location {
  padding: 0;
  color: #767676;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.session-title {
  padding-left: 15px;
  @include respond-to(small) {
    padding-left: 0;
    margin-left: -10px;
  }

}

.session-subtitle {
  color: #767676;
  font-size: 1.1em;
  font-weight: 600;
  padding-right: 20px;
}

.agenda-body {
  padding-left: 2.2em;
  @include respond-to(small) {
    padding-left: 0;
  }
}

.agenda-presenters {
  color: #635D5A;
  font-size: 1em;
  font-weight: 600;
  padding-right: 20px;
}

/*
 * Forms
 * --------------------------------------------------
 */

form ol, form ul {
  list-style: none;
  margin-left: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

label {
  display: block;
  padding-bottom: 0.5em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0; }

input, textarea {
  border: 1px solid gray; }

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

button, input[type="submit"] {
  padding: 0.5em;
  background: #333333;
  border: 1px solid gray;
  cursor: pointer; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.field-container {
  margin-bottom: 1em; }

.inline-form fieldset, .inline-form .inline-container {
  position: relative; }
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: #333333;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto; }
  .inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
    background: gray;
    color: white; }

/* Validation */
.has-error {
  border-color: red; }

.is-valid {
  border-color: #089e00; }


/*
 * Buttons
 * --------------------------------------------------
 */

.btn {
  padding: 10px 14px 10px 14px;
}

.btn-search {
  margin-top: 0px;
}

.btn-toggle .btn {
  color: #333;
  background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 20px;
      &:hover {
        background-color: #eee;     
      }
}

.btn-default {
  background-color: #767676;
}

.btn-alpha>.btn, {
  color: #333;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.btn-ask {
  color: #fff;
  background-color: #8A9045;
  border-right: 0px;
  padding: 10px 20px;
  margin: 10px 0;
  &.off {
    background-color: #767676;
  }
  &:hover {
      color: #e7e7e7;
      background-color: #616530;     
      }
}

.btn-directory {
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 15px;
    &:hover, &.active {
      background-color: #eee;     
    }
}

.btn-reserve {
  color: #fff;
  letter-spacing: 0.1em;
  background-color: #58593F;
  border-right: 0px;
  margin-top: 15px;
  padding: 5px 20px;
  &:before {
      color: #fff;
      content: "\f271";
      font-family: FontAwesome;
      font-size: 1.2em;
      line-height: 0.1em;
      margin-right: 0.5em;
    }
  &:hover {
      color: #fff;
      background-color: #725663;
  }
}

.btn-subreserve {
    color: #8A9045;
    letter-spacing: 0.1em;
    background-color: transparent;
    padding: 5px 0;
    font-weight: 600;
    &:before {
      color: #8A9045;
      content: "\f274";
      font-family: FontAwesome;
      font-size: 1em;
      line-height: 0.1em;
      margin-right: 0.5em;
    }
    &:hover {
      color: #725663;     
    }
}

/*
 * Lists
 * --------------------------------------------------
 */

ul {
  margin-bottom: 20px;
  &.twocol {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  &.directory>li>ul {
    list-style-type: disc;
    margin-left: 30px;
    &>li>ul {
      list-style-type: circle;
      margin-left: 40px;
    }
  }
}

.list-group {
  margin-right:30px;
  .badge {
    background-color: #D6D6CE;
  }
}

.list-group-item {
  border:  0;
  padding: 5px 0;
}

.quicklinkfloat {
  border-left: 1px dotted $darkgray;
  padding:15px 0 30px 35px;
  margin-left: 20px;
  float: right;
  min-width: 250px;
  &.ask {
    padding:0 0 30px 35px;
    min-width: 30%;
    margin-left: 0px;
    li {
    color: $darkgray;
    font-size: 1.1em;
    }
    .fa {
    vertical-align: middle;
    line-height: 1.5em;
    color: #8A9045;
    }
  }
  a {
    color: $darkgray;
  }
  p {
    color:  #616530;
  }
  li {
    margin-bottom: 5px;
  }
}


/*
 * Ask A Librarian
 * --------------------------------------------------
 */

.libraryh3lp {
  iframe {
    width: 100%;
    height: 400px;
    border: 0px;
    @include respond-to(small) {
      width: 80%;
    }
  }
}

table.ask>tbody>tr>td {
  line-height: 1.8em;
}

.askoptions {
  @include respond-to(xsmall) {
    padding-right: 60px;
  }
}

/* uofc-ask@chat style sheet override */
textarea #send * {
  width: 99%;
}

//Ask right-side link styling is under ".quicklinkfloat"

//Ask button styling is under Buttons section, ".btn-ask"


/*
 * Tables 
 * --------------------------------------------------
 */

table, tbody {
  @include respond-to(smallonly) { //mobile
      display: block;
        width: 100%;
        & tr, & th, & td {
          display: block;
          padding: 0;
          text-align: left;
          white-space: normal;
      }
      & tr {
          border-bottom: 1px solid #eee;
          padding-bottom: 11px;
          margin-bottom: 11px;
      }
      & td {
          border: none;
          margin-bottom: 6px;
          color: #444;
      }
  }
}

/*
 * Images, Video, and other Media
 * --------------------------------------------------
 */

// Responsive media
img, video, object {
  max-width: 100%;
  height: auto;
}

figure.imgcaption {
      max-width: 270px;
      background: #e7e7e7;
      padding: 15px;
      margin: 10px 20px 10px 0 ;
      float: left;
      figcaption {
        padding-top:15px;
      }
}




/*
 * Directory / Staff Profile
 * --------------------------------------------------
 */

.bg-directory {
  padding: 15px 10px 0 0;
}

.dir-header {
  display: none;
  @include respond-to(small) {
            text-align:right;
            display: inline;
        }
}

.bg-filter {
  display:flex;
  @include respond-to(small) {
              padding-right:15px;
              display:inline-flex;
          }
}

.guide-link {
  line-height:2.2em;
}

// .table-striped>tr:nth-child(odd){ **** NEEDS WORK FOR PRODUCTION
//    .dir-supervisor {
//     background-color: #ADB17D;
//   }
// }

/*
 * Spaces
 * --------------------------------------------------
 */

 .featured {
  color: #3E3E23;
  font-size: 1.1em;
  & a {
    color: #616530;
  }
  .material-icons, .fa {
    padding: 0 3px 0 15px;
    font-size: 1.2em;
    color: #8A9045;
    a {
      color: #8A9045;
    }
  }
 }

 .spaces-toggle {
    padding: 0 0 15px 0;
 }

 .img-space {
  max-width: 150px;
    @include respond-to(small) {
      max-width: 200px;
    }
 }

 .spacelist {
  .material-icons, .fa {
    padding-right: 10px;
    &.floorplan {
      font-size: 1.1em;
      padding-right: 5px;
    }
  }
  &>tbody>tr>td {
    @include respond-to(xsmall) {
      width: 25%;
    }
  }
}

.space-computers {
  font-weight: 600;
  color: #616530;
  line-height: 3em;
}

.features-list {
  line-height: 2em;
}

.material-icons {
  font-size: 1.2em;
  line-height: 1.2em;
}



/*
 * Pagination - NEEDS TO BE FIXED
 * --------------------------------------------------
 */
.pagination {
  overflow: hidden;
}

.pagination li {
  float: left;
  border-right: 1px solid #eeeeee;
}

.pagination li:last-child {
      border: 0;
    }

.pagination li>a {
    padding: 1em;
    border: 0px;
  }

