/*------------------------------------------------------------------
[Table of contents]

Content
Text
Images, Video, and other Media
Right Sidebar
Homepage Modules / Widgets  
Workshops & Events Homepage Module
News Homepage Module
Ask A Librarian
Forms
Buttons
Tables
Mini Search (For Lists / Tables)
Light Box Styling
Index List Page
Hours (Mods to LibCal Feed)
Agenda (Conferences)
Event Calendar List
Spaces
Collections & Exhibits
Directory
Staff Profile Page
Page Specific Alterations
-------------------------------------------------------------------*/

@import "variables.scss";
@import "base.scss";


/*
 * Content
 * --------------------------------------------------
 */

.breadcrumbs {
  padding-top: 5px;
  padding-left: 20px;
  font-size: 85%;
 }

.body-container {
  padding: 30px;
  max-width: 2000px;
  .sidebar ~ & {
    @include respond-to(medium) {
      padding-left: 45px;
    }
  }
}

body.staffpublicpage {
  h1 {
    border-bottom: none;
    &~h2 {
      border-bottom: 1px solid green;
      margin-top: 0px;
      padding-bottom: 5px;
      font-weight: 400;
    }
  }
}

.nopadding {  // For use when do not want to wrap in row 
   padding-right: 0;
   padding-left: 0;
   margin-right: 0;
   margin-left: 0;
}

.centermain {
  padding: 0;
  @include respond-to(small) {
    padding: 0 30px 0 15px;
  }
  @include respond-to(large) {
    max-width: 1200px;
  }
}

.distinct-rightside {
  background-color: $hovercalm;
  margin: 10px 0;
  padding: 15px 20px;
  ul {
    list-style-type: none;
    margin-bottom: 10px;
  }
  li {
  color: $brightpurple;
  }
  a {
    color: $brightpurple;
  }
  & h2 {
    margin: 5px 0 10px 0;
    font-size: 1.05em;
    padding-bottom: 5px;
    border-bottom: 1px solid #a0a282;
  }
  @include respond-to(medium) {
    border-top: 0;
    margin: 0;
    max-width: 350px;
  }
  @include respond-to(large) {
    max-width: 30em;
  }
}

.h1-banner, #p-4898 h1, #p-3378 h1:not(.searchbox-header) {  // Hide h1 on homepages with banners
  position:absolute;
  right:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
}

.h1-banner .breadcrumbs, #p-3378 .breadcrumbs, #p-1752 .breadcrumbs, #p-1754 .breadcrumbs, #p-1755 .breadcrumbs, #p-1753 .breadcrumbs, #p-1756 .breadcrumbs, #p-1758 .breadcrumbs { // Hide breadcrumbs on homepages with banners
   @include visually-hidden;
}

.search-results {
  & ul {
    list-style: none;
    padding-left: 0;
  }
  & h4 {
      margin: 20px 0 0 0;
      a {
        @extend h4;
        text-decoration: underline;
      }
  }
  & p {
    color: $darkgray;
    margin-bottom: 2px;
    font-style: italic;
  }
}

/*
 * Text
 * --------------------------------------------------
 */

#footnotes {
  font-family: 'ProximaNova-Light';
  font-size: 0.8em;
}

.pullquote {
  border-left: 5px solid #c8c8c8;
  padding-left: 1em;
  margin-left: 1em;
}

blockquote {
  margin: 0 50px;
  padding: 0;
  text-indent: -2em;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 2.2em;
  border-left: 0px;
  &:before {
    color: $darkgray;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }
  &:after{
    color: $darkgray;
    content: close-quote;
    font-size: 4em;
    line-height: 0.5em;
    margin-left: 0.1em;
    vertical-align: -0.4em;
  }
  & p {
    display: inline;
  }
}

.citation {
  color: $darkgray;
  font-size: .9em;
  margin: 0 0 2em 4em;
}

.intro {
  font-size: 1.0625em;
  font-family: 'ProximaNova-Light'; }

.pullquote {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4375em; }

p q { //Inline Quote
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    content: open-quote;
    font-size: 1.2em;
  }
  &:after{
    content: close-quote;
    font-size: 1.2em;
  }
}


/*
 * Images, Video, and other Media
 * --------------------------------------------------
 */

.block-video > div { //override Wagtail's weird padding
    padding-bottom: 20px!important;
}

.block-image + div {
  margin-top: 1em;
}

img.richtext-image {  //images placed in richtext streamfield
  &.left {
    float: left;
    margin: 0 1.2em 0.7em 0;
    @include respond-to(small) {
      margin: 0 1.5em 0.7em 0;
    }
  }
  &.right {
    float: right;
    margin: 0 0 0.7em 1.2em;
    @include respond-to(small) {
      margin: 0 0 0.7em 1.5em;
    }
  }
  &.full-width {
    width: 100%;
    height: auto;
    margin: 1em 0;
  }
}

figure.imgcaption { //image in streamfield
  max-width: 100%;
  padding: 0;
  display:table; // keeps caption within img width 1/3
  &.pull-left {
    margin: 10px 20px 10px 0;
  }
  &.pull-right {
    margin: 10px 0 10px 20px;
  }
  figcaption {
    padding: 0.7em 1em;
    font-size: 0.8em;
    color: $mid-dark;
    display:table-caption; // keeps caption withing img width 2/3
    caption-side:bottom; // keeps caption withing img width 3/3
    background: $midneutral;
  }
}

span.img-title {
  font-style: italic;
  font-size: 1.1em;
}

span.img-caption {
  font-size: 1.1em;
  padding-top: 10px;
  display: block;
}

a.img-src {
  font-size: 0.8em;
}

.imgcaption .fullwidth {
  display: inline-block;
  margin: 15px 0;
}

/*
 * Right Sidebar
 * --------------------------------------------------
 */

.rightside {
  border-top: 1px dotted $darkgray;
  border-left: 0;
  margin: 10px 0;
  padding: 20px 15px 0px 15px;
  li {
  color: $darkgray;
  }
  a {
    color:  $active-hover;
  }
  h2, h3 {
    font-weight: 400;
    font-size:1.1em;
    margin: 5px 0 10px 0;
    padding-bottom: 5px;
    color: $brightpurple;
    font-style: normal;
    border-bottom: 2px solid $brightpurple;
    &:first-child {
      margin-top: 5px;
    }
  }
  @include respond-to(small) {
    display: flex;
    flex-wrap: wrap;
  }
  @include respond-to(medium) {
    border-left: 1px dotted $darkgray;
    border-top: 0;
    margin: 0;
    padding: 0 15px;
  }
  @include respond-to(large) {
    max-width: 30em;
  }
  .btn-morelink {
    margin-bottom: 10px;
  }
}

.call-out {
  color: #fff;
  padding: 15px!important;
  margin-bottom: 15px;
  background-color: $maroon;
  & h2, & h3 {
    color: #fff;
    border: none;
  }
  & a {
    color: #fff;
  }
}


/*
 * Homepage Modules / Widgets
 * --------------------------------------------------
 */

.home-modwrapper {
  padding-top: 20px;
  margin: 10px 0;
  & h2 {
    display: inline;
    font-size: 1.2em;
    color: $maroon;
  }
  & h3 {
    font-size: 1em;
    font-weight: 600;
    color: $darkgray;
    margin: 0 0 5px 0;
  }
  @include respond-to(small) {
    padding-top: 0;
  }
  & ul:last-child {
    margin-bottom: 0;
  }
}

.home-module {
  border-bottom: 1px solid $darkgray;
  padding: 0px 0px 10px 15px;
  margin-bottom: 15px;
  a {
    color: $darkgray;
    display: inline;
    &.viewall:before {
      content: "\0020|\0020";
      margin: 0 0.5em;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.rightside ul, .home-modwrapper ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.rightside-mod { //Wrapper for individual modules
  padding: 0 0 2em 0;
  @include respond-to(small) {
    padding: 0 1em 2em 1em;
  }
  @include respond-to(medium) {
    padding: 0 0 2em 0;
  }
}

a.viewall {
  &:after {
    content: "\0020\f101";
    font-family: FontAwesome;
  }
}

.btn-morelink {  // "View more ..." link for sidebar
  font-size: 0.9em;
  color: $crerarblue;
  background: $lightneutral;
  border: 1px solid $lightgray;
  border-radius: 0;
  padding: 6px 12px;
  margin-bottom: 10px;
  &:after {
    content: "\0020\f101";
    font-family: FontAwesome;
  }
  &:hover {
    background: #d8b9b7;
    color: $maroon; 
  }
}

.studymod { //Study Spaces
  p {
    text-align: center;
  }
  a {
    color: $eckhartpurple;    
  }
  a:hover {
    text-decoration: none;
  }
  .material-icons, a.material-icons {
    color: $eckhartpurple;
    vertical-align: middle;
    font-size: 2em;
  }
  .fa, a.fa {  // to make-up for the size difference between the two icon families
    color: $eckhartpurple;
    font-size:1.5em;
    padding-top: 10px;
    padding-bottom:7px;
  }
}

.home-profile { // featured profile on specialist module
  padding: 0;
  max-width: 110px;
}


/*
 * Workshops & Events Homepage Module
 * --------------------------------------------------
 */

.dates-bar {
  margin-bottom: 10px;
  a.active {
    color: #fff;
    background-color: $active-hover;
    .date, .month {
      color: #fff;
    }
  }
}

a#event-header {
  color: #000;
  font-weight: 100;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.event-date {
  color: $reggreen;
  font-weight: 600;
}

.btn-register {
  color: $active;
  background-color: transparent;
  padding: 5px 0 0 0!important;
  font-weight: 600;
  margin: 0;
  &:after {
    content: "\f274";
    font-family: FontAwesome;
    font-size: 1em;
    line-height: 0.1em;
    margin-left: 0.5em;
  }
  &:hover {
    color: $active-hover;     
  }
}

/*
 * Carousel
 * --------------------------------------------------
 */

.carousel {
  margin-bottom: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  width: 100%
}

.carousel-caption {
  //font-family: Garamond, serif;
  padding-top: 0;
  text-shadow: 1px 1px 30px rgba(0, 0, 0, 1.0);
  font-size: 0.7em;
  z-index: 5;
  @include respond-to(small) {
    font-size: 1em;
  }
  & a {
    color: #fff;
    line-height: 2.3em;
    &:hover {
      color: $darkgray;
      text-decoration: none;
    }
  }
}

/*
 * News Homepage Module
 * --------------------------------------------------
 */

 .news-wrap {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;  // Safari fix
  -webkit-flex-wrap: wrap;  // Safari fix
}

.newsblock {
  padding: 0 5px;
  h3 {
    color: $darkneutral;
    font-style: normal;
    margin-top: 0.5em;
  }
  p {
    clear:both;
    padding: 0 15px 0 0;
  }
}

figure.embed {
  width: 98%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0.9em;
  background: transparent;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .newsblock & {
    clear:both;
  }
  img {
    object-fit: cover;
    min-width: 100%;
    min-height: auto;
    height: 125px; // for centering the image
    width: 200px; // for centering the image
    display: block; // corrects inline gap in enclosing div
    width: auto\9; // ie8+9
    -ms-interpolation-mode: bicubic; // lt ie8
  }
  figcaption {  //category tags on news images
    width: 100%;
    padding: 0.5em;
    background: rgba(50,50,50,0.7);
    color: #fff;
    position: absolute;
    bottom: 0px;
    &.exhibitdate {
      position: absolute !important;
      bottom: 30px;
    }
    &.exhibits {
      background: rgb(37,25,15);
    }
    &.spaces {
      background: rgb(101,109,51);
    }
    &.people {
      background: rgb(153,83,36);
    }
    &.research {
      background: rgb(21,67,95);
    }
    &.resources {
      background: rgb(70,72,51);
    }
    &.teaching {
      background: rgb(21,95,131);
    }
    &.events {
      background: rgb(114,86,99);
    }
    &.hours-access {
      background: rgb(128,0,0);
    }
    &.spotlight {
      background: rgb(198,130,32);
    }
    &.from-the-director {
      background: rgb(143,57,49);
    }
    .newsblock & {
      position: inherit;
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

.figure-wrap {
  height: 125px;
  overflow: hidden;
}

/*
 * Forms
 * --------------------------------------------------
 */

form ol, form ul {
  list-style: none;
  margin-left: 0; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

label {
  display: block;
  padding-bottom: 0.5em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0 1px 0; }

input, textarea {
  border: 1px solid gray; }

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
  -webkit-appearance: none; }

button, input[type="submit"] {
  padding: 0.5em;
  color: #fff;
  background: #800000;
  border: none;
  cursor: pointer; }

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.3em; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.field-container {
  margin-bottom: 1em; }

.inline-form fieldset, .inline-form .inline-container {
  position: relative; }
.inline-form input[type=submit], .inline-form button, .inline-form .btn {
  font-size: 0.875em;
  padding: 0.65rem 1.3rem;
  background: $darkgray;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: auto; }
  .inline-form input[type=submit]:hover, .inline-form input[type=submit]:focus, .inline-form button:hover, .inline-form button:focus, .inline-form .btn:hover, .inline-form .btn:focus {
    background: gray;
    color: white; }

/* Validation */
.has-error {
  border-color: red; }

.is-valid {
  border-color: #089e00; }

form#knowledgetracker { // Desk Tracker
  & input#submit {
    padding: 0.5em 1.5em;
  }
  & input[type="reset"] { // Hide "clear form" button
    display: none;
  }
}

.extract { // copyright info box
  background-color: #eeefe5;
  margin: 20px 50px;
  padding: 5px 30px;
  border-left: 3px solid #ccc;
  border-right: 3px solid #ccc;
  box-shadow: 5px 5px 5px #888888;
}


/*
 * Buttons
 * --------------------------------------------------
 */

.btn {
  padding: 10px 14px;
}

.btn-default {
  color: #fff;
  background-color: $darkgray;
  padding: 6px 12px;
  margin-bottom: 10px;
  &:hover {
    background: $lightgray;
    color: $maroon; 
  }
}

.btn-primary {
  @extend .btn-morelink;
}

.btn-list-toggle {  //Behavior togglers with maroon lines
  color: $darkgray;
  background-color: #fff;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 5px 15px;
  border-radius: 0;
  &.active {
    border-top: 2px solid $maroon;
    border-bottom: 2px solid $maroon;
    color: $maroon;
    -webkit-box-shadow: none;
    box-shadow: none;   
  }
  &:hover {
    border-top: 2px solid #d8b9b7;
    border-bottom: 2px solid #d8b9b7;
    color: $maroon;
    -webkit-box-shadow: none;
    box-shadow: none; 
  }
}

.btn-textonly { // Dropdowns - no borders, rtc
  color: $darkgray;
  background-color: transparent;
  border:0;
  padding: 5px 10px 5px 5px;
  border-radius: 0;
  margin-bottom: 0px;
  @include respond-to(small) {
    padding: 5px 10px 5px 10px;
  }
}

.open>.dropdown-toggle.btn-textonly:focus, .open>.dropdown-toggle.btn-textonly:hover {
  background-color: $hovercalm;
}

.btn-alpha {  //Finding Aids Search Page
  padding: 20px 0 0 0;
  text-align: center;
  @include respond-to(smallonly) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  a {
    color: #333;
    font-size: 0.8em;
    padding: 0.5em 1em;
    line-height: 3em;
    border-right: 1px solid #800000;
    &:last-child {
      border-right: none;
    }
    @include respond-to(smallonly) {
      flex: 1;
      width: 10%;
    }
    @include respond-to(medium) {
      padding: 0.5em 0.75em;
    }
  }
}


/*
 * Tables 
 * --------------------------------------------------
 */

table {
  @include respond-to(smallonly) {
    margin-top: 15px;
  }
}

table.table-striped, .table-striped>tbody {
  @include respond-to(smallonly) { //mobile friendly magic
    display: block;
    width: 100%;
    & thead, & tr, & th, & td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    & tr {
      border-bottom: 1px solid #eee;
    }
    & td {
      border: none;
      margin-bottom: 6px;
      color: #444;
    }
  }
}

thead th {
  white-space: nowrap;
}

.distinct-list { //table base
  a {
    color: #8a4a20;
  }
  .material-icons, .fa {
    padding-right: 10px;
    &.floorplan {
      font-size: 1.1em;
      padding-right: 5px;
    }
  }
  &>tbody>tr {
    &:last-child {
      border-bottom: 2px solid #ADB17D;
    }
  }
  @include respond-to(medium) {
    margin-top: 0;
  }
}

thead a {
  color: #000036;
  font-weight: 400;
  text-decoration: underline;
}

tbody a {
  color: #32327f;
  text-decoration: underline;
}

.etable {
  a[href*="events.uchicago"] {
    font-size: 1.05em;
    font-weight: 600;
    a[href*=register] {
      color: red;
    }
    &:after {
      content: "\0020\F08E";
      font-family: FontAwesome;
      font-size: 0.8em;
      padding-left: 0.5em;
      display: inline-block;
    }
  }
}

tr.etable-header, th.etable-header, table.etable thead {
  border-bottom: 2px solid #ADB17D;
  background-color: #c5c8a4 !important;
  @include respond-to(smallonly) {
    display: inline-block;
    width: inherit;
  }
}

table.etable>thead>tr>th {
  border-bottom: 0;
}

table.etable>tbody>tr {
  &:last-child {
    border-bottom: 2px solid #ADB17D;
  }
  &>td:last-child {
    vertical-align:middle;
    white-space:nowrap;
    @include respond-to(medium) {
      padding-right: 10px;
    }
    @include respond-to(large) {
      padding-right: 10px;
    }
  }
}

.quicktable { // "Quick reference" on top of direcotry table/list
  margin: 10px 0 0;
  &>tbody>tr {
    @extend .currentlist;
    &>td:first-child {
      color:$maroon;
      font-weight:600;
    }
  }
}

.headline { // Headers for "Browse" and "Limit" dropdowns and toggles
  color:$maroon;
  font-weight:600;
}

.scrc-list {
  @extend .distinct-list;
  margin-top: 1em;
  @include respond-to(small) {
    &>tbody>tr>td:first-child {
        width: 30%;
        padding: 15px 30px;
    }
    &>tbody>tr>td:nth-child(2) {
        padding-left: 15px;
    }
  }
}

.block-staff_listing {
  ul {
    padding-left: 0;
  }
  li {
    line-height: 2em;
    list-style: none;
  }
}

//East Asia table

#p-3765 .table { 
  @include respond-to(small) {
     width: 25em;
  }
  &>tbody>tr>td {
    @include respond-to(small) {
      width: 50%;
    }
  }
}

#p-3765 .table>tbody>tr>td:first-child, #p-3765 .table>thead>tr>th:first-child {
  @include respond-to(small) {
    padding-right: 3em;
    text-align: right;
  }
}

/*
 * Mini Search (For Browse / Lists / Tables)
 * --------------------------------------------------
 */

.searchbox{
  position:relative;
  min-width:30px;
  margin:5px 0 10px 0;
  width: 100%;
  height:30px;
  float:right;
  @include respond-to(small) {
    margin:15px 0 10px 0;
  }
}

.searchbox-input{
    top:0;
    right:0;
    border:0;
    outline:0;
    background:#dcddd8;
    width:100%;
    height:30px;
    margin:0;
    padding:0px 55px 0px 20px;
    font-size:1em;
    color:$maroon;
}

.searchbox-icon,
.searchbox-submit,
.searchbox > input[type="submit"] {
    content: "\f002";
    width:30px;
    height:30px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    font-size:1em;
    right:0;
    padding:0;
    margin:0;
    border:0;
    outline:0;
    line-height:30px;
    text-align:center;
    cursor:pointer;
    color:#ddd;
    background:$maroon;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: $maroon;
}

.distinct-search {
  padding: 15px 30px;
  background-color: rgba(210, 205, 204, 0.5);
  border-top: 3px solid #D6D6CE;
  & input.searchbox-input {
    background-color: #fff;
    border: 1px solid #ccc;
  }
  @include respond-to(smallonly) {
    max-width: 90%;
    margin: 0 15px;
  }
}


/*
 * Lightbox Styling
 * --------------------------------------------------
 */

.modal-content {
  -webkit-box-shadow: 0 5px 35px rgba(0,0,0,.8);
  box-shadow: 0 5px 35px rgba(0,0,0,.8);
}

.modal-header {
    padding: 15px 20px 0px 15px;
    border-bottom: none;
    &> .close {
      font-size: 2em;
      opacity: .6;
      &:hover {
        opacity: .5;
      }
    }
}

/*
 *  Index List Page
 * --------------------------------------------------
 */

ul.index-list {
  list-style: none;
  &>li {
    margin: 1em 0;
    padding-left: 0;
    a {
      font-weight: 600;
      color: $ssaorange;
    }
    &>ul.index-list>li { // 2nd Level
      margin: 5px 0;
      padding-left: 0;
      a {
        font-weight: 400;
        color:$darkgray;
      }
      &>ul.index-list>li { // 3rd Level
        a {
          font-weight: 300;
          color: $reggreen;
        }
        &>ul.index-list>li { // 4th Level
          a {
            font-weight: 300;
            color:$darkgray;
            font-style: italic;
          }
        }
      }
    }
  }
}

/*
 * Ask A Librarian Pages
 * --------------------------------------------------
 */
 //Ask a Librarian menu item from global nave is in "navigation.scss"

.libraryh3lp {
  iframe {
    width: 100%;
    height: 400px;
    border: 0px;
    @include respond-to(small) {
      width: 80%;
    }
  }
}

.ask-rightside {
  @extend .distinct-rightside;
  background-color: #fff;
  @include respond-to(medium) {
    background-color: #e7eef2;
    border: none;
    margin-top: 10px;
  }
  ul {
    text-indent: 0;
    margin-left: 0;
    padding-left: 5px;
  }
  i {
    font-size: 1.5em;
    margin: 0.3em 0;
  }
  hr {
    border-top: 1px solid $brightpurple;
  }
}

table.ask {
  @extend .distinct-list;
  a {
    color: $brightpurple;
  }
  &>tbody>tr>td {
    line-height: 1.8em;
    &:last-child { // Targeting "ask button" cells
      text-align: center;
    }
  }
}

a.btn-ask {
  color: #fff!important;
  background-color: $darkgray;
  border-right: 0px;
  padding: 10px 20px;
  margin: 10px 0;
  &:before {
    content: "\f0e5";
    font-family: FontAwesome;
    font-size: 1.2em;
    margin-right: 0.5em;
 }
  &:after {
    content: "Chat Offline";
  }
  &.active {
    background-color: $active;
    &:hover {
      background-color: $reggreen;     
    }
    &:before {
      content: "\f075";
    }
    &:after {
      content: "Chat Now";
    }
  }
  &:hover {
    background-color: $darkneutral;     
  }
}

/*
 * Hours (Mods to LibCal Feed)
 * --------------------------------------------------
 */

.s-lc-whw {
  width: 100%;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: transparent;
  border-bottom: none;
  border-left: none;
  border-collapse: collapse;
  border-spacing: 0;
  & thead {
    background-color: #c5c8a4;
    color: #000;
    &>tr>th {
      vertical-align: bottom;
      border-bottom: 2px solid #ADB17D;
      padding: 5px;
    }
  }
  & th {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }
  & td {
    @include respond-to(smllonly) {
      white-space: nowrap;
    }
  }
  &>tbody>tr {
    &>td {
      padding: 5px;
      &:first-child {
        @include respond-to(small) {
          border-right: 1px solid #c5c8a4;
        }
        @include respond-to(medium) {
          min-width: 150px;
        }
      }
    }
    &:nth-of-type(even) {
      background-color: #f9f9f9;
    }
    &:last-child {
      border-bottom:2px solid #ADB17D;
    }
  }
}

.s-lc-whw-head-date {
  color: $darkgray;
  font-style: italic;
}

.s-lc-whw-today-h {
  background-color: #ADB17D;
}

.s-lc-whw-today {
  background-color: #edeee3;
}

.s-lc-whw-locname {
  font-weight: bold;
}

.s-lc-whw-sublocname {
  padding-left: 10px!important;
}

.s-lc-whw-footnote {
  color: #555;
  font-size: 80%;
  & td:hover {
    background-color:#fff!important;
  }
}

.s-lc-whw-pr, .s-lc-whw-ne{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

.s-lc-whw-pr:disabled, .s-lc-whw-ne:disabled {
  background-color: #efefef;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.hours-today tr {
  border-bottom: 1px solid #b8aab1;
  & td {
    width: 100%;
    display: list-item;
    list-style: none;
    &:first-child {
      color: $active-hover;
      padding: 5px 0 3px 0;
    }
    &:last-child {
      padding: 0 0 5px 0;
    }
  }
}

.s-lc-whw-cont>.table-responsive {
  &>table>tbody>tr>td {
    white-space: normal;
    @include respond-to(smallonly) {
      white-space: normal;
      width: 10%;
      max-width: 100px;
      margin-bottom: 15px;
      overflow-y: hidden;
      overflow-x: scroll;
      -ms-overflow-style:
      -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
      -webkit-overflow-scrolling: touch;
    }
  }
  @include respond-to(medium) {
    border: 0;
  }
 }

//Quick Fix for showing all days
//  .s-lc-whw>thead>tr>th:not(.s-lc-whw-today-h):not(.s-lc-whw-bh), .s-lc-whw>tbody>tr>td:not(.s-lc-whw-today):not(.s-lc-whw-locname):not(.s-lc-whw-sublocname) {
//   @include respond-to(smallonly) {
//     display: none;
//   }
// }

.s-lc-whw>thead>tr>th, .s-lc-whw>tbody>tr>th {
    display: table-cell;
}

th.s-lc-whw-bh {
  text-align: left;
  white-space: nowrap;
  @include respond-to(smallonly) {
    background-color: #ADB17D;
  }
  // & button {  ////// Quick Fix to show all days
  //   @include respond-to(smallonly) {
  //     display: none;
  //   }
  // }
}

/*
 * Agenda (Conferences)
 * --------------------------------------------------
 */

.agenda {
  padding: 0;
}

.agenda-header {
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
}

.end-time {
 padding-right: 10px;
 &:before {
   content: "\2013\0020";
 }
}

.agenda-body {
  padding: 0;
  &>.row {
    padding-top: 10px;
  }
}

.location {
  padding: 0;
  color: $darkgray;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 600;
}

.session-title {
  padding-left: 15px;
  @include respond-to(small) {
    padding-left: 0;
    margin-left: -10px;
  }

}

.session-subtitle {
  color: $darkgray;
  font-size: 1.1em;
  font-weight: 600;
  padding-right: 20px;
}

.agenda-body {
  padding-left: 2.2em;
  @include respond-to(small) {
    padding-left: 0;
  }
}

.agenda-presenters {
  color: #635D5A;
  font-size: 1em;
  font-weight: 600;
  padding-right: 20px;
}


/*
 * Event Calendar List
 * --------------------------------------------------
 */

td.time, td.event-nav {
    white-space: nowrap;
}

.event-nav {
  padding-bottom: 15px;
  @include respond-to(small) {
    text-align: right;
  }
  & a {
    color: $darkgray;
  }
}

.event-time {
  font-weight: 400;
  display: block;
  font-style: italic;
}


/*
 * Spaces
 * --------------------------------------------------
 */

.featured {
  color: $mansuetogreen;
  font-size: 1.1em;
  & a {
    color: $reggreen;
  }
  .material-icons, .fa {
    padding: 0 3px 0 15px;
    font-size: 1.2em;
    color: $active;
    a {
      color: $active;
    }
  }
}

.spaces-dropdown {
  padding-top: 15px;
}

.spaces-toggle {
    padding: 15px 0;
}

.img-spaces { // Div holding photos in individual space pages
  padding: 0 10px 0 0;
  img {
    margin-bottom: 15px;
  }
}

.spacelist {
  @extend .distinct-list;
  @include respond-to(small) {
    &>tbody>tr>td {
      &:nth-child(2), &:nth-child(3) {
        width: 25%;
      }
      &:last-child {
        padding-right: 15px;
      }
    }
  }
  img {
    max-width: 150px;
    @include respond-to(small) {
      max-width: 100px;
    }
    @include respond-to(medium) {
      max-width: 200px;
    }
  }
}

.space-computers { // computers available
  font-weight: 600;
  color: $reggreen;
  line-height: 3em;
}

.features-list {
  line-height: 2em;
  list-style: none;
}

.locations-list {
  border-bottom: 1px solid #b8aab1;
  &>div {
    padding: 0 1em 0 0;
  }
  img {
    margin-bottom: 1em;
  }
}

.btn-reserve {  //Reserve a room link
  color: #fff;
  letter-spacing: 0.1em;
  background-color: #58593F;
  border-right: 0px;
  margin: 5px 0 15px;
  padding: 5px 20px;
  &:before {
      color: #fff;
      content: "\f271";
      font-family: FontAwesome;
      font-size: 1.2em;
      line-height: 0.1em;
      margin-right: 0.5em;
    }
  &:hover {
      color: #fff;
      background-color: $active-hover;
  }
}

/*
 * Collections & Exhibits
 * --------------------------------------------------
 */

.rightside.coll-rightside {
  @extend .distinct-rightside;
  border: none;
  h2 {
    color: $reggreen;
    font-weight: 600;
  }
  ul {
    padding-left: 2em;
    text-indent: -2em;
    margin-bottom: 10px;
  }
}

.listings-dropdown {
  margin-top: 0;
  background-color: $hovercalm;
  min-width: 200px;
  color: #000;
  border-radius: 0;
  &>ul>li>a {
    color: #262626;
    font-size: 1em;
    &:hover {
      color: $darkgray;
      text-decoration: none;
      background-color: $hovercalmlight;
    }
  }
}

.coll-dropdown {
  margin-bottom: 15px;
  @include respond-to(medium) {
    padding: 0px 14px 10px 14px;
  }
}

.coll-checkbox {
padding: 10px 0px 0px 15px;
  @include respond-to(small) {
    padding: 5px 10px 5px 10px;
  }
}

.btn-morecoll {
  @extend .btn-morelink;
  background: $hovercalm;
  border-color: #a0a282;
}

.btn-coll-link {
  font-size: 0.9em;
  background: transparent;
  border: 1px solid #a0a282;
  border-radius: 0;
  padding: 6px 12px;
  margin-bottom: 20px;
}

.coll-list {
  @extend .distinct-list;
  @include respond-to(small) {
    & img {
      max-width: 100px;
    }
    &>tbody>tr>td:nth-child(2) {
        padding-left: 15px;
    }
    &>tbody>tr>td:nth-child(3), &>tbody>tr>td:nth-child(4) {
        width: 25%;
    }
  }
}

.currentlist {
  background-color: $hovercalm;
  &:nth-of-type(odd) {
      background-color: $hovercalmlight!important;
  }
}

tr.seealso {
  background-color: #eeeeeb!important;
  td {
    font-style: italic;
  }
}

p.acknowledgments {
  font-style: italic;
  color: #6d2f6a;
  font-size: 1.2em;
}

/*
 * Directory
 * --------------------------------------------------
 */

 .directory-list {
  @extend .distinct-list;
  & img {
    @include desaturate;
    max-width: 7em;
  }
  &>tbody>tr>td {
    &:nth-child(2) {
      padding-left: 15px;
    }
    @include respond-to(small) {
      &:nth-child(3), &:nth-child(4) {
        width: 25%;
      }
    }
    @include respond-to(smallonly) {
      padding-left: 15px;
    }
  }
 }

.guide-link {
  line-height:2.2em;
  &:before {
    content: "\f0f6";
    font-family: FontAwesome;
    font-size: 1em;
    margin-right: 0.5em;
  }
}

.list-view, .coll-limit { // "Switch to [...] view"
  padding: 5px 15px;
  @include respond-to(small) {
    text-align: right;
    padding: 5px 15px 10px 0;
  }
  a {
    color: $darkgray;
  }
}

/*
 * Staff Profile Page
 * --------------------------------------------------
 */

.flex-sidebar {  // right sidebar that has push/pull div properties
  @extend .rightside;
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  @include respond-to(small) {
    display: block;
    flex-wrap: nowrap;
  }
}

.staff-profile { //Staff Page, Photo
  @include respond-to(smallonly) {
    padding: 0 3em 1.2em 3em;
  }
}


/*
 * Page Specific Alterations
 * --------------------------------------------------
 */

.block-paragraph > .rich-text { // Giving Pages
  #p-3413 &, #p-3415 &, #p-3417 &, #p-3418 &, #p-3419 & {
    @include respond-to(small) {
      overflow: hidden;
    }
  }
}


/*
 * Temporary until all web exhibits are migrated over
 * --------------------------------------------------
 */

.collex-loc {
    background-color: #eee;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
}



