{% extends "base/public_base.html" %}
{% load wagtailimages_tags %}
{% image banner_image original as banner %}
{% load cache compress static wagtailuserbar %}
{% load wagtailcore_tags %}

{% block styles %}
    {% compress css %}
        <link href="{% static "conferences/css/conf.scss" %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
    <style type="text/css">
        .conferencepage .jumbotron, 
        .conferencesubpage .jumbotron {
            {% if banner_image %}
                background: url("{{banner.url}}");
            {% elif primary_branding_color %}
                background:{{primary_branding_color}};
            {% else %}
                background: url("{% static "conferences/images/conference-page-banner.gif" %}");
            {% endif %}

            background-size: cover;
        }
        {% if secondary_branding_color %}
            .conferencepage .jumbotron .overlaywrap,
            .conferencesubpage .jumbotron .overlaywrap { 
                background:{{secondary_branding_color}};
            }
        {% endif %}

    </style>
{% endblock %}

{% block left_sidebar_extras %}
    {% for button in main_registration %}
        <a href="{{button.link}}" class="btn btn-reserve">{{button.button_text}}</a>
    {% endfor %}
{% endblock %}

{% block content %}
    {{self.body}}
{% endblock %}

{% block right_sidebar %}
    {% if conference_logo %}
        <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
            {% image conference_logo width-400 as logo %}
            <img class="conf-logo img-responsive" src="{{logo.url}}" alt="{{logo.alt}}"/>
        </div>
    {% endif %}

    {% if sponsors %}
        <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
            <h4>Sponsors</h4>
            <ul>
            {% for sponsor in sponsors%}
                <li><a href="{{sponsor.link}}">{{sponsor.content}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}  

    {% if organizers %}
       <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
            <h4>Organizers</h4>
            <ul>
            {% for organizer in organizers%}
                <li><a href="{{organizer.link}}">{{organizer.content}}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}        

    {% if secondary_registration_heading or secondary_registration_description or secondary_registration %}
        <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
    {% endif %}
    {% if secondary_registration_heading %}
            <h4>{{secondary_registration_heading}}</h4>
    {% endif %}
    {% if secondary_registration_description %}
            <p>{{secondary_registration_description}}</p>
    {% endif %}
    {% for btn in secondary_registration %}
        <a href="{{btn.link}}" class="btn btn-default">{{btn.button_text}}</a><br/>
    {% endfor %}
    {% if secondary_registration_heading or secondary_registration_description or secondary_registration %}
        </div>
    {% endif %}

{% endblock %}

        




