{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n staticfiles gravatar %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'wagtailstyleguide/css/styleguide.css' %}" type="text/css" />
    {{ example_form.media.css }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        function onSelectChange(trigger, target){
            var trigger_text = trigger.options[trigger.selectedIndex].text;
            if(trigger_text == ''){
                target.disabled = true;
            } else {
                target.disabled = false;
            }
        }
        $( document ).ready(function() {
            var target = document.getElementById('id_role');
            target.disabled = true;
            var trigger = document.getElementById('id_cnetid');
            $(trigger).on('change', function() {
                onSelectChange(trigger, target);
            });
        });
    </script>
{% endblock %}

{% block titletag %}Staff Reporting Form{% endblock %}
{% block bodyclass %}staffreportingform{% endblock %}

{% block content %}
    {% trans "Page Owners Report Form" as title_trans %}
    {% include "wagtailadmin/shared/header.html" with title=title_trans %}

    <div class="nice-padding">
        <h2>Page Owners Report</h2>
        <p>Download a report of pages and ownership information in CSV format. The report will tell you 
        who is the Page Maintainer, Editor, and Content Specialist for every page. Data can be downloaded
        for all pages on the site or restricted by site (Loop/Public) or cnetid and role.</p>
        <ul>
          <li>If no limits are selected, ownership data will be downloadad for all pages in the system.</li>
          <li>If only a staff member is selected, all pages will be returned if <em>any</em> role matches the given staff member.</li>
          <li>If a staff member and role are both selected, only pages where the role is assigned to the given staff member will be returned.</li>
        </ul>
        <form action="{% url 'page_owners_report' %}" method="POST">
            {% csrf_token %}

            <section id="account" class="active nice-padding">
                <ul class="fields">
                    {% block fields %}
                        {% include "wagtailadmin/shared/field_as_li.html" with field=form.site %}
                        {% include "wagtailadmin/shared/field_as_li.html" with field=form.cnetid %}
                        {% include "wagtailadmin/shared/field_as_li.html" with field=form.role %}
                    {% endblock fields %}
                    <li><input type="submit" value="{% trans 'Download Report' %}" class="button" /></li>
                </ul>
            </section>
        </form>
    </div>
{% endblock %}
