{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailstyleguide/css/styleguide.css' %}" type="text/css" />

    {{ example_form.media.css }}
{% endblock %}

{% block titletag %}Staff Reporting Form{% endblock %}
{% block bodyclass %}staffreportingform{% endblock %}

{% block content %}
    {% trans "Staff Reporting Form" as title_trans %}
    {% include "wagtailadmin/shared/header.html" with title=title_trans %}

    <div class="nice-padding">
        <h2>Staff Reporting</h2>
        <p>Download a staff report in Microsoft Excel format.</p>
        <form action="{% url 'list_staff_wagtail' %}" method="POST">
            {% csrf_token %}
    
            <section id="account" class="active nice-padding">
                <ul class="fields">
                    {% block fields %}
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.filename %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.live %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.cnetid %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.department %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.department_and_subdepartments %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.group %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.latest_revision_created_at %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.supervises_students %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.position_eliminated %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.supervisor_cnetid %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.supervisor_override %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.position_title %}</li>
                    {% endblock fields %}
                    <li><input type="submit" value="{% trans 'Download Report' %}" class="button" /></li>
                </ul>
            </section>
        </form>
    </div>
{% endblock %}

