{% load cache %}
{% load staff_tags %}
{% load wagtailimages_tags %}

{% cache 86400 staff_directory_listing staff_page.cnetid %}
  <article>
      <h3 class="visually-hidden">{{ staff_page.display_name }}</h3>
    <div>
      <h4 class="staff-name"><span class="visually-hidden">About </span>{% staff_public_page_link staff_page %}</h3>
      {% if staff_page.pronouns %}
        <span class="pronouns-listing">{{ staff_page.pronouns }}</span>
      {% endif %}
      <p>
        {{ staff_page.position_title }}<br/>
        <a href=".?view=staff&amp;department={{ staff_page.staff_page_units.first.library_unit.get_full_name|urlencode }}">{{ staff_page.staff_page_units.first.library_unit.title }}</a><br/>
      </p>
    </div>
    <div>
      <h4>Contact<span class="visually-hidden"> {{ staff_page.first_name }}</span></h4>
      {% staff_email_addresses staff_page %}
      {% staff_faculty_exchanges_phone_numbers staff_page %}
      {% staff_libcal_schedules staff_page %}
    </div>
    <div class="sdir-specialties">
      {% if staff_page.staff_subject_placements.all or staff_page.expertise_placements.all %}
      <h4><span class="visually-hidden">{{ staff_page.first_name }}'s </span>Specialties</h4>
      {% endif %}

      {% if staff_page.staff_subject_placements.all %}
        <ul>
          {% staff_subjects staff_page %}
        </ul>
      {% endif %}

      {% if staff_page.expertise_placements.all %}
        <ul>
          {% staff_expertises staff_page %}
        </ul>
      {% endif %}

      {% if staff_page.libguide_url %}
          <a href="{{ staff_page.libguide_url }}" class="guide-link"> Subject Guides</a>
      {% endif %}
    </div>
    <div class="profile-image">
      {% if staff_page.profile_picture %}
          {% image staff_page.profile_picture fill-100x100 %}
      {% else %}
          {% image default_image fill-100x100 %}
      {% endif %}
    </div>
  </article>
{% endcache %}
