{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailstyleguide/css/styleguide.css' %}" type="text/css" />

    {{ example_form.media.css }}
{% endblock %}

{% block titletag %}Thank You{% endblock %}
{% block bodyclass %}staffreportingformthankyou{% endblock %}

{% block content %}
    {% trans "Thank You" as title_trans %}
    {% include "wagtailadmin/shared/header.html" with title=title_trans %}

    <div class="nice-padding">
        <p>Your report is being generated, it will be sent to the email address
            you provided. If it does not arrive in a few minutes please contact
            web-admin@lib.uchicago.edu for support.</p>
    </div>
{% endblock %}

