<div class="col-md-7 col-xs-12 col-sm-12">
    <!-- Split button -->
    <div class="btn-group bg-filter">
      <button style="padding: 5px 15px;" class="btn btn-directory" type="button">{% if library %}{{ library }}{% else %}Library{% endif %}</button>
      <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" style="padding: 5px 10px;" class="btn btn-directory dropdown-toggle" type="button">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href=".?view=staff{% if query %}&query={{ query|urlencode }}{% endif %}">All Libraries</a></li>
        {% for l in libraries %}
          <li><a href=".?view=staff&library={{ l|urlencode }}{% if query %}&query={{ query|urlencode }}{% endif %}">{{ l }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group bg-filter">
      <button style="padding: 5px 15px;" class="btn btn-directory" type="button">Department</button>
      <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" style="padding: 5px 10px;" class="btn btn-directory dropdown-toggle" type="button">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <!-- JEJ PICK UP EHRE -->
        <li><a href="#">Department</a></li>
        {% for d in departments %}
          <li><a href="?view=staff&department={{ d|urlencode }}">{{ d }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <!-- Split button -->
    <div class="btn-group">
      <button style="padding: 5px 15px;" class="btn btn-directory" type="button">Subject Specialty</button>
      <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" style="padding: 5px 10px;" class="btn btn-directory dropdown-toggle" type="button">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Subject Specialty</a></li>
        {% for s in subjects %}
            <li><a href="#">subject</a></li>
        {% endfor %}
      </ul>
    </div>


</div>
