<div class="col-xs-12 coll-dropdown">
  <span class="headline">Browse by</span>
  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-textonly dropdown-toggle" type="button">
      Library{% if library %}: {{ library }}{% endif %} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu listings-dropdown">
      {% if library %}
        <li><a href=".?view=staff{% if query %}&query={{ query|urlencode }}{% endif %}{% if subject %}&subject={{ subject|urlencode }}{% endif %}">All libraries</a></li>
      {% endif %}
      {% for l in libraries %}
        <li><a href=".?view=staff&library={{ l|urlencode }}{% if query %}&query={{ query|urlencode }}{% endif %}{% if subject %}&subject={{ subject|urlencode }}{% endif %}">{{ l }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="btn-group">
    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="btn btn-textonly dropdown-toggle" type="button">
      Subject{% if subject %}: {{ subject }}{% endif %} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu listings-dropdown">
      <li><a href=".?view=staff{% if library %}&library={{ library|urlencode }}{% endif %}{% if query %}&query={{ query|urlencode }}{% endif %}&subject=All+Subject+Specialists">View All Subject Specialists</a></li>
      {% if subject %}
        <li><a href=".?view=staff{% if library %}&library={{ library|urlencode }}{% endif %}{% if query %}&query={{ query|urlencode }}{% endif %}">Browse All Subjects</a></li>
      {% endif %}
      <li class="divider" role="separator"></li>
      {% for s in subjects %}
        <li><a href=".?view=staff{% if library %}&library={{ library|urlencode }}{% endif %}{% if query %}&query={{ query|urlencode }}{% endif %}&subject={{ s|urlencode }}">{{ s }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
