{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-md-12 breadcrumbs">
            <small>
                    <a href="/">Staffweb Home</a>
                    &gt;
                    <a href="/units/">Units</a>
                    &gt;
                    Units
            </small>
        </div>
    </div>
	<article>
		<h1>{{ self.title }}</h1>

    <h2>Department Contact</h2>
    <p>{{ self.location }}</p>
    <p>{{ self.telephone }} | <a href="{{ self.email }}">mailto:{{ self.email }}</a></p>

    <h2>Staff</h2>

    {% for block in self.body %}
        {% if block.block_type == 'h2' %}
            <h2>{{ block.value }}</h2>
        {% elif block.block_type == 'h3' %}
            <h3>{{ block.value }}</h3>
        {% elif block.block_type == 'h4' %}
            <h4>{{ block.value }}</h4>
            {{ block.value|richtext }}
        {% elif block.block_type == 'paragraph' %}
            {{ block.value }}
        {% else %}
            <section class="block-{{ block.block_type }}">
                {{ block }}
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}

