{% extends "base/public_base.html" %}
{% load cache %}
{% load units_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
    <div class="col-xs-12 col-md-9 centermain directory">
      <div class="row">
        <div class="col-xs-12">
          <form action="." class="searchbox" method="GET">
  	        <input name="query" placeholder="Search by name or department" required="required" type="search" aria-label="..." class="searchbox-input" value="{% if query %}{{ query }}{% endif %}"/>
            <span class="searchbox-icon"><i title="search" class="fa fa-search"></i>
              <input type="submit" class="searchbox-submit" style="background-color: transparent; color: transparent;">
            </span>
          </form>
        </div>
 
        <div class="col-xs-12 col-sm-6">
          <div class="btn-group spaces-toggle">
            <a class="btn btn-list-toggle{% if view == 'staff' %} active{% endif %}" style="padding: 5px 15px;" href=".?view=staff">Staff</a>
            <a class="btn btn-list-toggle{% if view == 'department' %} active{% endif %}" style="padding: 5px 15px;" href=".?view=department">Departments</a>
            <a class="btn btn-list-toggle{% if view == 'org' %} active{% endif %}" style="padding: 5px 15px;" href=".?view=org">Org Chart</a>
          </div><!-- /btn-group-->
        </div><!-- / col-xs-12 col-sm-6 -->
        {% if view == 'staff' %} 
          {% include "units/browse_by_pulldowns.html" %}
        {% endif %}
      </div><!-- / row -->

      {% if query %}
        <div class="col-xs-12 sdir" style="padding-top: 0; margin-top: 0">
          <h2><a href="#">Matching Departments</a></h2>
          <div class="col-xs-12 sdir-wrap">
            {% for department in departments %}
              {% include "units/unit_directory_listing.html" %}
            {% empty %}
              <p class="empty-state"><span class="nothing">Sorry, no matches found</span>Need assistance? <a href="https://www.lib.uchicago.edu/research/help/ask-librarian/">Ask a Librarian</a>.</p>
              <span><a class="viewall" href=".?view=department">View all departments</a></span>
            {% endfor %}
          </div>
        </div>

        <table class="table table-striped directory-list">
          <thead>
            <tr class="sdir">
              <td colspan="4">
                <h2>Matching Staff</h2>
              </td>
            </tr>   
          </thead>
          <tbody>
            {% for staff_page in staff_pages %}
              {% include "staff/staff_directory_listing.html" %}
            {% empty %}
              <tr>
                <td colspan="4">
                  <p class="empty-state">
                    <span class="nothing">Sorry, no matches found</span>Need assistance? <a href="https://www.lib.uchicago.edu/research/help/ask-librarian/">Ask a Librarian</a>.
                  </p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% elif view == 'staff' %} 
        <table class="table table-striped directory-list">
          <tbody>
            <tr class="etable-header">
              <td colspan="4">All Staff</td>
            </tr>
            {% for staff_page in staff_pages %}
              {% include "staff/staff_directory_listing.html" %}
            {% endfor %}
          </tbody>
        </table>
      {% elif view == 'department' %}
        {% cache 86400 department_directory_list %}
          {% include "units/unit_division_listing.html" %}
        {% endcache %}
      {% elif view == 'org' %}
        <div style="padding: 2em 0;">
          {% if org_chart_image %}
            {% image org_chart_image original class="img-responsive" %}
          {% endif %}
        </div>
      {% endif %}
    </div><!--/centermain-->
    <div class="col-xs-12 col-md-3 rightside"> <!-- Right Sidebar Content -->
      <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
        <h2>Quick Numbers</h2>
        <ul>
          {% autoescape off %}
            {{quick_nums}}
          {% endautoescape %}
        </ul>
      </div>

      <div class="rightside-mod col-xs-12 col-sm-6 col-md-12">
        <h2>Ask A Librarian</h2>
        <ul>
          <li><a href="https://www.lib.uchicago.edu/research/help/ask-librarian/ask-contact/"><i class="fa fa-envelope-o fa-2x"></i> Email</a></li>
          <li><i class="fa fa-phone fa-2x"></i> 773-702-4685</li>
          <li><a href="https://www.lib.uchicago.edu/research/help/ask-librarian/appointment/"><i class="fa fa-calendar fa-2x"></i> Schedule an Appointment</a></li>
          <li><a href="https://www.lib.uchicago.edu/libraries/libraries-hours/"><i class="fa fa-comments-o fa-2x"></i> Visit</a></li>
        </ul>
      </div>
    </div>
	</article>
{% endblock %}

