{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
		<h1 style="padding: 15px 0 0 0; margin-bottom: 0;">Library Directory</h1>
        <hr/>
        <h3 style="margin:10px 0 20px 0; display: inline;">Departments, Divisions, & Units</h3>
            {% if sort == 'alphabetical' %}
                <a href="?sort=hierarchical"><i class="fa fa-arrows-v"></i>Re-sort by Department Hierarchy</a>
                {{ alphabetical_units|safe }}
            {% else %}
                <a href="?sort=alphabetical"><i class="fa fa-arrows-v"></i>Re-sort Alphabetically</a>
                {{ hierarchical_units|safe }}
            {% endif %}
        </a>
	</article>
{% endblock %}
