{% extends "base/intranet_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}
	<article>
		<h1 style="padding: 15px 0 0 0; margin-bottom: 0;">Library Directory</h1>
        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group bg-directory">
                        <a class="btn btn-directory{% if view == 'department' %} active{% endif %}" style="padding: 5px 15px;" href="?view=department">Department View</a>
                        <a class="btn btn-directory{% if view == 'staff' %} active{% endif %}" style="padding: 5px 15px;" href="?view=staff">Staff View</a>
                    </div><!-- /btn-group-->
                </div><!-- / col-md-6-->
                <div class="col-md-6">
                    <div class="col-xs-12 col-sm-12 col-md-5 bg-directory dir-header">
                        <h4>Search Directory</h4>
                    </div><!-- /.col-lg-3 -->
                    <div style="padding: 15px 0 7px 0;" class="col-xs-12 col-sm-12 col-md-7">
                        <form action="." method="GET">
                            <input name="view" type="hidden" value="{% if view == 'staff' %}staff{% else %}department{% endif %}"/>
                            <div class="input-group">
                                <input type="text" placeholder="professor snape" name="query" aria-label="..." class="form-control" value="{% if query %}{{ query }}{% endif %}"/>
                                <div class="input-group-btn">
                                    <button style="padding: 7px 14px;" class="btn btn-searchtype btn-default">Find </button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </form>
                    </div><!-- /.col-xs-12 -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
            <hr/>
            {% if view == 'department' %}
                <h3 style="margin:10px 20px 20px 0; display: inline;">Departments, Divisions, & Units</h3>
                {% if sort == 'alphabetical' %}
                    <a href="?sort=hierarchical"><i class="fa fa-arrows-v"></i> Re-sort by Department Hierarchy</a>
                    {{ alphabetical_units|safe }}
                {% else %}
                    <a href="?sort=alphabetical"><i class="fa fa-arrows-v"></i> Re-sort Alphabetically</a>
                    {{ hierarchical_units|safe }}
                {% endif %}
            {% elif view == 'staff' %} 
                <div class="col-md-3 col-xs-12 col-sm-12">
                    <h3 style="margin:10px 20px 20px 0;">All Library Staff</h3>
                </div>
                <div class="col-md-2 dir-header">
                    <h4>Browse by</h4>
                </div>
                {% include "units/browse_by_pulldowns.html" %}
                {% if staff_pages %}
                    <table class="table table-striped">
                        <tbody>
                            {% for staff_page in staff_pages %}
                                <tr>
                                    <td>
                                        {# image staff_page.profile_picture #}
                                    </td>
                                    <td>
                                        <strong>{{ staff_page.title }}</strong>
                                        <br/>
                                        {% regroup staff_page.vcards.all by unit as vcards %}
                                        {% for vcard in vcards %}
                                            {{ vcard.grouper.name }}
                                            <br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <strong>Contact</strong>
                                        <br/>
                                        {% regroup staff_page.vcards.all by email as vcards %}
                                        {% for vcard in vcards %}
                                            {% if vcard.grouper != '' %}
                                                <a href="mailto:{{ vcard.grouper }}">{{ vcard.grouper }}</a>
                                                <br/>
                                            {% endif %}
                                        {% endfor %}
                                        {% regroup staff_page.vcards.all by phone_number as vcards %}
                                        {% for vcard in vcards %}
                                            {% if vcard.grouper != '' %}
                                                {{ vcard.grouper }}
                                                <br/>
                                            {% endif %}
                                        {% endfor %}
                                        {% regroup staff_page.vcards.all by faculty_exchange as vcards %}
                                        {% for vcard in vcards %}
                                            {% if vcard.grouper != '' %}
                                                {{ vcard.grouper }}
                                                <br/>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% if query %}
                        <p>There are no results for your search.</p>
                    {% endif %}
                {% endif %}

                {% if staff_pages.has_previous %}
                    <a href=".?view=staff&amp;page={{ staff_pages.previous_page_number }}">Previous</a>
                {% endif %}
                {% if staff_pages.has_previous and staff_pages.has_next %} 
                    | 
                {% endif %}
                {% if staff_pages.has_next %}
                    <a href=".?view=staff&amp;page={{ staff_pages.next_page_number }}">Next</a>
                {% endif %}
            {% endif %}
            </a>
        </div><!-- /.col-sm-12 -->
	</article>
{% endblock %}
