{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n static %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailstyleguide/css/styleguide.css' %}" type="text/css" />

    {{ example_form.media.css }}
{% endblock %}

{% block titletag %}Unit Reporting Form{% endblock %}
{% block bodyclass %}unitreportingform{% endblock %}

{% block content %}
    {% trans "Unit Reporting Form" as title_trans %}
    {% include "wagtailadmin/shared/header.html" with title=title_trans %}

    <div class="nice-padding">
        <h2>Unit Reporting</h2>
        <p>Download a unit report in Microsoft Excel format. The spreadsheet
will contain a worksheet for this report and a worksheet listing the units that
are present in the Library directory but not in the campus directory, and vice
versa.</p>
        <form action="{% url 'list_units_wagtail' %}" method="POST">
            {% csrf_token %}
    
            <section id="account" class="active nice-padding">
                <ul class="fields">
                    {% block fields %}
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.filename %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.live %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.display_in_campus_directory %}</li>
                        <li>{% include "wagtailadmin/shared/field.html" with field=form.latest_revision_created_at %}</li>
                    {% endblock fields %}
                    <li><input type="submit" value="{% trans 'Download Report' %}" class="button" /></li>
                </ul>
            </section>
        </form>
    </div>
{% endblock %}

