{% extends "base/public_base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="col-xs-12 centermain" style="padding-top:2em;">
    <h1>Page not found</h1>
    <p>You may have an outdated bookmark or we have a broken link.</p>

    <h2>We think we can help you</h2>
    <p>Try one of the links below:</p>
    <ul>
    	<li><a href="https://www.lib.uchicago.edu/research/help/ask-librarian/">Ask a Librarian</a></li>
        <li><a href="https://www.lib.uchicago.edu/collex/">Library Digital Collections</a></li>
    	<li><a href="https://www.lib.uchicago.edu/">Library Homepage</a></li>
    </ul>

    <h2>Help us help you</h2>
    <p>Let us know that we have a missing page. We will do our best to rectify the issue.</p>
</div>
{% endblock %}
