{% extends extention %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="col-xs-12 centermain" style="padding-top:2em;">
    <h1>Page not found</h1>
    <p>You may have an outdated bookmark or we have a broken link.</p>

    <h2>We think we can help you</h2>
    <p>Try one of the links below:</p>

    <ul>
      {% for link in links %}
      	<li><a href={{ link.url }} > {{ link.text }}</a></li>
	{% endfor %}
    </ul>

    <h2>Help us help you</h2>
    <p>{{ helptext }}</p>
</div>
{% endblock %}
