.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion::after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: '\2212';
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

li.inline {
  display: inline;
  margin: 5px;
  font-size: 18px;
}
