{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
  <article>

    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group spaces-toggle">
          <a class="btn btn-list-toggle{% if view == 'title' %} active{% endif %}" href="?view=title">By Title</a>
          <a class="btn btn-list-toggle{% if view == 'topics' %} active{% endif %}" href="?view=topics">By Topic</a>
          <a class="btn btn-list-toggle{% if view == 'digitized' %} active{% endif %}" href="?view=digitized">With Digital Content</a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-offset-3 distinct-search">
        <form action="." class="searchbox" method="get">
          <input type="search" required="" onkeyup="buttonUp();" class="searchbox-input" name="searchq" placeholder="Search finding aids"{% if searchq %} value="{{ searchq }}"{% endif %}/>
          <span class="searchbox-icon"><i title="search" class="fa fa-search"></i>
            <input type="submit" class="searchbox-submit" style="background-color: transparent; color: transparent;"/>
          </span>
        </form>
     
        <!-- 
          <span class="headline">Limit to</span> &nbsp;
          <input type="checkbox" value="ebooks" id="checkboxebooks"> Digitized Content
        -->
      </div>

      <div class="col-xs-12 btn-alpha">
        <div class="btn-group btn-group-sm">
          {% for b in browselinks %}
            {% if browse and b == browse %}
              {{ b }}
            {% else %}
              <a href=".?view=title&amp;browse={{ b|urlencode }}">{{ b }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% if view == 'title' %}

      {% if searchq %}

        {% if searchresults %}

          <table class="table table-striped scrc-list">
            <thead>
              <tr class="etable-header">
                <th colspan="1">
                  {{ searchresultcount }} documents match your search for <em>{{ searchq }}</em>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for r in searchresults %}
                <tr>
                  <td colspan="1">
                    <h3><a target="_blank" href="http://www.lib.uchicago.edu/e/scrc/findingaids/view.php?eadid={{ r.eadid|urlencode }}&amp;q={{ searchq|urlencode }}">{{ r.title }}</a></h3>
                    <p>{{ r.abstract }}</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
  
        {% else %}
  
          <table class="table table-striped scrc-list">
            <thead>
              <tr class="etable-header">
                <th colspan="1">
                  There were no results for your search.
                </th>
              </tr>
            </thead>
          </table>

        {% endif %}
  
      {% else %}

	  {% if browses %}
	    <table class="table table-striped scrc-list">
	      <thead>
		<tr class="etable-header">
		  <th colspan="1">
		    {% if browse %}
		      All Finding Aids beginning with "{{ browse }}"
		    {% else %}
		      All Finding Aids
		    {% endif %}
		  </th>
		</tr>
	      </thead>
	      <tbody>
		{% for b in browses %}
		  <tr>
		    <td><strong><a target="_blank" href="http://www.lib.uchicago.edu/e/scrc/findingaids/view.php?eadid={{ b.0|urlencode }}">{{ b.1 }}</a></strong></td>
		  </tr>
		{% endfor %}
	      </tbody>
	    </table>
	  {% else %}
	    {% include "findingaids/marklogic_error.html" %}
	  {% endif %}
    
      {% endif %}

    {% elif view == 'topics' %}

      {% if topic and thistopiclist %}

        <table class="table table-striped scrc-list">
          <thead>
            <tr class="etable-header">
              <th colspan="1">
                {{ topic }}
              </th>
            </tr>
          </thead>
          <tbody>
            {% for t in thistopiclist %}
              <tr>
                <td>
                  <h3><a target="_blank" href="http://www.lib.uchicago.edu/e/scrc/findingaids/view.php?eadid={{ t.0|urlencode }}">{{ t.1 }}</a></h3>
                  <p>{{ t.2 }}</p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% elif topiclist %}

        <table class="table table-striped scrc-list">
          <thead>
            <tr class="etable-header">
              <th colspan="1">
                Browse Finding Aids by Topic
              </th>
            </tr>
          </thead>
          <tbody>
            {% for t in topiclist %}
              <tr>
                <td><strong><a href=".?topic={{ t.0|urlencode }}&amp;view=topics">{{ t.0 }} ({{ t.1 }})</a></strong></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}
	{% include "findingaids/marklogic_error.html" %}
      {% endif %}

    {% elif view == 'digitized' %}

      {% if digitizedlist %}
      <table class="table table-striped scrc-list">
        <thead>
          <tr class="etable-header">
            <th colspan="1">
              Browse Finding Aids with Digitized Content
            </th>
          </tr>
        </thead>
        <tbody>
          {% for d in digitizedlist %}
            <tr>
              <td>
                <strong><a target="_blank" href="http://www.lib.uchicago.edu/e/scrc/findingaids/view.php?eadid={{ d.0|urlencode }}">{{ d.1 }}</a></strong><br/>
                {{ d.2 }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        {% include "findingaids/marklogic_error.html" %}
      {% endif %}

    {% else %}


    {% endif %}
  </article>
{% endblock %}
