{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
  <article>
    <form action="." method="get">
      <p>
        Search for 
        <input name="searchq" type="text"/>
        <input name="digitized" type="checkbox"> search this exact phrase
      </p>
    </form>

    <p>
      <a href="?browse=A">All Finding Aids</a><br/>
      <a href="?topics=all">By Topic</a><br/>
      <a href="?digitized=all">Finding Aids with Digitized Content</a>
    </p>

    {% if digitized %}
      <h2>Browse Finding Aids with Digitized Content</h2>
      <ul>
        {% for d in digitizedlist %}
          <h3><a href=""><a href="http://www.lib.uchicago.edu/e/scrc/findingaids/view.php?eadid={{ d.0|urlencode }}">{{ d.1 }}</a></h3>
          <p>{{ d.2 }}</p>
        {% endfor %}
      </ul>

    {% elif topic %}

      <h2>{{ topic }}</h2>
      <ul>
        {% for t in thistopiclist %}
          <h3><a href="http://www.lib.uchicago.edu/e/scrc/findingaids/view.php?eadid={{ t.0|urlencode }}">{{ t.1 }}</a></h3>
          <p>{{ t.2 }}</p>
        {% endfor %}
      </ul>

    {% elif topics %}

      <h2>Browse Finding Aids by Topic</h2>
      <ul> 
        {% for t in topiclist %}
          <li><a href=".?topic={{ t.0|urlencode }}">{{ t.0 }} ({{ t.1 }})</a></li>
        {% endfor %}
      </ul>

    {% else %}

      <h2>Browse all Finding Aids</h2>
      <p>
        {% for b in browselinks %}
          {% if browse and b == browse %}
            {{ b }}
          {% else %}
            <a href=".?browse={{ b|urlencode }}">{{ b }}</a>
          {% endif %}
          {% if not forloop.last %} | {% endif %}
        {% endfor %}
      </p>
      <ul> 
        {% for b in browses %}
          <li><a href=".?view={{ b.0|urlencode }}">{{ b.1 }}</a></li>
        {% endfor %}
      </ul>

    {% endif %}
  </article>
{% endblock %}
