{% extends "base/public_base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 distinct-search" style="display: flex ; flex-direction: column;">
            <form action="." class="searchbox" method="get">
                <input type="search" required="" onkeyup="buttonUp();" class="searchbox-input" name="searchq" placeholder="Search finding aids"{% if searchq %} value="{{ searchq }}"{% endif %}/>
                <span class="searchbox-icon"><i title="search" class="fa fa-search"></i>
                    <input type="submit" class="searchbox-submit" style="background-color: transparent; color: transparent;"/>
                </span>
            </form>
            <div class="btn-group spaces-toggle" style="display: flex; flex-wrap: wrap;">
                <a class="btn btn-list-toggle{% if view == 'title' %} active{% endif %}" href="?view=title&browse=all" style="flex-grow: 1;margin-bottom:.5em;">By Title</a>
                <a class="btn btn-list-toggle{% if view == 'topics' %} active{% endif %}" href="?view=topics" style="flex-grow: 1;margin-bottom:.5em;">By Topic</a>
                <a class="btn btn-list-toggle{% if view == 'digitized' %} active{% endif %}" href="?view=digitized" style="flex-grow: 1;margin-bottom:.5em;">With Digital Content</a>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="padding-top:1em!important">
        <!-- just padding -->
    </div>

    <!-- case 1: user has just entered a search term -->
    {% if searchq %}
        {% if searchresults %}
            <div class="col-md-12" style="padding-top:1em!important">
                <!-- just padding -->
            </div>
            <table class="table table-striped scrc-list">
                <thead>
                    <tr class="etable-header">
                        <th colspan="1">
                            {{ searchresultcount }} documents match your search for <em>{{ searchq }}</em>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in searchresults %}
                        <tr>
                            <td colspan="1">
                                <h3><a target="_blank" href="{{ e_url }}{{ r.eadid|urlencode }}&amp;q={{ searchq|urlencode }}">{{ r.title }}</a></h3>
                                <p>{{ r.abstract }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="table table-striped scrc-list">
                <thead>
                    <tr class="etable-header">
                        <th colspan="1">
                            There were no results for your search.
                        </th>
                    </tr>
                </thead>
            </table>
        {% endif %}

    <!-- case 2: user is browsing by title -->
    {% elif page_obj and view == 'title' %}
            <ul class="text-center pagination justify-content-center">
                <li class="active">
                    <a href="{{ root_url }}?view=title&browse=all">ALL</a>
                </li>
                {% for b in browselinks %}
                    {% if browse == b %}
                        <li class="active">
                            <a href="{{ root_url }}?view=title&amp;browse={{ b|urlencode }}">{{ b }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ root_url }}?view=title&amp;browse={{ b|urlencode }}">{{ b }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        <table class="table table-striped scrc-list">
            <thead>
		{% if browse == 'all' %}
                <tr class="etable-header"> <th colspan="1"> All Finding Aids </th> </tr>
		{% else %}
		<tr class="etable-header"> <th colspan="1"> All Finding Aids beginning with "{{ browse }}" </th> </tr>
		{% endif %}
            </thead>
            <tbody>
                {% for b0, b1 in page_obj %}
                    <tr>
                        <td>
                            <strong>
                                <a target="_blank" href="{{ e_url }}{{ b0|urlencode }}">{{ b1 }}</a>
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	<!-- show pagination only when 'all' is selected -->
	{% if browse == 'all' %}
        <ul class="text-center pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="{{ root_link }}?view=title&browse=all&page={{ previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
            <li><a href="{{ root_link }}?view=title&browse=all&page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li><a href="{{ root_link }}?view=title&browse=all&page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        <div class="text-primary col-md-12">
            page {{ page_obj.number }} of {{ num_pages }}
            <div class="col-md-12">
                <!-- more padding -->
                <p/>
            </div>
        </div>
	{% endif %}

    <!-- case 3: user is looking at browses by topic -->
    {% elif view == 'topics' %}
        {% if thistopiclist %} 	<!-- the user has clicked on a specific topic browse -->
            <table class="table table-striped scrc-list">
                <thead>
                    <tr class="etable-header">
                        <th colspan="1">
                            {{ topic }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for t0, t1, t2 in thistopiclist %}
                        <tr>
                            <td>
                                <h3><a target="_blank" href="{{ e_url }}{{ t0|urlencode }}">{{ t1 }}</a></h3>
                                <p>{{ t2 }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif topiclist %}  <!-- the user has NOT clicked on a specific topic browse -->
            <table class="table table-striped scrc-list">
                <thead>
                    <tr class="etable-header">
                        <th colspan="1">
                            Browse Finding Aids by Topic
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in topiclist %}
                        <tr>
                            <td><strong><a href=".?topic={{ t.0|urlencode }}&amp;view=topics">{{ t.0 }} ({{ t.1 }})</a></strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    <!-- case 4: user is looking at digital content -->
    {% elif view == 'digitized' and digitizedlist %}
        <table class="table table-striped scrc-list">
            <thead>
                <tr class="etable-header">
                    <th colspan="1">
                        Browse Finding Aids with Digitized Content
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for d0, d1, d2 in digitizedlist %}
                    <tr>
                        <td>
                            <strong><a target="_blank" href="{{ e_url }}{{ d0|urlencode }}">{{ d1 }}</a></strong><br/>
                            {{ d2 }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <!-- case 5: there's a problem grabbing the Mark Logic data -->
    {% else %}
        <div class="col-md-12">
            {% include "findingaids/marklogic_error.html" %}
        </div>

    <!-- end of cases 1-5 if/elif/else -->
    {% endif %}
{% endblock %}
