{% extends "intranetbase/base.html" %}
{% load wagtailcore_tags %}
{% load core_homepage_tags %}

{% block content %}
  <div class="row-fluid "> <!-- Main Row -->
    <div class="col-sm-12 col-md-2 swside">
        <h3>Browse this Section</h3>
        <h4>Documents</h4>
        <h4>Resources</h4>
        <h4>Meeting Minutes</h4>
        <h4>Reports</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 swnews">
       <h1>{{ self.title }}</h1>
       {{ self.body|richtext }}
    </div>
  </div> <!-- // Main row -->
{% endblock %}
