name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      TURNSTILE_ENABLED: 'False'
      DIRECTORY_USERNAME: ${{ secrets.DIRECTORY_USERNAME }}
      DIRECTORY_PASSWORD: ${{ secrets.DIRECTORY_PASSWORD }}
      MARKLOGIC_LDR_USER: ${{ secrets.MARKLOGIC_LDR_USER }}
      MARKLOGIC_LDR_PASSWORD: ${{ secrets.MARKLOGIC_LDR_PASSWORD }}
      OWNCLOUD_PASSWORD: ${{ secrets.OWNCLOUD_PASSWORD }}
      GITHUB: ${{ secrets.GITHUB }}

    steps:

    - name: Configure sysctl limits
      run: |
        sudo swapoff -a
        sudo sysctl -w vm.swappiness=1
        sudo sysctl -w fs.file-max=262144
        sudo sysctl -w vm.max_map_count=262144
    - uses: elastic/elastic-github-actions/elasticsearch@master
      with:
        stack-version: 7.17.13

    - uses: actions/checkout@v3

    - name: Start Redis
      uses: supercharge/redis-github-action@1.2.0
      with: 
         redis-version: 6

    - name: Set up Python '3.11'
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
    - run: |
        mkdir -p media/documents
    - name: Run tests
      run: |
        ./manage.py test --parallel
